<div ng-controller="ExportCertificateModalCtrl as exportCertCtrl"
     data-qa="cert-export-modal">
  <div class="modal-header">
    <span class="icon menu-settings"></span>

    <h2>{{ "Generate Signing Request" | translate }}</h2>

    <a class="modal-close-wrap"
       data-qa="cert-export-close-icon"
       ng-click="exportCertCtrl.onCancel()"
       ng-disabled="exportCertCtrl.isExporting">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="exportCertCtrl.alert" data-qa="cert-export-alert"></div>

  <div class="modal-body">
    <ul class="modal-inputs" autofocused>
      <li class="modal-input-item" ng-show="!exportCertCtrl.signingRequest">
        <div class="column-label">
          <label for="exportCertPw">{{ "Password" | translate }}</label>
        </div>

        <div class="column-input">
          <input class="column-input"
                 data-qa="cert-password-input"
                 ng-model="exportCertCtrl.password"
                 ng-disabled="exportCertCtrl.isExporting"
                 id="exportCertPw"
                 type="password"/>
        </div>
      </li>

      <li class="modal-input-item" ng-show="exportCertCtrl.signingRequest">
        <textarea cols="31"
                  rows="10"
                  data-qa="cert-signing-request"
                  readonly="readonly"
                  ng-model="exportCertCtrl.signingRequest"
                  style="resize: vertical">
        </textarea>
      </li>
    </ul>
  </div>

  <div class="modal-footer">
    <button
      class="primary large"
      data-qa="cert-export-save"
      type="submit"
      ng-show="!exportCertCtrl.signingRequest"
      ng-click="exportCertCtrl.onExport()">
      <i ng-show="exportCertCtrl.isExporting" class="spinner spinner-orange"></i>
      <span ng-show="!exportCertCtrl.isExporting">{{"Generate" | translate}}</span>
      <em ng-show="exportCertCtrl.isExporting">{{"Generating" | translate}}</em>
    </button>

    <button
      class="primary secondary"
      data-qa="cert-export-cancel"
      ng-class="{'secondary': !exportCertCtrl.signingRequest}"
      ng-click="exportCertCtrl.onCancel()"
      ng-disabled="exportCertCtrl.isExporting">
      <span ng-show="!exportCertCtrl.signingRequest">{{"Cancel" | translate}}</span>
      <span ng-show="exportCertCtrl.signingRequest">{{"Close" | translate}}</span>
    </button>

  </div>
</div>
