<div ng-controller="ReplaceCertificateModalCtrl as replaceCertCtrl"
     data-qa="cert-replace-modal">
  <div class="modal-header">
    <span class="icon menu-settings"></span>

    <h2>{{ "Replace Certificate" | translate }}</h2>

    <a class="modal-close-wrap"
       data-qa="cert-replace-close-icon"
       ng-click="replaceCertCtrl.onClose()"
       ng-disabled="replaceCertCtrl.isReplacing">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="replaceCertCtrl.alert" data-qa="cert-replace-alert"></div>

  <div class="modal-body">
    <ul class="modal-inputs" autofocused>
      <li class="modal-input-item">
        <div class="column-label">
          <label for="replaceCertAlias">{{ "Alias" | translate }}</label>
        </div>

        <div class="column-input">
          <input class="column-input"
                 data-qa="cert-alias-input"
                 ng-model="replaceCertCtrl.alias"
                 ng-disabled="replaceCertCtrl.isReplacing"
                 id="replaceCertAlias"
                 type="text"/>
        </div>
      </li>

      <li class="modal-input-item">
        <div class="column-label">
          <label for="certFileUpload">{{'Certificate File' | translate}}</label>
        </div>

        <div class="column-input">
          <span class="button primary button-file">
            {{ 'Browse...' | translate }}
            <input type="file"
                   class="button primary"
                   id="certFileUpload"
                   data-qa="cert-file-input"
                   files-changed="replaceCertCtrl.onCertFileChanged(files)">
          </span>

          <span data-qa="cert-file-name">{{ replaceCertCtrl.selectedCertName() }}</span>
        </div>
      </li>

      <li class="modal-input-item">
        <div class="column-label">
          <label for="privateKeyUpload" ng-class="{ 'disabled': !replaceCertCtrl.needsPrivateKey() }">{{'Private Key File' | translate}}</label>
        </div>

        <div class="column-input">
          <span class="button primary button-file" ng-disabled="!replaceCertCtrl.needsPrivateKey()">
            {{ 'Browse...' | translate }}
            <input type="file"
                   class="button primary"
                   id="privateKeyUpload"
                   data-qa="cert-private-key-file-input"
                   title="{{ replaceCertCtrl.isPkcs() ? 'A private key file is not necessary for PKCS certificates' : '' | translate }}"
                   ng-disabled="!replaceCertCtrl.needsPrivateKey()"
                   files-changed="replaceCertCtrl.onPrivateKeyFileChanged(files)"/>
          </span>

          <span data-qa="private-key-file-name">{{ replaceCertCtrl.selectedPrivateKeyName() }}</span>
        </div>
      </li>

      <li class="modal-input-item">
        <div class="column-label">
          <label for="replaceCertPw">{{ "Password" | translate }}</label>
        </div>

        <div class="column-input">
          <input class="column-input"
                 data-qa="cert-password-input"
                 ng-model="replaceCertCtrl.password"
                 ng-disabled="replaceCertCtrl.isReplacing"
                 id="replaceCertPw"
                 type="password"/>
        </div>
      </li>
    </ul>
  </div>

  <div class="modal-footer">
    <button
      class="primary large"
      data-qa="cert-replace-save"
      type="submit"
      ng-click="replaceCertCtrl.onReplace()"
      ng-disabled="!replaceCertCtrl.canReplace()">
      <i ng-show="replaceCertCtrl.isReplacing" class="spinner spinner-orange"></i>
      <span ng-show="!replaceCertCtrl.isReplacing">{{"Save" | translate}}</span>
      <em ng-show="replaceCertCtrl.isReplacing">{{"Saving" | translate}}</em>
    </button>

    <button
      class="primary secondary"
      data-qa="cert-replace-cancel"
      ng-click="replaceCertCtrl.onClose()"
      ng-disabled="replaceCertCtrl.isReplacing">
      {{"Cancel" | translate}}
    </button>
  </div>
</div>
