<div ng-controller="ViewCertificateModalCtrl as viewCertCtrl" data-qa="view-certificate-modal">
  <div class="modal-header">
    <span class="icon menu-settings"></span>
    <h2>{{ "View Certificate" | translate }}</h2>
    <a class="modal-close-wrap"
       data-qa="close-modal-close-icon"
       ng-click="viewCertCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <tabs>
    <div class="modal-body">
      <tab-pane tab-title="{{ 'General' | translate }}"
                class="cert-detail general">
        <h2 class="cert-detail-heading" data-qa="cert-detail-heading">
          <span class="icon cert-ico"></span>
          {{ "Certificate Information" | translate }}
        </h2>

        <section class="cert-section">
          <ul>
            <li title="{{ viewCertCtrl.certificate.general.issuedTo }}"
              data-qa="cert-issued-to">
              <strong>{{ "Issued to" | translate }}</strong> {{ viewCertCtrl.certificate.general.issuedTo | truncateString:55 }}
            </li>
            <li title="{{ viewCertCtrl.certificate.general.issuedBy }}"
                data-qa="cert-issued-by">
              <strong>{{ "Issued by" | translate }}</strong> {{ viewCertCtrl.certificate.general.issuedBy | truncateString:55 }}
            </li>
            <li>
              <strong>{{ "Valid from" | translate }}</strong>
              <span data-qa="cert-valid-from">{{ viewCertCtrl.certificate.general.validFrom | asMediumDate }}</span>
              <strong>{{ "to" | translate }}</strong>
              <span data-qa="cert-valid-to">{{ viewCertCtrl.certificate.general.validTo | asMediumDate}}</span>
            </li>
          </ul>
        </section>
      </tab-pane>
      <tab-pane tab-title="{{ 'Details' | translate }}"
                class="cert-detail">
        <div class="cert-detail-prop">
          <table data-qa="cert-property-table">
            <tr ng-repeat="property in viewCertCtrl.certificate.details.properties"
                ng-click="viewCertCtrl.select(property)"
                ng-class="{'selected-property': viewCertCtrl.isSelected(property)}"
                data-qa="property-row">
                <td data-qa="property-key-{{ property.key | spinalCase }}">{{ property.key }}</td>
                <td data-qa="property-value-{{ property.key | spinalCase }}">{{ property.value | truncateString:26 }}</td>
            </tr>
          </table>
        </div>
        <textarea readonly data-qa="cert-property-detail">{{ viewCertCtrl.selectedProperty.detail }}</textarea>
      </tab-pane>
    </div>
  </tabs>


  <div class="modal-footer">
    <button
        class="primary large"
        ng-click="viewCertCtrl.onClose()"
        data-qa="cert-modal-close-btn">
      {{"OK" | translate}}
    </button>
  </div>
</div>
