<div ng-controller="ComposeModalCtrl as composeCtrl" data-id="compose-drop-area">
  <div class="modal-header">
    <span class="icon message-compose"></span>

    <h2 data-id="compose-header">{{'Compose' | translate}}</h2>

    <a class="modal-close-wrap"
       data-id="close-icon"
       ng-disabled="composeCtrl.isSending"
       ng-click="composeCtrl.onCloseClick()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <form data-id="compose-form"
        validation-options="composeCtrl.validationOptions"
        on-submit="composeCtrl.onSendClick()"
        ng-disabled="composeCtrl.isDisabled()"
        on-valid="composeCtrl.onValid()"
        on-invalid-submit="composeCtrl.onInvalid()">
    <div alert="composeCtrl.alert"></div>
    <div class="compose-modal-body" data-qa="compose-modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="compose-to" ng-disabled="composeCtrl.isDisabled()" data-qa="compose-to-label">
              {{'To' | translate}}
            </label>
          </div>

          <div class="column-input">
            <cleo-autocomplete
                autocomplete="composeCtrl.autocomplete"
                autocomplete-choices="composeCtrl.potentialRecipients"
                autocomplete-validate-choice="composeCtrl.validateChoice"
                autocomplete-filter-input-name="compose-to"
                autocomplete-multi-select="true"
                autocomplete-selection="composeCtrl.recipientsEmails"
                autocomplete-selection-property="email"
                autocomplete-display-choice="composeCtrl.displayRecipient"
                autocomplete-display-chosen-option="composeCtrl.displayRecipient"
                autocomplete-display-invalid-choice-reason="composeCtrl.displayInvalidChoiceReason"
                autocomplete-display-new-options-count="composeCtrl.displayNewRecipientsCount"
                autocomplete-disabled="composeCtrl.isDisabled()"
                autofocused>
            </cleo-autocomplete>
          </div>
        </li>

        <li class="modal-input-item">
          <div class="column-label">
            <label for="compose-subject" ng-disabled="composeCtrl.isDisabled()" data-qa="compose-subject-label">
              {{'Subject' | translate}}
            </label>
          </div>

          <div class="column-input">
            <input type="text"
                   class="bordless-input"
                   id="compose-subject"
                   name="subject"
                   data-id="compose-subject"
                   aria-required="true"
                   ng-model="composeCtrl.composeSubject"
                   ng-disabled="composeCtrl.isDisabled()">
          </div>
        </li>

        <li class="modal-input-item">
          <div class="column-label">
            <label for="compose-expiration" ng-disabled="composeCtrl.isDisabled()">
              {{'Expires' | translate}}
            </label>
          </div>

          <div class="column-input">
            <ul class="form-options">
              <li>
                <select2 id="compose-expiration"
                   class="compose-expiration"
                   options="composeCtrl.expirationOptions"
                   selected="composeCtrl.expirationSelection"
                   ng-disabled="composeCtrl.isDisabled()">
                </select2>

                <div class="expiration-controls" data-id="expirations-controls" ng-show="composeCtrl.hasExpiration()">
                  <date-picker date="composeCtrl.expirationDate"
                     validation-name="expirationDate"
                     ng-disabled="composeCtrl.isDisabled()">
                  </date-picker>

                  <time-picker class="expired-time"
                    selected-time="composeCtrl.expirationTime"
                    validation-name="expirationTime"
                    data-id="expirationTime"
                    ng-disabled="composeCtrl.isDisabled()">
                  </time-picker>
                </div>

                <span for="expirationDate" class="invalid"></span>
              </li>
            </ul>
          </div>
        </li>

        <li class="modal-input-item">
          <div class="column-label">
            <label data-id="toggle-dropzone" ng-disabled="composeCtrl.isDisabled()">
              {{'Attachments' | translate}}
              <span class="icon attachment-medium button-file" ng-disabled="composeCtrl.isDisabled()"></span>
            </label>
          </div>

          <div class="column-input"
               data-id="compose-attachments"
               drag-and-drop
               drag-and-drop-type="'UPLOAD_ATTACHMENTS_COMPOSE'"
               drag-and-drop-can-do-drop="!composeCtrl.isDisabled()">
            <div class="compose-drop-area"
                 data-id="drop-area-toggle"
                 data-drop-zone="active"
                 ng-class="{'upload-container-dragging': isDraggingFiles}">
              <span class="icon upload-files-orange-sm"></span>

              {{'Drag files to attach' | translate}}

              <strong>{{'or' | translate}}</strong>

              <span class="button secondary medium-wide button-file">

                {{'Browse' | translate}}

                <input type="file"
                  id="compose-attachments"
                  files-changed="composeCtrl.onAttachmentsChanged(files)"
                  ng-disabled="composeCtrl.isDisabled()"
                  multiple>
              </span>
            </div>

            <ul class="compose-attachments">
              <li ng-repeat="attachment in composeCtrl.selectedAttachments"
                  class="compose-attachments-item"
                  title="{{attachment.hasError ? (attachment.fileName() + ': ' + attachment.errorMessage) : attachment.fileName()}}">
                <div class="progress-overlay" data-id="">
                  <div class="progress-bar"
                       ng-class="{'progress-bar-danger': attachment.hasError, 'progress-bar-animate': !attachment.hasError}"
                       ng-style="{ width: attachment.progressPercent + '%' }">
                  </div>
                </div>

                <div class="compose-attachments-name" data-id="upload-file-name">
                  <span class="icon file-{{attachment.extension() | extensionToIcon}}"></span>
                  {{attachment.fileName()}}
                </div>

                <span ng-show="!composeCtrl.isDisabled()"
                  class="compose-attachments-close"
                  ng-click="composeCtrl.onRemoveAttachmentClick(attachment)">
                  ×
                </span>

                <span ng-show="attachment.isUploading && !attachment.hasError" class="compose-attachments-pct" data-id="compose-attachments-pct">
                  {{attachment.progressPercent}}%
                </span>
              </li>
            </ul>
          </div>
        </li>

        <li class="modal-input-item">
          <textarea class="compose-input"
            placeholder=""
            value=""
            name="comment"
            data-id="comment"
            ng-model="composeCtrl.composeComment"
            ng-disabled="composeCtrl.isDisabled()">
          </textarea>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button ng-show="!composeCtrl.hadSendError"
        class="primary large"
        data-id="send"
        data-qa="send-btn"
        ng-disabled="composeCtrl.isDisabled()">
        <span ng-show="composeCtrl.isSending"
          class="spinner spinner-orange"
          data-id="sending-spinner">
        </span>
        {{'Send' | translate}}
      </button>

      <button class="secondary large"
        data-id="close-modal"
        ng-class="{'primary': composeCtrl.hadSendError, 'secondary': !composeCtrl.hadSendError}"
        ng-click="$event.preventDefault(); composeCtrl.onCloseClick()"
        ng-disabled="composeCtrl.isSending"
        data-qa="cancel-btn">
          {{composeCtrl.hadSendError ? 'Close' : 'Cancel' | translate}}
      </button>
    </div>
  </form>
</div>
