<div ng-controller="DeleteFilesModalCtrl as deleteFilesCtrl">
  <div class="modal-header">
    <span class="icon modal-delete"></span>

    <h2>{{'Delete' | translate}}</h2>

    <a class="modal-close-wrap"
       data-id="close"
       data-qa="close"
       ng-disabled="deleteFilesCtrl.isDeleting"
       ng-click="deleteFilesCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="deleteFilesCtrl.alert" data-id="alert"></div>

  <form>
    <div class="modal-body">
      <p data-id="message">
        {{deleteFilesCtrl.confirmationMessage || 'Please confirm you would like to delete the following:' | translate}}
        <span condensed-list="deleteFilesCtrl.fileNames"></span>
      </p>

      <p ng-show="deleteFilesCtrl.hasFolders" data-id="subfolderNote">
        {{'Note: Deleting subfolders will delete the subfolder and all its contents.' | translate}}
      </p>
    </div>

    <div class="modal-footer">
      <button class="tertiary large"
        data-id="delete"
        data-qa="delete"
        ng-disabled="deleteFilesCtrl.isDeleting"
        ng-click="deleteFilesCtrl.onDelete()">
        <span ng-show="deleteFilesCtrl.isDeleting" class="spinner spinner-orange"></span>
        {{'Delete' | translate}}
      </button>

      <button class="secondary large"
              data-id="close"
              data-qa="close"
              ng-disabled="deleteFilesCtrl.isDeleting"
              ng-click="deleteFilesCtrl.onClose()">
        {{'Cancel' | translate}}
      </button>
    </div>
  </form>
</div>