<div class="container full-height"
     ng-controller="SearchTableCtrl as searchCtrl"
     data-qa="search-results-pane">
  <section class="search-results table-container full-height">
    <header class="file-table-header">

      <span ng-show="searchCtrl.isSearch()" class="icon search"></span>
      <span ng-show="searchCtrl.isRecentItems()" class="icon icon-recent-items"></span>

      <h4 class="search-results--heading" ng-show="searchCtrl.isSearch()">
        <span ng-show="!searchCtrl.isSearching"
              data-qa="search-results-title">
              {{ searchCtrl.getSearchHeaderString() }}
        </span>

        <span ng-show="searchCtrl.isSearching"
              data-qa="searching-results-title"
              translate>
          Searching for "{{ searchCtrl.currentSearchTerm }}"
        </span>
      </h4>

      <h4 class="search-results--heading" ng-show="searchCtrl.isRecentItems()">
        <span ng-show="!searchCtrl.isSearching"
              data-qa="search-recent-results-title">
          {{ searchCtrl.getRecentFilesHeaderString() }}
        </span>

        <span ng-show="searchCtrl.isSearching"
              data-qa="searching-recent-results-title">
          {{ 'Searching for recent files' | translate }}
        </span>
      </h4>
    </header>

    <div alert="searchCtrl.alert" data-qa="search-results-alert"></div>
    <div ng-show="searchCtrl.isSearching" class="overlay loading-overlay" data-qa="search-loading-spinner"></div>

    <table>
      <thead>
        <tr sort
            sort-state="searchCtrl.searchFilter"
            on-sort="searchCtrl.onSort()"
            data-qa="search-header-row">
          <th class="search-results--row-wide"
              sortable="name"
              data-qa="search-header-name">
            {{:: 'Name' | translate }}
          </th>

          <th class="search-results--col-md"
              sortable="parentName"
              data-qa="search-header-folder">
            {{:: 'Folder' | translate }}
          </th>

          <th class="search-results--col-md"
              sortable="lastModified"
              data-qa="search-header-last-modified">
            {{:: 'Modified' | translate }}
          </th>

          <th class="search-results--col-sm"
              sortable="size"
              data-qa="search-header-size">
            {{:: 'Size' | translate }}
          </th>
        <th class="search-results--col-xs"
            data-qa="search-header-display-activity"></th>
        <tr>
      </thead>
    </table>

    <div class="search-results--listing">
      <table data-qa="search-results-table">
        <tbody>
        <tr ng-repeat="item in searchCtrl.items"
            data-qa="search-results-row"
            data-qa-item-id="{{:: item.id }}">
          <td class="search-results-name search-results--col-wide"
              data-qa="search-cell-name">

            <a ng-if="searchCtrl.isItemShare(item) || searchCtrl.isItemFolder(item)"
               class="blue-link"
               title="{{:: item.name }}"
               ng-click="searchCtrl.navigateToSelf(item)"
               data-qa="folder-link">
              <!--The share-ftp icon has some padding baked into it for some reason, so we need to shift it-->
              <span class="icon share-ftp" style="margin-left: -4px; margin-right: 6px;"
                    ng-show="searchCtrl.isItemFtpEnabledShare(item)"
                    title="{{ 'Multi-Protocol Alias: ' + item.ftpSettings.alias }}">
              </span>
              <span class="icon file-{{:: searchCtrl.getItemExtension(item) | extensionToIcon}}"
                    ng-hide="searchCtrl.isItemFtpEnabledShare(item)">
              </span>
              <span ng-bind-html="item.name | highlightText:searchCtrl.currentSearchTerm"></span>
            </a>

            <a ng-if="searchCtrl.isItemFile(item) && item.canDownload"
               class="table-link"
               href="{{:: searchCtrl.getDownloadLink(item) }}"
               title="{{ item.name }}"
               data-qa="file-download-link">
              <!--The share-ftp icon has some padding baked into it for some reason, so we need to shift it-->
              <span class="icon share-ftp" style="margin-left: -4px; margin-right: 6px;"
                    ng-show="searchCtrl.isItemFtpEnabledShare(item)"
                    title="{{ 'Multi-Protocol Alias: ' + item.ftpSettings.alias }}">
              </span>
              <span class="icon file-{{:: searchCtrl.getItemExtension(item) | extensionToIcon}}"
                    ng-hide="searchCtrl.isItemFtpEnabledShare(item)">
              </span>
              <span ng-bind-html="item.name | highlightText:searchCtrl.currentSearchTerm"></span>
            </a>

            <span ng-if="searchCtrl.isItemFile(item) && !item.canDownload"
                  title="{{ item.name }}"
                  data-qa="file-no-download">
              <span class="icon share-ftp" style="margin-left: -4px; margin-right: 6px;"
                    ng-show="searchCtrl.isItemFtpEnabledShare(item)"
                    title="{{ 'Multi-Protocol Alias: ' + item.ftpSettings.alias }}">
              </span>
              <span class="icon file-{{:: searchCtrl.getItemExtension(item) | extensionToIcon}}"
                    ng-hide="searchCtrl.isItemFtpEnabledShare(item)">
              </span>
              <span ng-bind-html="item.name | highlightText:searchCtrl.currentSearchTerm"></span>
            </span>
          </td>

          <td class="search-results-parent search-results--col-md"
              data-qa="search-cell-parent">
            <a ng-click="searchCtrl.onParentClick(item)"
               class="blue-link"
               title="{{ item.parentName}}"
               data-qa="parent-folder-link">
              {{:: searchCtrl.isParentFolderShare(item) ? item.parentName : '/' + (item.parentName || '') }}
            </a>
          </td>

          <td class="search-results--col-md"
              data-qa="search-cell-last-modified">
            {{:: item.lastModified | asMediumTimestamp }}
          </td>

          <td class="search-results--col-sm"
              data-qa="search-cell-size">
            {{:: item.size | bytesToFileSize }}
          </td>

            <td class="search-results--col-xs">
            <span ng-if="searchCtrl.isItemFile(item)"
                  class="popover-more-info-icon icon pulse"
                  ng-click="searchCtrl.onActivityClick($event, item)"
                  data-qa="search-cell-display-activity"
                  title="Click to view file activity">
            </span>
            </td>
        </tr>
        </tbody>
      </table>

      <div popover="searchCtrl.fileActivityPopover" popover-at-mouse="true">
        <file-activity-popover file="searchCtrl.activityFile" collaborators-word="'collaborators'"></file-activity-popover>
      </div>
    </div>
  </section>
</div>