<div ng-controller="ConfirmBlockCtrl as confirmBlockCtrl">
  <p ng-if="confirmBlockCtrl.isBlocking">{{'Please confirm you would like to block ' | translate}}<span condensed-list="confirmBlockCtrl.users" data-qa="confirm-users"></span>.</p>
  <p ng-if="confirmBlockCtrl.isBlocking && !confirmBlockCtrl.areMultipleUsers()">{{'Once blocked, the user will be unable to log in.' | translate}}</p>
  <p ng-if="confirmBlockCtrl.isBlocking && confirmBlockCtrl.areMultipleUsers()">{{'Once blocked, the users will be unable to log in.' | translate}}</p>
  <p ng-if="!confirmBlockCtrl.isBlocking">{{'Please confirm you would like to unblock ' | translate}}<span condensed-list="confirmBlockCtrl.users" data-qa="confirm-users"></span>.</p>
  <p ng-if="!confirmBlockCtrl.isBlocking && !confirmBlockCtrl.areMultipleUsers()">{{'Once unblocked, the user will be able to log in again.' | translate}}</p>
  <p ng-if="!confirmBlockCtrl.isBlocking && confirmBlockCtrl.areMultipleUsers()">{{'Once unblocked, the users will be able to log in again.' | translate}}</p>
</div>
