<div ng-controller="ConfirmDeleteCtrl as confirmDeleteCtrl">
  <p>{{'Please confirm you would like to delete ' | translate}}<span condensed-list="confirmDeleteCtrl.userDisplayNames" data-qa="confirm-users"></span><span ng-if="confirmDeleteCtrl.assignToUser">{{' and assign their folders to ' | translate}}<strong>{{confirmDeleteCtrl.assignToUser | displayName}}</strong></span>.</p>
  <p ng-if="!confirmDeleteCtrl.areMultipleUsers()">{{'Deleting the user will permanently remove them.' | translate}}</p>
  <p ng-if="confirmDeleteCtrl.areMultipleUsers()">{{'Deleting the users will permanently remove them.' | translate}}</p>
</div>
