<div ng-controller="SearchBarCtrl as searchBarCtrl"
     class="app-search--container"
     ng-class="{'app-search__inTrust' : searchBarCtrl.inTrust() }"
     data-qa="search-bar-container">

  <span class="app-search--bar">
    <span class="app-search--bar__control"
          ng-class="{ 'app-search--bar__control__active' : searchBarCtrl.searchTerm,
            'app-search--bar__control__open-inactive' : searchBarCtrl.isSearchOpen && !searchBarCtrl.searchTerm }">
      <span style=""
        class="app-search--btn icon search"
            ng-show="searchBarCtrl.hasSearchTermChanged()"
            ng-click="searchBarCtrl.onSearchIconClick()"
            title="{{ searchBarCtrl.getSearchIconTooltip() }}"
            data-qa="search-icon">
      </span>
      <span ng-show="!searchBarCtrl.hasSearchTermChanged()"
            class="icon icon-filter-clear app-search--btn"
            ng-click="searchBarCtrl.clearSearchTerm()"
            data-qa="clear-search-icon">
      </span>
    </span>
    <input type="text"
           class="app-search--bar__input clear-input-x"
           ng-class="{'app-search--bar__input__active' : searchBarCtrl.isSearchOpen,
                  'app-search--bar__input__inactive': !searchBarCtrl.isSearchOpen}"
           ng-model="searchBarCtrl.searchTerm"
           on-enter="searchBarCtrl.onSearch()"
           focusable="searchBarCtrl.searchBarFocus"
           placeholder="{{ searchBarCtrl.getSearchBarToolTip() }}"
           data-qa="search-bar-input"
           style=""/>
  </span>

  <span ng-include="'scripts/masthead/filterFolders/filterFolders.html'"></span>

  <span class="icon icon-recent-items app-search--btn"
        ng-click="searchBarCtrl.onRecentFilesIconClick()"
        title="{{'My Recent Files' | translate}}"
        data-qa="recent-files-icon">
  </span>
</div>