<div ng-controller="UploadModalCtrl as uploadCtrl">
  <div class="modal-header">
    <span class="icon {{uploadCtrl.icon}}"></span>

    <h2>{{uploadCtrl.title}}</h2>
    <a class="modal-close-wrap" data-qa="close-icon">
      <span class="icon modal-close" ng-click="uploadCtrl.onCancel()" ng-disabled="uploadCtrl.isSaving"></span>
    </a>
  </div>
  <div alert="uploadCtrl.alert" data-id="alert" data-qa="alert"></div>

  <form validation-options="uploadCtrl.formValidationOptions"
        on-submit="uploadCtrl.onDone()"
        on-valid="uploadCtrl.onValid()"
        on-invalid-submit="uploadCtrl.onInvalid()"
        data-qa="upload-form">
    <div class="modal-body">

      <div class="upload-container-modal"
          ng-class="{'upload-container-dragging': isDraggingFiles}"
          data-id="upload-drop-area"
          drag-and-drop
          drag-and-drop-type="'UPLOAD_FILES'"
          drag-and-drop-can-do-drop="!uploadCtrl.isSaving">
        <div data-id="upload-area-container">
          <div ng-show="uploadCtrl.uploads.length <= 0">
            <div class="upload-actions-intro" >
              <h1>{{'Upload files' | translate}}</h1>

              <span class="icon upload-files" data-id="browse"></span>

              <span class="button primary button-file">
                  {{'Browse' | translate}}
                <input type="file"
                  files-changed="uploadCtrl.onFilesChanged(files)"
                  data-id="file-upload"
                  data-qa="file-upload"
                  multiple>
              </span>
              {{'or drop your files' | translate}}
            </div>
          </div>

          <div ng-show="uploadCtrl.uploads.length > 0" class="upload-actions">
            <span class="icon upload-files-small"></span>

            <span class="button primary button-file" data-id="browse" ng-disabled="uploadCtrl.isSaving">
              {{'Browse' | translate}}
              <input type="file" files-changed="uploadCtrl.onFilesChanged(files)" ng-disabled="uploadCtrl.isSaving" data-id="file-upload" multiple>
            </span>
          </div>

        </div>
        <div class="column-input" data-id="compose-attachments">
          <ul class="compose-attachments">
            <li ng-repeat="file in uploadCtrl.uploads"
                class="compose-attachments-item">
              <div class="progress-overlay"
                   data-id="progress-overlay">
                <div data-file-name-progress="{{file.fileName()}}"
                     class="progress-bar"
                     ng-class="{'progress-bar-danger': file.hasError, 'progress-bar-animate': !file.hasError}"
                     ng-style="{ width: file.progressPercent + '%' }">
                </div>
              </div>
              <div class="compose-attachments-name" data-id="upload-file-name" title="{{file.hasError ? (file.fileName() + ': ' + file.errorMessage) : file.fileName()}}">
                <span class="icon file-{{file.extension() | extensionToIcon}}"></span>
                {{file.fileName()}}
              </div>
              <span ng-show="!file.hasError"
                    data-file-name-percent="{{file.fileName()}}"
                    data-id="upload-percent"
                    data-qa="upload-percent"
                    class="compose-attachments-pct">
                {{file.progressPercent}}%
              </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="upload-message-container column-input" ng-if="uploadCtrl.showMessage()" ng-hide="uploadCtrl.uploads.length === 0">
        <h4>{{ 'Message' | translate }}</h4>
        <div class="upload-message-context"
             translate
             translate-comment="John Doe has uploaded 3 file(s) to the folder 'My Folder'!">
          <strong>{{uploadCtrl.getCurrentUser() | displayNameOrPartialEmail}}</strong> has uploaded <strong>{{uploadCtrl.uploads.length}} file(s)</strong> to the folder '{{uploadCtrl.getSelectedShareName()}}'!</div>
        <div char-counter
             str="uploadCtrl.message"
             max-length="{{::uploadCtrl.getMaxMessageLength()}}"
             data-qa="upload-message-counter"></div>
        <textarea id="message"
                  class="comment-message"
                  name="message"
                  placeholder="{{'Add personalized content here' | translate}}"
                  ng-model="uploadCtrl.message"
                  ng-model-options="{ allowInvalid: true }"
                  ng-trim="false"
                  ng-disabled="uploadCtrl.isSaving"
                  ng-focus="uploadCtrl.onMessageFocus()"
                  data-qa="upload-message"></textarea>
      </div>

    </div>

    <div class="modal-footer">
      <button class="primary large" value="submit"
              ng-show="uploadCtrl.anySuccessful && !uploadCtrl.isUploading"
              ng-disabled="uploadCtrl.isSaving"
              data-id="done">
        <span ng-show="uploadCtrl.isSaving" class="spinner spinner-orange"></span>
        {{'Done' | translate}}
      </button>
      <button class="secondary large"
              ng-show="!uploadCtrl.anySuccessful || uploadCtrl.isUploading"
              ng-click="uploadCtrl.onCancel()"
              data-qa="cancel">
        {{'Cancel' | translate}}
      </button>
      <div class="upload-auto-close"
           ng-show="uploadCtrl.isUploading">
        <input id="upload-auto-close"
               type="checkbox"
               ng-model="uploadCtrl.autoClose"
               data-qa="upload-auto-close" />
        <label for="upload-auto-close">{{ 'Close this window when upload(s) complete.' | translate }}</label>
      </div>
    </div>
  </form>
</div>
