<div> <ul class="uib-datepicker-popup dropdown-menu" dropdown-nested ng-if="isOpen" ng-style="{top: position.top + 'px', left: position.left + 'px'}" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()" date-picker-popup-wrapper> <li ng-transclude></li> </ul> </div>