
.desktop {background: #f8fbff !important;}

/* *** TABS *** */

.ui-tabs-selected {			/* overlap the border */
	position:relative;
	z-index:100000;
}

.ui-tabs-panel { background: #f8fbff; border: 0px;}
.border .ui-tabs-panel { border:1px solid #a2bad2;}
		               
.ui-tabs-nav {	margin-top: 1px;}

.ui-tabs-nav li { margin:0 4px;}

.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, 
.ui-tabs-nav .ui-tabs-selected a:hover, .ui-tabs-nav .ui-tabs-selected a:hover span {
	color:#5f5f5f !important; 
	background: #f8fbff;
}

.ui-tabs-nav a {
	border-top: 1px solid #8FAAC4;
	border-right: 1px solid #8FAAC4;
	border-bottom: 0px;
	border-left: 1px solid #8FAAC4;
}

.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span { background: #bbd0eb;}

.ui-tabs-nav a, .ui-tabs-nav a span {
	font-size: 12px;
	background: #D0e0Ee;
	color: #768fa8;
}

.ui-tabs-nav a span {
	padding-top: 2px;
	height: 15px;
	min-height: 15px;
}

.ui-tabs-nav a span img {
	margin-top: -2px;
}

.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav .ui-tabs-selected a span {
    color: #51667c !important;
    background: #f8fbff;
}

ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited {
	border-top: 1px solid #8FAAC4;
	border-right: 1px solid #8FAAC4;
	border-bottom: 0px;
	border-left: 1px solid #8FAAC4;	
}

.ui-tabs-nav .ui-tabs-disabled a span {color:#5f5f5f;}
.ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:hover span {background: #D0e0Ee;}

.ui-tabs-nav .ui-tabs-disabled a {
	border-top: 1px solid #5f5f5f !important;
	border-right: 1px solid #5f5f5f !important;
	border-bottom: 0px !important;
	border-left: 1px solid #5f5f5f !important;
}

/***** Common Styles for Light theme ********/

/* Standard styles FIRST otherwise custom styles don"t override */
html		    {background-color:white; margin:0px; padding:0px;}
body		    {background-color:white; margin:0px; padding:0px; overflow:hidden; font-family:arial,helvetica,espy,sans-serif }
form		    {margin:0px; padding:0px; text-align:left; position:relative; width:100%; height:100%; overflow:hidden;}
table		    {font-family:arial,helvetica,espy,sans-serif; font-size:11px; border:0px; margin:0px; padding:0px; overflow:hidden;}
a:link		    {color:#313840; text-decoration:none; font-family: arial,helvetica,espy,sans-serif; font-size:11px;}		
a:visited	    {color:#313840; text-decoration:none; font-family: arial,helvetica,espy,sans-serif; font-size:11px;}
a:active	    {color:#313840; text-decoration:none; font-family: arial,helvetica,espy,sans-serif; font-size:11px;}
a:hover		    {color:#313840; text-decoration:none; font-family:arial,helvetica,espy,sans-serif; font-size:11px;}
img		        {border:0px;}

/* Menu */
.wcPulldownMenu a, a.menuButton	{color:#313840; font-weight: bold;}
a.menuButton:hover  {color:#313840; background: #bbd0eb;}
a.menuButton:focus {outline: 0px;}
.menuEnd	    {text-align:right;}
.menu, .menuEnd {background: #edf3fa url(../../images/ajaxswing/top-menu-bg.gif) repeat-x 0px 100%; }
.menu tbody tr td {vertical-align: middle}
.menuitem	    {background-color:#78a6e7; color:#313840; font-weight:bold; font-size:11px;}
.menuTextSep 	{border-top: 1px solid #B6C6D8; border-bottom:1px solid #f8fbff; margin: 2px 0px 2px 0px;}
.menuSel	    {}
.menuText, a.menuText { font-weight:normal; font-size:11px; display: block; margin: 0px; padding-top: 4px; padding-left: 12px; padding-right: 12px; padding-bottom: 4px; color:#313840;}
.menuTextGrayed {color: #768FA9; font-size:11px; display: block; margin: 0px; padding-top: 4px; padding-left: 12px; padding-right: 12px; padding-bottom: 4px; }
.menuText a, .submenuText a {color:white;background-color:#6686bc; }
.menuButton	    {color:white;padding:5px 5px 5px 5px;}
.wcPulldownMenu {padding: 0px; position: absolute; text-align: left; visibility: hidden; border:1px solid #768FA9; z-index:100000; background: #edf3fa; }
.wcPulldownMenu a.menuText:hover, .wcPulldownMenu a.submenuText:hover, .menuHover { background: #bbd0eb; font-size:11px;color:#313840;}
.wcPulldownMenu a.submenuText:hover {  background-image:url("../../images/ajaxswing/menu_arrow_h.gif"); background-repeat:no-repeat; background-position: 98% center;}
.submenuText,a.submenuText { font-weight:normal; display: block; margin: 0px; padding-left: 12px; padding-right: 20px; background-image:url("../../images/ajaxswing/menu_arrow.gif"); background-repeat:no-repeat; background-position: 98% center; padding-top:4px; padding-bottom:4px; color:#313840; }
.menuText img,a.menuText img, .submenuText img, a.submenuText img {	margin-bottom: -2px;}

/* Table */
.table		    {font-family: arial,helvetica,espy,sans-serif; border:0px; margin:0px; padding:0px; width: 100%;}
.tableHeader, .tableHeader a, .tableHeader a:link, .tableHeader a:visited, .tableHeader a:active { background:none; vertical-align:top; height:18px ; font-size:11px; margin-left:1px; margin-top:1px; color: #51667c;}
tr.tableHeader {background: #edf3fa  url(../../images/ajaxswing/tableHeader-bg.gif) repeat-x 0px 100%;}
.table td       {position:relative; text-align:left; border-bottom:1px solid #DBE8EB;}
.tableSelRow    {background-color:#bbd0eb; }
.tableSelRow td	{}
.tableCell		{position:relative; left:0px; top:0px; width:100%; height:100%; }
table td        {vertical-align: top;} /* Align has to be top otherwise absolutely positioned DIVs don't start at 0,0 */
tr.tableHeader th div span {text-align:center;}

/* Table pagination */
.tablePages          {text-align: left;background-image:url("../../images/ajaxswing/bg_scroll_h.png;");}
.tablePages div      {text-align: left;}
.tablePage           {color:#313840;margin-left:1px;margin-right:1px;cursor:pointer;position:relative;width:16px;height:16px;display:inline-block; background: none;}
.tablePage:hover     {background-color:#BBD0EB;}
.tablePageSelected   {color:white;background: url("../../images/ajaxswing/bg_scroll_curr.png;") no-repeat 0px 0px;}
.tablePageDisabled   {color:black; background: none;}
.tablePagesVertical .tablePage{margin-top:1px;margin-bottom:1px;display:block;}
.tablePagesVertical  {background:none;}
.tablePageUp         {background:url("../../images/ajaxswing/up.png;") no-repeat 0px 0px;}
.tablePageDown       {background:url("../../images/ajaxswing/down.png;") no-repeat 0px 0px;}
.tablePageLeft       {background-image:url("../../images/ajaxswing/left.png;");}
.tablePageRight      {background-image:url("../../images/ajaxswing/right.png;");}

/* List (table-based) */
.listtable		    {color:#313840; background-color:white; font-size:11px; border-color: White #848E8E #848E8E White; margin:0; padding:0}
.listtable td        {position:relative; vertical-align: middle; text-align:left;}

/* List (select-based) */
.list		    {color:#313840; background-color:white; font-size:11px; border-color: White #848E8E #848E8E White; margin:0; padding:0}

/* Controls. .button is disabled button, .submit is enabled button */
.label		    {color:#313840; background-color:transparent; font-size:11px; margin-left:1px; margin-top:1px; display:block}
.text		    {color:#313840; background-color:white; font-size:11px; border-width:1px; border-color: #4176c1 White White #4176c1; border-style:solid; margin:0; padding:0}
.choice		    {color:#313840; background-color:white; font-size:11px; border-color: White #848E8E #848E8E White; margin:0; padding:0}
.combobox	    {overflow:hidden}
.submit		    {color:#313840; background-color:#a4c7eb; font-size:11px; font-weight:bold; border-width:1px; border-style:solid; border-color: White #8FAAC4 #8FAAC4 White; margin:0; padding:0; cursor:pointer}
.toggleButtonSelected   {font-weight:normal; border-style:inset}
.toggleButtonUnselected {}
a.submit, a.button {border:none}
/* width and height have to be defined for IE to not draw padding around the checkbox */
.checkbox	    {color:#313840; font-size:11px; margin:0px; vertical-align:middle; }
input.checkbox  {margin:1px; width:13px; height:13px;}
.checkbox a img {vertical-align:middle; padding-right:4px;}
.radio		    {color:#313840; font-size:11px; margin:0px; vertical-align:middle; }
.radio a img    {vertical-align:middle; padding-right:4px;}
input.radio     {margin:1px; width:13px; height:13px; }
.splitPane      {border: 1px solid #a4c7eb;}
.editorPane     {text-align:left; padding:2px;}
.scrollPane     {}
.toolBar        {background-color: #EDF3FA;}
/* Specifies properties of file upload hack. Needs to be hidden and have huge text size so that IE draws a large browse button */
.file.hidden    {position:relative; -moz-opacity:0; filter:alpha(opacity:0); opacity:0; width:100%; font-size:100px; z-index:2; cursor:pointer; direction:rtl;}
.tooltip        {background-color:#FFFFE1; font-size:11px; border: solid 1px black; padding:1px 2px 1px 2px; z-index:2000}


/* Internal frames */
.window             {position:absolute; visibility:hidden; overflow:hidden; margin:0px; font-size:x-small; color:#313840; background:#EDF3FA; cursor:default; border:2px solid #B6C6D8;}
.windowBar          {color:#313840;	background: #EDF3FA url("../../images/ajaxswing/dot-white.gif") repeat-x 0px 0px;overflow:hidden; 	font-size:11px; height:16px; cursor:move; text-align:left; padding-top:3px; padding-right:2px; padding-bottom:1px; padding-left:5px; border-bottom:1px solid #768FA9; font-weight: bold;}
.windowBar-selected {color:#313840; background:#c1d6fe url("../../images/ajaxswing/dot-light.gif") repeat-x 0px 0px; overflow:hidden; font-size:11px; height:16px; line-height:normal; cursor:move; text-align:left; padding-left:5px; padding-right:2px; padding-top:3px; padding-bottom:1px; font-weight: bold;}
.windowMaximizeButton {position:absolute; overflow:hidden; font-size:x-small; width:19px; height:19px; margin:0; padding:0; color:#313840; background-image:url("../../images/ajaxswing/resize.gif");background-repeat:no-repeat; cursor:pointer; background-position: 0px -17px;}
.windowMaximizeButton:hover { background-position: 0px 2px;}
.windowCloseButton  {position:absolute; overflow:hidden; font-size:x-small; width:19px; height:19px; margin:0; padding:0 2px 0 0;}
.windowCloseButton a {display: block;height: 18px;width: 18px;background: url(../../images/ajaxswing/close.gif) no-repeat 0px 0px;}
.windowCloseButton a:hover { background-position: 0px 0px;}
.windowCloseButton a img {display: none;}
.windowResizeButton {position:absolute; overflow:hidden; font-size:x-small; width:11px; height:11px; margin:0; padding:0; color:#313840; background-image:url("../../images/ajaxswing/resize-corner.gif"); cursor:se-resize; z-index:10000}
.windowContent      {position:relative; width:100%; height:100%;}

/** Tree control */

.tree		    {position:relative; color:#313840; padding-top:4px;}
.treeReg	    {position:relative; top:3px; padding-left:3px; padding-right:5px; padding-top:1px; padding-bottom:2px; vertical-align:top; cursor:pointer; color:#313840; line-height:normal; }
.treeSel	    {position:relative; top:3px; padding-left:3px; padding-right:5px; padding-top:1px; padding-bottom:2px; vertical-align:top; cursor:pointer; color:white; background-color:#7499d7; line-height:normal; }
.imgSel		    {border:2px solid #bbd0eb;}
.tree input	    {position:relative; top:-4px}
.tree table div {height:22px; white-space:nowrap;}
.tableTreeElementContent img { margin-left:3px; margin-right:3px; margin-bottom: -2px; vertical-align:text-bottom; }
.tableListElementContent div {overflow:hidden;}
.tableListElementContent img {margin-right:4px;}
.tableTreeElementContent input {top:1px;}
.tableTreeElementContent div {display:inline;}
.tableTreeElementContent table {display:inline;}
.tableTreeElement .treeReg {position:relative; top:2px; padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; vertical-align:middle; cursor:pointer; color:#313840; }
.tableTreeElement .treeSel {position:relative; top:2px; padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; vertical-align:middle; cursor:pointer; color:white; background-color:transparent;}
.tableTreeElement .treeReg span {padding:2px; color:#313840;}
/*.tableTreeElement .treeSel span {padding:2px; color:white !important; background-color:#8FAAC4 !important;}*/
.tableTreeElement .treeSel span {padding:2px; color:white; background-color:#8FAAC4;}
/* Misc */
.errorMessage	{color:red; background-color:white; font-size:14px; font-weight:bold; text-align:center; padding:10px; width:400px; border:2px outset #808080; display:none}
.border		    {border-style:solid; border-width:1px;border-color:#a2bad2;}

/* Frame and dialog */
.frame		    {background-color:white; position:absolute;}
.frameBorder	{border:1px solid #7587b6; margin-left:auto; margin-right:auto}
.framePage	    {position:absolute; left:0px; top:0px; width:100%; height:100%; background-color:white; margin:0px; padding:0px; overflow:hidden}
.dialog		    {background-color:#edf3fa; margin:5px; }
.dialog a		{color:#1C4D94;}
.dialog a:hover	{color:#1575ff;}
.dialogBorder	{border:1px solid #7587b6; margin-left:auto; margin-right:auto}
.dialogPage	    {position:absolute; left:0px; top:0px; width:100%; height:100%; background-color:white; margin:0px; padding:0px; overflow:hidden}
.title		    {text-align:left;}
.title td		{background:#adcdf5 url("../../images/ajaxswing/wbarbg.gif") repeat-x left;}
.titleText	    {color:#313840; font-family:Arial narrow,Helvetica,sans-serif; font-size:17px; font-weight:bold; height:18px}
.preTitle	    {width:1px; background-color:#adcdf5;}
.postTitle	    {background-color:#adcdf5;}
.ui-shadow      {position:relative; }
.ui-shadow-color {background:#303030; position:absolute; } /* Can be overidden via js */

.validationFailed   {border: 1px solid #990000}
.validationMessage  {background-color:yellow; color:#990000; font-size:11px; padding:4px; border:1px solid #FFCC33}
/* Table filter styles */
.filterText     {width:100%}
.inf            {clear:both; width:auto; height:20px; background:#eeeeee; font-size:11px; margin:0; padding:1px 3px 1px 3px; border:1px solid #ccc;}
.ldiv           {float:left; width:30%; position:inherit; }
.mdiv           {float:left; width:30%; position:inherit; text-align:center; }
.rdiv           {float:right; width:30%; position:inherit; text-align:right; }
.loader         {position:absolute; padding: 15px 0 15px 0; margin-top:7%; width:200px; left:40%; z-index:1000; font-size:11px; font-weight:bold; border:1px solid #666; background:#ffffff; text-align:center; vertical-align:middle; }
div.mdiv select {height:20px;}
div.inf a       {color:#CC0000;}
div.inf a:hover {text-decoration:none;}
.tot            {font-weight:bold;}

/* Slider styles */
.ui-slider      { position: relative; }
.ui-slider-h 	{background-repeat: repeat-x; background-position: left center; background-image: url("../../images/ajaxswing/slider-bg-h.png"); }
.ui-slider-v 	{background-repeat: repeat-y; background-image: url("../../images/ajaxswing/slider-bg-v.png");background-position:50% 0px; }
.ui-slider-handle-h { position: absolute; z-index: 1; height: 24px; width: 11px; top: 0px; left: 0px; background-image: url("../../images/ajaxswing/slider-handle-h.gif");  }
.ui-slider-handle-v { position: absolute; z-index: 1; height: 11px; width: 24px; top: 0px; left: 0px; background-image: url("../../images/ajaxswing/slider-handle-v.gif");  }
.ui-slider-handle-active { border: 1px dotted black;  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-range { position: absolute; background: #50A029; opacity: 0.3; filter: alpha(opacity=30); width: 100%; height: 100%; }

/* Accordion styles */
.ui-accordion-container 	  {margin:0; padding:0; list-style-type:none;background-color:#edf3fa}
.ui-accordion-container li  {position:relative; margin-bottom: 2px}
.ui-accordion-menu-1  		    {text-align:left; list-style: none; padding:6px; margin:0px}
.ui-accordion-menu-1 li		    {color:#313840; padding:4px 0pt; margin:0px;border-bottom:1px solid #DBE8EB;}
.ui-accordion-menu-1 a 		    {color:#313840; font-size:12px}
.ui-accordion-menu-1 a:hover  {text-decoration:underline}
.ui-accordion-menu-2  		    {text-align:left; list-style: none; padding-left:16px; margin:0px}
.ui-accordion-menu-2 li		    {color:#313840; padding:4px 0pt; margin:0px;border-bottom:1px solid #DBE8EB;}
.ui-accordion-menu-2 a 		    {color:#313840; font-size:11px}
.ui-accordion-menu-2 a:hover  {text-decoration:underline}
.ui-accordion-header 	      {display:block; height:28px; background-image: url("../../images/ajaxswing/accordion_handle_bg.png"); background-repeat:repeat-x; color: #333333; text-decoration: none; line-height: 28px; font-size:11px; font-weight: bold;}
.ui-accordion-header.selected {display:block; height:28px; background-image: url("../../images/ajaxswing/accordion_handle_bg_selected.png"); background-repeat:repeat-x; color:#FFFFFF; line-height: 28px; padding:0px; text-align:center; font-size:11px; font-weight: bold;}
.ui-accordion-left            {display:block}

.ui-dialog-titlebar { display: none; }
.ui-dialog-buttonpane {background-image:none;border-color:#AAAAAA;border-style:solid;border-width:1px 0 0;margin:0.5em 0 0;padding:3px 2px 5px 3px;text-align:left; font-size:11px;}
.ui-dialog-buttonpane button {float:right}

/* Slider
----------------------------------*/
.ui-slider-handle-h { top: 50%; margin-top: -11px;}
.ui-slider-handle-v { left: 5px; margin-left: -6px;}
.horizontalTick{ position: absolute; top: 55%;}
.verticalTick{ position: absolute; left: 25px;}
.horizontalLabel{ position: absolute; top: 75%;}
.verticalLabel{ position: absolute; left: 40px;}
.horizontalTickMinorInner{background-color:black;}
.horizontalTickMajorInner{background-color:black;}
.verticalTickMinorInner{background-color:black;}
.verticalTickMajorInner{background-color:black;}

/* ComboBox
----------------------------------*/
div.comboBoxCustomInput{ border:1px solid black;}
.comboBoxCustomInput input{ border:none;    color: black;}
.comboBoxCustomInput .tableCell{ color: black;}
.comboBoxCustomInput span{ color: black;}
.comboBoxDropDownButton{ position:absolute; right:0; top:0; bottom:0; width:18px; padding:0;}
.comboBoxDropDownButton img{ margin-top: -2px;}
.comboBoxCustomInput {text-align:left; padding-left:3px; padding-top:1px;}

.indeterminate-bar { background:transparent url("../../images/ajaxswing/indeterminated.gif") repeat-x scroll left top; border:1px solid #9C9C9C; height:11px !important}
.cellEditor { background: #7997b4 !important; color: white;}
.tableColumnResize { background:transparent url("../../images/ajaxswing/grid-split.png") no-repeat scroll right center; cursor:col-resize; display:block; float:right; font-size:1px; height:18px; overflow:hidden; text-indent:-1000px; width:6px; margin-top:-18px; margin-left:1px; position:relative; top:0px; z-index:100; }

/* Button styles
------------------------------------ */



.button { background: #ecf4fe url(../../images/ajaxswing/btn/butt-bg.gif) repeat-x 0px 100%; overflow:hidden; }
.button:hover { background: #cfe4fc url(../../images/ajaxswing/btn/butt-bg-over.gif) repeat-x 0px 100%;}
.btn-non-filled  { background-image:none; background-color:transparent; }
.btn-non-filled:hover   { background-image:none; background-color:transparent; }
.btn-non-enabled:hover { background: #cfe4fc url(../../images/ajaxswing/btn/butt-bg-over.gif) repeat-x 0px 100%; }

.btn-bor-t { background: url(../../images/ajaxswing/btn/bt.gif) repeat-x 0px 0px;}
.btn-bor-r { background: url(../../images/ajaxswing/btn/br.gif) repeat-y 100% 0px;}
.btn-bor-b { background: url(../../images/ajaxswing/btn/bb.gif) repeat-x 0px 100%;}
.btn-bor-l { background: url(../../images/ajaxswing/btn/bl.gif) repeat-y 0px 100%;}

.button:hover .btn-bor-t { background: url(../../images/ajaxswing/btn/bt-h.gif) repeat-x 0px 0px;}
.button:hover .btn-bor-r { background: url(../../images/ajaxswing/btn/br-h.gif) repeat-y 100% 0px;}
.button:hover .btn-bor-b { background: url(../../images/ajaxswing/btn/bb-h.gif) repeat-x 0px 100%;}
.button:hover .btn-bor-l { background: url(../../images/ajaxswing/btn/bl-h.gif) repeat-y 0px 100%;}

.btn-lt { background: url(../../images/ajaxswing/btn/lt.gif) no-repeat 0px 0px;}
.btn-rt { background: url(../../images/ajaxswing/btn/rt.gif) no-repeat 100% 0px;}
.btn-rb { background: url(../../images/ajaxswing/btn/rb.gif) no-repeat 100% 100%;}
.btn-lb { background: url(../../images/ajaxswing/btn/lb.gif) no-repeat 0px 100%;}

.button:hover .btn-lt { background: url(../../images/ajaxswing/btn/lt-h.gif) no-repeat 0px 0px;}
.button:hover .btn-rt { background: url(../../images/ajaxswing/btn/rt-h.gif) no-repeat 100% 0px;}
.button:hover .btn-rb { background: url(../../images/ajaxswing/btn/rb-h.gif) no-repeat 100% 100%;}
.button:hover .btn-lb { background: url(../../images/ajaxswing/btn/lb-h.gif) no-repeat 0px 100%;}

.btn-non-border {}

.btn-inner { cursor:pointer; }
.btn-text {
	color:black;
	font-size:11px;
	font-weight:bold;
	font-family: Verdana;
	text-align:center;
}