/***** Common Styles for Windows theme ********/

/* Standard styles FIRST otherwise custom styles don't override */
html		    {background-color:white; margin:0px; padding:0px}
body		    {background-color:white; margin:0px; padding:0px; overflow:hidden; font-family:arial,helvetica,espy,sans-serif }
form		    {margin:0px; padding:0px; text-align:left; position:relative; width:100%; height:100%; overflow:hidden}
table		    {font-family: arial,helvetica,espy,sans-serif; font-size:11px; border:0px; margin:0px; padding:0px; overflow:hidden;}
a:link		    {color:black; text-decoration:none; font-family: arial,helvetica,espy,sans-serif; font-size: 11px}			
a:visited	    {color:black; text-decoration:none; font-family: arial,helvetica,espy,sans-serif; font-size: 11px}
a:active	    {color:black; text-decoration:none; font-family: arial,helvetica,espy,sans-serif; font-size: 11px}
a:hover		    {color:#000084; text-decoration:none; font-family:arial,helvetica,espy,sans-serif; font-size: 11px}
img		        {border:0px; padding:0px; margin:0px}

/* Menu */
wcPulldownMenu a, a.menuButton	{color:black; font-weight:normal; font-size:11px}
a.menuButton:hover {color:white;background-color:#6686bc; font-size:11px}
.menuEnd	    {background-color:#CFCBC4; background-image: url("../../images/ajaxswing/bg_menu_end.gif"); background-repeat:no-repeat; text-align:right}
.menu		    {background-color:#CFCBC4; border-bottom: 1px solid #808080; background-image: url("../../images/ajaxswing/bg_menu.gif"); background-repeat:repeat-x}
.menu tbody tr td {vertical-align: middle}
.menuItem	    {}
.menuTextSep 	{border-top: 1px solid #808080; border-bottom:1px solid #f0f0f0; margin: 2px 0px 2px 0px;}
.menuSel	    {}
.menuText,a.menuText  {color:black; font-weight:normal; font-size:11px; display: block; margin: 0px; padding: 2px; padding-left: 12px; padding-right: 12px }
.menuTextGrayed {color:#808080; font-weight:normal; font-size:11px; display: block; margin: 0px; padding: 2px; padding-left: 12px; padding-right: 12px }
a.menuText:hover, a.menuText:hover, a.submenuText:hover, .menuHover {color:white;background-color:#6686bc; font-size:11px}
.menuButton	    {color:white;padding:1px 3px 2px 3px}
.wcPulldownMenu {background-color:#CFCBC4; padding: 0px; position: absolute; text-align: left; visibility: hidden; border:1px groove #808080; z-index:100000; }
.wcPulldownMenu a.menuText:hover, .wcPulldownMenu a.submenuText:hover, .menuHover {color:white;background-color:#537ec4; font-size:11px}
.submenuText,a.submenuText {color:black; font-weight:normal; font-size:11px; display: block; margin: 0px; padding: 2px; padding-left: 12px; padding-right: 20px; background-image:url(../../images/ajaxswing/menu_arrow.gif); background-repeat:no-repeat; background-position: center right }

/* Table */
.table		    {font-family: arial,helvetica,espy,sans-serif; border:0px; margin:0px; padding:0px}
.tableHeader, .tableHeader a, .tableHeader a:link, .tableHeader a:visited, .tableHeader a:active	
                {color:white; background-color:#5675AB; vertical-align:top; height:18px; font-size:11px; margin-left:1px; margin-top:1px}
.table td       {position:relative; text-align:left; border-bottom:1px solid #E5E5E5; }
.tableSelRow	{background-color:#D9DBE3;}
.tableSelRow td	{}
.tableCell		{position:relative; left:0px; top:0px; width:100%; height:100%; margin:0px; padding:0px;}
table td        {vertical-align: top} /* Align has to be top otherwise absolutely positioned DIVs don't start at 0,0 */
tr.tableHeader th div span {text-align:center}
/* Table pagination */
.tablePages          {text-align: left;background-image:url("../../images/ajaxswing/bg_scroll_h.png;");}
.tablePages div      {text-align: left;}
.tablePage           {background-color:#4176c1;color:black;margin-left:1px;margin-right:1px;cursor:pointer;position:relative;width:16px;height:16px;display:inline-block;background-image:url("../../images/ajaxswing/bg_scroll.png;");}
.tablePage:hover     {background-color:#adcdf5;}
.tablePageSelected   {background-color:#adcdf5;color:black;background-image:url("../../images/ajaxswing/bg_scroll_curr.png;");}
.tablePageDisabled   {background-color:#bfbfbf;color:black;}
.tablePagesVertical .tablePage{margin-top:1px;margin-bottom:1px;display:block;}
.tablePagesVertical  {background-image:url("../../images/ajaxswing/bg_scroll.png;");}
.tablePageUp         {background-image:url("../../images/ajaxswing/up.png;");}
.tablePageDown       {background-image:url("../../images/ajaxswing/down.png;");}
.tablePageLeft       {background-image:url("../../images/ajaxswing/left.png;");}
.tablePageRight      {background-image:url("../../images/ajaxswing/right.png;");}

/* List (table-based) */
.listtable		    {color:black; background-color:white; font-size:11px; border-color: #F0F0F0 #808080 #808080 #F0F0F0; margin:0; padding:0}
.listtable td		{position:relative; vertical-align: middle; text-align:left;}

/* List (select-based) */
.list		    {color:black; background-color:white; font-size:11px; border-color: #F0F0F0 #808080 #808080 #F0F0F0; margin:0; padding:0}

/* Controls. .button is disabled button, .submit is enabled button */
.label		    {color:black; background-color:transparent; font-size:11px; margin-left:1px; margin-top:1px; display:block}
.text		    {color:black; background-color:white; font-size:11px; border-width:1px; border-color: #A0A0A0 #A0A0A0 #A0A0A0 #A0A0A0; margin:0; padding:0}
.choice		    {color:black; background-color:white; font-size:11px; border-color: #F0F0F0 #808080 #808080 #F0F0F0; margin:0; padding:0}
.combobox	    {overflow:hidden}
.submit		    {color:black; background-color:#CFCBC4; font-size:11px; font-weight:bold; border-width:1px; border-color : #F0F0F0 #808080 #808080 #F0F0F0; margin:0; padding:0; cursor:pointer;}
.button		    {color:black; background-color:#CFCBC4; font-size:11px; font-weight:bold; border-width:1px; border-color : #F0F0F0 #808080 #808080 #F0F0F0; margin:0; padding:0; cursor:pointer;}
.toggleButtonSelected   {font-weight:normal; border-style:inset}
.toggleButtonUnselected {}

a.submit, a.button {border:none}
/* width and height have to be defined for IE to not draw padding around the checkbox */
.checkbox	    {color:black; font-size:11px; margin-left:0px; margin-top:0px; vertical-align:middle;}
input.checkbox  {margin:1px; width:13px; height:13px }
.checkbox a img {vertical-align:middle; padding-right:4px}
.radio	        {color:black; font-size:11px; margin:0px; vertical-align:middle; width:13px; height:13px }
input.radio     {margin:1px; width:13px; height:13px }
.radio a img    {vertical-align:middle; padding-right:4px}
.splitPane      {border: 1px solid #C0C0C0}
.editorPane     {text-align:left; padding:2px;}
.scrollPane     {}
.toolBar        {background-color: #EEECE9;}
/* Specifies properties of file upload hack. Needs to be hidden and have huge text size so that IE draws a large browse button */
.file.hidden    {position:relative; -moz-opacity:0; filter:alpha(opacity:0); opacity:0; width:100%; font-size:100px; z-index:2; cursor:pointer; direction:rtl;}
	

/* Internal frames */
.window             {position:absolute; visibility:hidden; overflow:hidden; margin:0px; font-size:x-small; color:black; background-color:#EEECE9; border:2px outset #A0A0FF; margin:0; padding:0;}
.windowBar          {color:white; background:#B2B2B2; overflow:hidden; font-size:11px; height:16px; padding:2px 2px 2px 5px; cursor:move; }
.windowBar-selected {color:white; background:#5675AB; overflow:hidden; font-size:11px; height:16px; padding:2px 2px 2px 5px; cursor:move; }
.windowMaximizeButton {position:absolute; overflow:hidden; font-size:x-small; width:16px; height:19px; margin:0; padding:0; color:#000; background-image:url(../../images/ajaxswing/resize.gif); cursor:pointer;}
.windowCloseButton  {position:absolute; overflow:hidden; font-size:x-small; width:19px; height:19px; margin:0; padding:0; }
.windowResizeButton {position:absolute; overflow:hidden; font-size:x-small; width:11px; height:11px; margin:0; padding:0; color:#000; background-image:url(../../images/ajaxswing/resize-corner.gif); cursor:se-resize; z-index:2000}
.windowContent      {position:relative; width:100%; height:100%; }

/** Tree control */
.tree		    {position:relative; color:black; }
.treeReg	    {position:relative; top:3px; padding-left:3px; padding-right:5px; padding-top:1px; padding-bottom:2px; vertical-align:top; cursor:pointer; line-height:normal; }
.treeSel	    {position:relative; top:3px; padding-left:3px; padding-right:5px; padding-top:1px; padding-bottom:2px; vertical-align:top; cursor:pointer; color:white; background-color:#5675AB; line-height:normal; }
.imgSel		    {border:2px solid #B6C6E8}
.tree input	    {position:relative; top:-4px}
.tree table div {height:22px; white-space:nowrap;}
.tableTreeElementContent img {margin-right:4px;vertical-align:middle;}
.tableListElementContent div {overflow:hidden;}
.tableListElementContent img {margin-right:4px;}
.tableTreeElementContent input {top:1px;}
.tableTreeElementContent div {display:inline;}
.tableTreeElementContent table {display:inline;}
.tableTreeElement .treeReg {position:relative; top:0px; padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; vertical-align:middle; cursor:pointer;  }
.tableTreeElement .treeSel {position:relative; top:0px; padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px; vertical-align:middle; cursor:pointer; color:white; background-color:transparent;}
.tableTreeElement .treeReg span {padding:2px;}
.tableTreeElement .treeSel span {padding:2px; color:white !important; background-color:#5675AB !important;}
/* Misc */
.errorMessage	{color:red; background-color:white; font-size:14px; font-weight:bold; text-align:center; padding:10px; width:400px; border:2px outset #808080; display:none}
.border		    {border-style:solid; border-width:1px;border-color:#C6C3C6;}

/* Frame and dialog */
.frame		    {background-color:white; position:absolute; }
.frameBorder	{border:1px solid #808080; background-color:#EEECE9; margin-left:auto; margin-right:auto}
.framePage	    {position:absolute; left:0px; top:0px; width:100%; height:100%; background-color:white; margin:0px; padding:0px; overflow:hidden}
.dialog		    {background-color:#CFCBC4; margin:5px}
.dialogBorder	{border:1px solid #808080; margin-left:auto; margin-right:auto}
.dialogPage	    {position:absolute; left:0px; top:0px; width:100%; height:100%; background-color:#EEECE9; margin:0px; padding:0px; overflow:hidden}
.title		    {background-color:#5675AB; text-align:left;}
.titleText	    {color:white; font-family:Arial,Helvetica,sans-serif; font-size:13px; font-weight:bold; height:18px}
.preTitle	    {width:1px; }
.postTitle	    {}
.ui-shadow      {position:relative; }
.ui-shadow-color {background:#303030; position:absolute; } /* Can be overidden via js */

.validationFailed   {border: 1px solid #990000}
.validationMessage  {background-color:yellow; color:#990000; font-size:11px; padding:4px; border:1px solid #FFCC33}

/* Table filter styles */
.filterText     {width:100%}
.inf            {clear:both; width:auto; height:20px; background:#eeeeee; font-size:11px; margin:0; padding:1px 3px 1px 3px; border:1px solid #ccc;}
.ldiv           {float:left; width:30%; position:inherit; }
.mdiv           {float:left; width:30%; position:inherit; text-align:center; }
.rdiv           {float:right; width:30%; position:inherit; text-align:right; }
.loader         {position:absolute; padding: 15px 0 15px 0; margin-top:7%; width:200px; left:40%; z-index:1000; font-size:11px; font-weight:bold; border:1px solid #666; background:#ffffff; text-align:center; vertical-align:middle; }
div.mdiv select {height:20px;}
div.inf a       {color:#CC0000;}
div.inf a:hover {text-decoration:none;}
.tot            {font-weight:bold;}

/* Slider styles */
.ui-slider      { position: relative; }
.ui-slider-h 	{background-repeat: repeat-x; background-position: left center; background-image: url("../../images/ajaxswing/slider-bg-h.png"); }
.ui-slider-v 	{background-repeat: repeat-y; background-image: url("../../images/ajaxswing/slider-bg-v.png");background-position-y:center }
.ui-slider-handle-h { position: absolute; z-index: 1; height: 23px; width: 12px; top: 0px; left: 0px; background-image: url("../../images/ajaxswing/slider-handle-h.gif");  }
.ui-slider-handle-v { position: absolute; z-index: 1; height: 12px; width: 23px; top: 0px; left: 0px; background-image: url("../../images/ajaxswing/slider-handle-v.gif");  }
.ui-slider-handle-active { border: 1px dotted black;  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider-range { position: absolute; background: #50A029; opacity: 0.3; filter: alpha(opacity=30); width: 100%; height: 100%; }

/* Accordion styles */
.ui-accordion-container 	  {margin:0; padding:0; list-style-type:none; background-color:#EEECE9}
.ui-accordion-container li  {position:relative; margin-bottom: 2px; }
.ui-accordion-menu-1  		    {text-align:left; list-style: none; padding:6px; margin:0px}
.ui-accordion-menu-1 li		    {color:#666666; border-bottom:1px solid #E5E5E5; padding:4px 0pt; margin:0px}
.ui-accordion-menu-1 a 		    {color:#666666; font-size:12px}
.ui-accordion-menu-1 a:hover  {color:#0088CC; text-decoration:underline}
.ui-accordion-menu-2  		    {text-align:left; list-style: none; padding-left:16px; margin:0px}
.ui-accordion-menu-2 li		    {color:#666666; border-bottom:1px solid #E5E5E5; padding:4px 0pt; margin:0px}
.ui-accordion-menu-2 a 		    {color:#666666; font-size:11px}
.ui-accordion-menu-2 a:hover  {color:#0088CC; text-decoration:underline}
.ui-accordion-header 	      {display:block; height:28px; background-image: url("../../images/ajaxswing/accordion_handle_bg.png"); background-repeat:repeat-x; color: #333333; text-decoration: none; line-height: 28px; font-size:11px}
.ui-accordion-header.selected{display:block; height:28px; background-image: url("../../images/ajaxswing/accordion_handle_bg_selected.png"); background-repeat:repeat-x; color:#FFFFFF; line-height: 28px; font-size:11px}
.ui-accordion-left            {display:block}

.ui-dialog-titlebar { display: none; }
.ui-dialog-buttonpane {background-image:none;border-color:#AAAAAA;border-style:solid;border-width:1px 0 0;margin:0.5em 0 0;padding:3px 2px 5px 3px;text-align:left; font-size:11px;}
.ui-dialog-buttonpane button {float:right}

/* Slider
----------------------------------*/
.ui-slider-handle-h { top: 50%; margin-top: -12px;}
.ui-slider-handle-v { left: 5px; margin-left: -12px;}
.horizontalTick{ position: absolute; top: 55%;}
.verticalTick{ position: absolute; left: 25px;}
.horizontalLabel{ position: absolute; top: 75%;}
.verticalLabel{ position: absolute; left: 40px;}
.horizontalTickMinorInner{background-color:black;}
.horizontalTickMajorInner{background-color:black;}
.verticalTickMinorInner{background-color:black;}
.verticalTickMajorInner{background-color:black;}

/* ComboBox
----------------------------------*/
div.comboBoxCustomInput{ border:1px solid black;}
.comboBoxCustomInput input{ border:none;    color: black;}
.comboBoxCustomInput .tableCell{ color: black;}
.comboBoxCustomInput span{ color: black;}
.comboBoxDropDownButton{ position:absolute; right:0; top:0; bottom:0; width:18px; padding:0;}
.comboBoxDropDownButton img{ margin-top: -2px;}
.comboBoxCustomInput {text-align:left; padding-left:3px; padding-top:1px;}

.indeterminate-bar { background:transparent url("../../images/ajaxswing/indeterminated.gif") repeat-x scroll left top; border:1px solid #9C9C9C; height:11px !important}
.cellEditor { background-color:#CEFFCE !important;}
.tableColumnResize { background:transparent url("../../images/ajaxswing/grid-split.png") no-repeat scroll right center; cursor:col-resize; display:block; float:right; font-size:1px; height:16px; overflow:hidden; text-indent:-1000px; width:6px; margin-top:-18px; margin-left:1px; position:relative; top:0px; z-index:100; }