<ul ng-controller="AppNavCtrl as appNavCtrl" class="app-nav__list">

  <li ng-repeat="menu in appNavCtrl.topLevelMenus" ng-if="menu.isVisible" class="app-nav__item">
    <a class="app-nav__link app-nav__{{menu.name}}"
       ng-class="{'app-nav__link--active' : appNavCtrl.inTopLevelState(appNavCtrl.topLevelStateFor(menu)) }"
       ui-sref="{{menu.destinationState}}"
       title="{{menu.title}}">
      <span class="icon icon-{{menu.name}}"></span>
      {{menu.title}}
    </a>
  </li>

</ul>
