<ul class="profile-nav-list" ng-controller="ProfileCtrl as profileCtrl">
  <li class="nav-item profile" ng-class="{'is-selected' : profileCtrl.popover.isOpen}" data-id="profile">

    <span class="profile-avatar-me" ng-click="profileCtrl.popover.toggle($event)"></span>
    <div class="profile-name"
          data-id="profile-toggle"
          data-qa="profile-toggle"
          title="{{profileCtrl.loginState.user | displayName}}"
          ng-click="profileCtrl.popover.toggle($event)"
          ng-class="{'profile-not-admin' : !profileCtrl.loginState.user.isAdmin}">
      {{profileCtrl.loginState.user | displayName}}
    </div>
    <nav admin-toggle class="admin-nav"></nav>

    <div popover="profileCtrl.popover" class="profile-popover">
      <div class="profile-widget" data-qa="profile-popover">
        <div class="profile-content">
          <span class="profile-widget-avatar-me" data-id="profile-image"></span>

          <h2 class="profile-widget-name" data-id="profile-widget-name" title="{{profileCtrl.loginState.user | displayName}}">
            {{profileCtrl.loginState.user | displayName}}
          </h2>

          <p class="profile-email" data-id="profile-email" data-qa="profile-email" title="{{profileCtrl.loginState.user.email}}">
            {{profileCtrl.loginState.user.email}}
          </p>

          <a class="profile-edit" data-qa="settings" ng-click="profileCtrl.onSettings()">
            {{'Settings' | translate}}
          </a>
        </div>

        <footer class="profile-widget-footer">
          <a class="help"
             data-id="help-modal-link"
             title="{{'Help' | translate}}"
             ng-click="profileCtrl.onHelpClick()">
            {{'Help' | translate}}
          </a>
          <a class="logout" data-qa="logout" ng-click="profileCtrl.onLogoutClick()" title="{{'Logout' | translate}}">{{'Logout' | translate}}</a>
        </footer>
      </div>
    </div>
  </li>
</ul>
