<div ng-controller="SettingsModalCtrl as settingsCtrl">
  <div class="modal-header" data-qa="modal-header">
    <span class="icon modal-password"></span>

    <h2>{{'Settings' | translate}}</h2>
    <a class="modal-close-wrap"
       data-id="close"
       data-qa="close"
       ng-disabled="settingsCtrl.isSaving"
       ng-click="settingsCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="settingsCtrl.alert" data-id="alert"></div>

  <form validation-options="settingsCtrl.validationOptions"
        on-submit="settingsCtrl.onSave()"
        autofocused>
    <div class="modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="password-box">
              {{'Change Password' | translate}}
            </label>
          </div>

          <ul class="column-input column-input-spacer modal-body__highlight">
            <li>
              <label for="current-password" class="sr-only">
                {{'Current Password' | translate}}
              </label>

              <input type="password"
                     placeholder="Current Password"
                     aria-labelby="password-box current-password"
                     ng-model="settingsCtrl.currentPassword"
                     ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                     id="current-password"
                     name="currentPassword">
            </li>

            <li>
              <label for="new-password" class="sr-only">{{'New Password' | translate}}</label>

              <input type="{{settingsCtrl.showPassword ? 'text' : 'password'}}"
                     placeholder="New Password"
                     aria-labelby="password-box new-password"
                     ng-model="settingsCtrl.newPassword"
                     ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                     autocomplete="off"
                     id="new-password"
                     name="newPassword"
                     data-id="new-password">
            </li>

            <li>
              <label for="reenter-password" class="sr-only">{{'Re-enter Password' | translate}}</label>

              <input type="{{settingsCtrl.showPassword ? 'text' : 'password'}}"
                     placeholder="Re-enter New Password"
                     aria-labelby="password-box reenter-password"
                     ng-model="settingsCtrl.reentered"
                     ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                     autocomplete="off"
                     id="reenter-password"
                     name="reenterPassword">
            </li>

            <li>
              <label class="text-regular">
                <input type="checkbox"
                       ng-model="settingsCtrl.showPassword"
                       ng-disabled="passwordCtrl.isSaving || passwordCtrl.isSuccess"
                       data-id="toggle-show-password">
                {{'Show characters' | translate}}
              </label>
            </li>

            <li>
              <p>
                {{'Passwords must be at least 8 characters and contain at least one digit and one capital letter.' | translate}}
              </p>
            </li>
          </ul>

        </li>

        <li class="modal-input-item">

          <div class="column-label">
            <div class="column-label">
              <label for="email-box">
                {{'Email' | translate}}
              </label>
            </div>
          </div>
          <div class="column-input modal-body__highlight">
            <label class="text-regular">
              <input type="radio"
                     class="radio-input"
                     ng-model="settingsCtrl.settings.email.digestEnabled"
                     ng-value="false"
                     ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                     data-qa="toggle-email-digest-disabled">
              <div class="radio-desc">
                {{'Email me immediately about critical activity related to my folders, files and account' | translate}}
              </div>
            </label>
            <label class="text-regular">
              <input type="radio"
                     class="radio-input"
                     ng-model="settingsCtrl.settings.email.digestEnabled"
                     ng-value="true"
                     ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                     data-qa="toggle-email-digest-enabled">
              <div class="radio-desc">
                {{'Email me immediately about critical activity and periodically about routine activity' | translate}}
              </div>
              </label>
          </div>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large" ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess" data-qa="settings-save">
        <span ng-show="settingsCtrl.isSaving && !settingsCtrl.isSuccess" class="spinner spinner-orange"></span>
        {{'Save' | translate}}
      </button>
      <button class="secondary large"
              ng-click="settingsCtrl.onClose()"
              ng-disabled="settingsCtrl.isSaving"
              data-id="close"
              data-qa="close">
        {{settingsCtrl.isSuccess ? 'Close' : 'Cancel'| translate}}
      </button>
    </div>
  </form>
</div>
