<a ui-sref="{{state}}" ui-sref-active="current-config-section" title="{{title}}" data-qa="tab-{{name}}">
  <span class="settings-tab-icon {{iconClass}}"></span>
  <span class="settings-tab-label">{{title}}</span>
</a>