/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

iframe {
  border: none; }

/*
Version: 3.4.8 Timestamp: Thu May  1 09:50:32 EDT 2014
*/
ul.logs-nav__list {
  display: inline;
  width: auto; }
  ul.logs-nav__list > li {
    display: inline;
    width: auto; }

.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  clear: none;
  border: 1px solid #ddd;
  background-color: #fff;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle; }

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
    More Info : http://www.quirksmode.org/css/box.html
  */
  /* webkit */
  /* firefox */
  box-sizing: border-box;
  /* css3 */ }

.select2-container .select2-choice {
  display: block;
  color: #807e7c;
  height: auto;
  padding: .05em .3em;
  overflow: hidden;
  position: relative;
  font: 400 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  min-width: 10em;
  white-space: nowrap;
  text-decoration: none;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px; }

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px; }

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto; }

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url("../images/icons/vendor/select2/select2.png") right top no-repeat;
  cursor: pointer;
  outline: 0; }

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block; }

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer; }

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998; }

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px; }

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0; }

.select2-drop-active {
  border: 1px solid #b2b0ad;
  border-top: none; }

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #b2b0ad; }

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto; }

.select2-drop-auto-width .select2-search {
  padding-top: 4px; }

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-clip: padding-box; }

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/icons/vendor/select2/select2.png") no-repeat 0 1px; }

.select2-search {
  display: inline-block;
  width: 100%;
  height: 2.5em;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap; }

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  background: #fff url("../images/icons/vendor/select2/select2.png") no-repeat 100% -22px; }

.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px; }

.select2-search input.select2-active {
  background: #fff url("../images/icons/vendor/select2/select2-spinner.gif") no-repeat 100%; }

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  /*border: 1px solid $light-gray;*/
  outline: none; }

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #b2b0ad;
  border-top-color: transparent; }

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  -webkit-filter: none;
          filter: none; }

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px; }

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* results */
.select2-results {
  max-height: 200px;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent; }

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0; }

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none; }

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold; }

.select2-results .select2-result-label {
  color: #807e7c;
  padding: .5em;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.select2-results-dept-1 .select2-result-label {
  padding-left: 20px; }

.select2-results-dept-2 .select2-result-label {
  padding-left: 40px; }

.select2-results-dept-3 .select2-result-label {
  padding-left: 60px; }

.select2-results-dept-4 .select2-result-label {
  padding-left: 80px; }

.select2-results-dept-5 .select2-result-label {
  padding-left: 100px; }

.select2-results-dept-6 .select2-result-label {
  padding-left: 110px; }

.select2-results-dept-7 .select2-result-label {
  padding-left: 120px; }

.select2-results .select2-highlighted {
  background: #fff4e5;
  color: #807e7c; }

.select2-results li em {
  background: #feffde;
  font-style: normal; }

.select2-results .select2-highlighted em {
  background: transparent; }

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000; }

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px; }

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default; }

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default; }

.select2-results .select2-selected {
  display: none; }

.select2-more-results.select2-active {
  background: #f4f4f4 url("../images/icons/vendor/select2/select2-spinner.gif") no-repeat 100%; }

.select2-more-results {
  background: #f4f4f4;
  display: list-item; }

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0; }

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none; }

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff; }

.select2-locked {
  padding: 3px 5px 3px 5px !important; }

.select2-container-multi .select2-choices {
  min-height: 26px; }

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #b2b0ad;
  outline: none; }

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none; }

html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right; }

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  background: transparent !important; }

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("../images/icons/vendor/select2/select2-spinner.gif") no-repeat 100% !important; }

.select2-default {
  color: #999 !important; }

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4; }

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin-left: 0;
  margin-right: 5px; }

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default; }

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4; }

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url("../images/icons/vendor/select2/select2.png") right top no-repeat; }

html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px; }

.select2-container-multi .select2-search-choice-close {
  left: 3px; }

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px; }

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px; }

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4; }

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none; }

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline; }

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important; }

.select2-display-none {
  display: none; }

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll; }

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url("../images/icons/vendor/select2/select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important; }
  .select2-search input {
    background-position: 100% -21px !important; } }

.alert {
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 1em;
  padding: .4em;
  position: relative;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  *zoom: 1; }
  .alert:before, .alert:after {
    content: " ";
    display: table; }
  .alert:after {
    clear: both; }
  .alert.alert-success {
    background: #c4e6ad; }
  .alert.alert-info {
    background: #add3e6; }
  .alert.alert-warning {
    background: #e6ddad; }
  .alert.alert-error {
    background: #fdc4c7; }
  .alert .alert-message {
    color: #504740;
    font-size: .95em;
    margin-top: .2em; }
  .alert .alert-close-wrap {
    line-height: .9;
    padding: .4em; }
  .alert .alert-column-icon, .alert .alert-column-close {
    position: absolute;
    width: 30px; }
  .alert .alert-column-icon {
    left: 7px;
    top: 3px; }
  .alert .alert-column-close {
    right: 7px;
    top: 5px; }
  .alert .alert-column-message {
    margin: 0 26px 0 40px; }

.button,
button,
input[type="submit"],
input[type="button"] {
  -webkit-apperance: none;
  -moz-apperance: none;
  -ms-apperance: none;
  -o-apperance: none;
  apperance: none;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #f68c00;
  border: 1px solid #dd7d00;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font: 600 100%/1.25 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1;
  padding: .7em 1.4em;
  margin: 0;
  text-align: center;
  text-decoration: none;
  transition: background .2s;
  white-space: nowrap;
  vertical-align: middle; }
  .button.full-width,
  button.full-width,
  input[type="submit"].full-width,
  input[type="button"].full-width {
    display: block;
    width: 100%; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover {
    background: #bf6c00;
    border: 1px solid #c36f00;
    text-decoration: none; }
  .button[disabled],
  button[disabled],
  input[type="submit"][disabled],
  input[type="button"][disabled] {
    cursor: default;
    background: #e8e8e8;
    border: 1px solid #c2c2c2;
    color: #919191; }
    .button[disabled]:hover,
    button[disabled]:hover,
    input[type="submit"][disabled]:hover,
    input[type="button"][disabled]:hover {
      background: #e8e8e8; }

*,
*:before,
*:after {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

.container {
  height: 100%;
  margin: 0 auto;
  /*max-width: $content-width;*/
  width: 1200px;
  *zoom: 1; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.page-container {
  overflow: hidden;
  margin: 0 auto;
  min-width: 62em;
  padding: 1.5em 0;
  height: calc(100% - 78px); }

.col {
  float: left;
  position: relative;
  padding: 0 .5em; }
  @media (max-width: 20em) {
    .col {
      float: none;
      margin-bottom: 1.5em;
      padding: 0; } }

.col-aside {
  width: 23%;
  height: 100%; }
  @media (max-width: 20em) {
    .col-aside {
      width: 100%; } }

.main-content {
  width: 54%; }
  .main-content.full-width {
    width: 100%; }
  @media (max-width: 20em) {
    .main-content {
      width: 100%; } }

.col-1-12 {
  width: 8.33333%; }

.col-2-12 {
  width: 16.66667%; }

.col-3-12 {
  width: 25%; }

.col-4-12 {
  width: 33.33333%; }

.col-5-12 {
  width: 41.66667%; }

.col-6-12 {
  width: 50%; }

.col-7-12 {
  width: 58.33333%; }

.col-8-12 {
  width: 66.66667%; }

.col-9-12 {
  width: 75%; }

.col-10-12 {
  width: 83.33333%; }

.col-11-12 {
  width: 91.66667%; }

.col-12-12 {
  width: 100%; }

.col-1-8 {
  width: 12.5%; }

.col-2-8 {
  width: 25%; }

.col-3-8 {
  width: 37.5%; }

.col-5-8 {
  width: 62.5%; }

.col-4-8 {
  width: 50%; }

.col-6-8 {
  width: 75%; }

.col-7-8 {
  width: 87.5%; }

.col-2-9 {
  width: 22.22222%; }

.col-3-9 {
  width: 33.33333%; }

.col-4-9 {
  width: 44.44444%; }

.col-5-9 {
  width: 55.55556%; }

.col-6-9 {
  width: 66.66667%; }

.Hosts iframe {
  height: calc(100% - 40px) !important; }

.app-header {
  /*min-width: 62em;*/
  height: 75px;
  background: #655d56;
  color: #b2b0ad;
  *zoom: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .app-header:before, .app-header:after {
    content: " ";
    display: table; }
  .app-header:after {
    clear: both; }

.app-header__logo {
  float: left;
  padding: 1.1em; }

.app-nav__item {
  display: inline-block;
  padding: 26.5px 10px; }

.app-nav__link {
  color: #b2b0ad; }
  .app-nav__link:hover {
    color: #fff; }
  .app-nav__link .icon {
    margin-right: 3px;
    vertical-align: bottom; }
  .app-nav__link--active {
    color: #fff; }
    .app-nav__link--active .icon.hosts {
      background-position: -70px -37px; }
    .app-nav__link--active .icon.scheduler {
      background-position: -70px -37px; }
    .app-nav__link--active .icon.router {
      background-position: -70px -37px; }
    .app-nav__link--active .icon.partners {
      background-position: -70px -37px; }
    .app-nav__link--active .icon.transfers {
      background-position: -70px -37px; }
    .app-nav__link--active .icon.logs {
      background-position: -70px -37px; }
    .app-nav__link--active .icon.administration {
      background-position: -70px -37px; }

.app-nav__hosts:hover .icon.hosts {
  background-position: -70px -170px; }

.app-nav__scheduler:hover .icon.scheduler {
  background-position: -70px -170px; }

.app-nav__router:hover .icon.router {
  background-position: -70px -170px; }

.app-nav__partners:hover .icon.partners {
  background-position: -70px -170px; }

.app-nav__transfers:hover .icon.transfers {
  background-position: -70px -170px; }

.app-nav__logs:hover .icon.logs {
  background-position: -70px -170px; }

.app-nav__administration:hover .icon.administration {
  background-position: -70px -170px; }

.nav-wrap {
  position: relative; }
  @media (max-width: 20em) {
    .nav-wrap {
      height: 0;
      overflow: hidden;
      width: 100%; }
      .nav-wrap.visible {
        height: auto; }
      .nav-wrap.hidden {
        height: 0; } }

.app-profile {
  max-width: 40%;
  min-width: 16.66667%;
  float: right; }

.profile:hover > a, .profile.is-selected > a {
  color: #fff; }

.profile-avatar, .profile-avatar-me {
  background-color: #b0d1e3;
  background-image: url("../images/icons/sprite2.png");
  background-position: -1643px -546px;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  height: 40px;
  margin-right: .4em;
  vertical-align: middle;
  width: 40px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .profile-avatar, .profile-avatar-me {
      background-image: url(../images/icons/sprite-2x.png);
      background-size: 1880px 900px; } }

.profile-avatar-me {
  float: left;
  margin-top: 1em;
  margin-right: .5em;
  background-color: #78716d; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .profile-avatar-me {
      background-image: url(../images/icons/sprite-2x.png);
      background-size: 1880px 900px; } }

.profile-name {
  display: inline-block;
  max-width: calc(100% - 48px);
  margin-top: 1em;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  line-height: 40px; }
  .profile-name:hover {
    text-decoration: underline; }
  @media screen and (max-width: 1250px) {
    .profile-name {
      max-width: calc(100% - 50px); } }

.profile-popover .popover, .menu-right-click .popover {
  -ms-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3); }

.profile-popover {
  position: relative; }
  .profile-popover .popover {
    left: -340px;
    top: 10px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    -o-border-radius: 2px;
    border-radius: 2px; }
    .profile-popover .popover:before, .profile-popover .popover:after {
      border: solid transparent;
      content: " ";
      height: 0;
      pointer-events: none;
      left: 360px;
      top: -21px;
      position: absolute;
      width: 0;
      z-index: 9999; }
    .profile-popover .popover:before {
      border-color: rgba(221, 221, 221, 0);
      border-bottom-color: #ddd;
      border-width: 10px;
      margin-left: -10px; }
    .profile-popover .popover:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 11px;
      margin-left: -11px; }

.profile-widget {
  background-clip: padding-box; }
  .profile-widget .profile-content {
    padding: 1em;
    overflow: hidden; }
    .profile-widget .profile-content .profile-widget-avatar, .profile-widget .profile-content .profile-widget-avatar-me {
      background-color: #b0d1e3;
      background-image: url("../images/icons/sprite2.png");
      background-position: -1626px -602px;
      -o-border-radius: 50%;
      border-radius: 50%;
      float: left;
      height: 70px;
      margin-right: 1.5em;
      width: 70px; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        .profile-widget .profile-content .profile-widget-avatar, .profile-widget .profile-content .profile-widget-avatar-me {
          background-image: url(../images/icons/sprite-2x.png);
          background-size: 1880px 900px; } }
    .profile-widget .profile-content .profile-widget-avatar-me {
      background-color: #78716d; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        .profile-widget .profile-content .profile-widget-avatar-me {
          background-image: url(../images/icons/sprite-2x.png);
          background-size: 1880px 900px; } }
    .profile-widget .profile-content .profile-widget-name {
      color: #504740;
      font-size: 1.1em;
      font-weight: 600;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .profile-widget .profile-content .profile-email {
      color: #807e7c;
      margin-bottom: 1em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .profile-widget .profile-content .profile-edit {
      color: #288ac3; }
      .profile-widget .profile-content .profile-edit:hover {
        text-decoration: underline; }
  .profile-widget .profile-widget-footer {
    background: #f9f9f6;
    border-top: 1px solid #eee;
    *zoom: 1;
    padding: .6em; }
    .profile-widget .profile-widget-footer:before, .profile-widget .profile-widget-footer:after {
      content: " ";
      display: table; }
    .profile-widget .profile-widget-footer:after {
      clear: both; }
    .profile-widget .profile-widget-footer a {
      color: #807e7c;
      font-size: .95em;
      text-decoration: underline;
      padding: 0;
      cursor: pointer; }
      .profile-widget .profile-widget-footer a.help {
        float: left; }
      .profile-widget .profile-widget-footer a.logout {
        float: right; }
      .profile-widget .profile-widget-footer a:hover {
        color: #bf6c00; }
    .profile-widget .profile-widget-footer .pull-left {
      padding: 0 10px; }

.popover {
  position: absolute;
  min-width: 160px;
  z-index: 9999; }
  @media (max-width: 20em) {
    .popover {
      display: none; } }

.popover-abs {
  position: absolute; }

.popover-fixed {
  position: fixed !important; }

.icon-product-logo {
  background-position: -5px -55px;
  width: 178px;
  height: 35px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.icon-product-logo-blue {
  background-position: -5px -100px;
  width: 219px;
  height: 42px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-header .icon-logs, .container-logs .logs-header .icon-logs {
  background-position: -234px -125px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link .icon-administration {
  background-position: -5px -5px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link .icon-hosts {
  background-position: -193px -55px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link .icon-logs {
  background-position: -234px -90px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link .icon-partners {
  background-position: -55px -210px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link .icon-router {
  background-position: -125px -210px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link .icon-scheduler {
  background-position: -195px -210px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link .icon-transfers {
  background-position: -269px -105px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link:hover .icon-administration, .app-nav__link.app-nav__link--active .icon-administration {
  background-position: -40px -5px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link:hover .icon-hosts, .app-nav__link.app-nav__link--active .icon-hosts {
  background-position: -228px -55px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link:hover .icon-logs, .app-nav__link.app-nav__link--active .icon-logs {
  background-position: -234px -125px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link:hover .icon-partners, .app-nav__link.app-nav__link--active .icon-partners {
  background-position: -90px -210px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link:hover .icon-router, .app-nav__link.app-nav__link--active .icon-router {
  background-position: -160px -210px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link:hover .icon-scheduler, .app-nav__link.app-nav__link--active .icon-scheduler {
  background-position: -230px -210px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.app-nav__link:hover .icon-transfers, .app-nav__link.app-nav__link--active .icon-transfers {
  background-position: -269px -140px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile .settings-tile-icon {
  margin-right: .75em; }

.settings-tile .settings-tile-icon.license {
  background-position: -5px -152px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile .settings-tile-icon.users {
  background-position: -265px -175px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile .settings-tile-icon.certificates {
  background-position: -75px -5px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile .settings-tile-icon.system-settings {
  background-position: -275px -5px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile .settings-tile-icon.network {
  background-position: -205px -160px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile .settings-tile-icon.monitoring {
  background-position: -105px -152px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile .settings-tile-icon.fileSystem {
  background-position: -175px -5px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile:hover .settings-tile-icon.license {
  background-position: -55px -152px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile:hover .settings-tile-icon.users {
  background-position: -265px -225px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile:hover .settings-tile-icon.certificates {
  background-position: -125px -5px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile:hover .settings-tile-icon.system-settings {
  background-position: -269px -55px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile:hover .settings-tile-icon.network {
  background-position: -5px -210px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile:hover .settings-tile-icon.monitoring {
  background-position: -155px -152px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.settings-tile:hover .settings-tile-icon.fileSystem {
  background-position: -225px -5px;
  width: 40px;
  height: 40px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.icon.menu-settings {
  background-position: -40px -5px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icons/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

.icon[class*="login-"] {
  background-image: url("../images/icons/sprite2.png");
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 20px; }

.icon.login-password {
  background-position: -1410px -103px; }

.icon.login-username {
  background-position: -1410px -36px; }

.alert-icon {
  background-image: url("../images/icons/sprite2.png");
  display: inline-block;
  vertical-align: middle; }
  .alert-icon.alert-close {
    background-position: -814px -312px;
    height: 16px;
    width: 16px; }
  .alert-icon.alert-error {
    background-position: -808px -32px;
    height: 30px;
    width: 30px; }
  .alert-icon.alert-success {
    background-position: -808px -239px;
    height: 30px;
    width: 30px; }
  .alert-icon.alert-warning {
    background-position: -807px -136px;
    width: 30px;
    height: 30px; }
  .alert-icon.alert-info {
    background-position: -806px -202px;
    height: 20px;
    width: 30px; }

.icon-caret {
  background-image: url("../images/icons/arrow.png");
  width: 15px;
  height: 9px;
  background-position: center center;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="date"],
textarea {
  -webkit-apperance: none;
  -moz-apperance: none;
  -ms-apperance: none;
  -o-apperance: none;
  apperance: none;
  background: #fff;
  border: 1px solid #ddd;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #807e7c;
  display: block;
  font: 400 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 1.2em;
  height: 2.5em;
  padding: .4em .5em;
  transition: border .2s;
  width: 100%;
  /*Validation Error Input */ }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="date"]:focus,
  textarea:focus {
    border: 1px solid #b2b0ad;
    outline: none; }
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="email"][disabled],
  input[type="number"][disabled],
  input[type="tel"][disabled],
  input[type="url"][disabled],
  input[type="date"][disabled],
  textarea[disabled] {
    background: #fafafa;
    color: #504740; }
  input[type="text"].invalid,
  input[type="password"].invalid,
  input[type="email"].invalid,
  input[type="number"].invalid,
  input[type="tel"].invalid,
  input[type="url"].invalid,
  input[type="date"].invalid,
  textarea.invalid {
    border: 1px solid #f23840; }
  input[type="text"].bordless-input,
  input[type="password"].bordless-input,
  input[type="email"].bordless-input,
  input[type="number"].bordless-input,
  input[type="tel"].bordless-input,
  input[type="url"].bordless-input,
  input[type="date"].bordless-input,
  textarea.bordless-input {
    border: none;
    border-bottom: 1px solid #ddd;
    height: 2em;
    padding: 0; }

/*Validation Error Message */
span.invalid {
  display: block;
  color: #f23840;
  margin-top: .3em; }

::-webkit-input-placeholder {
  color: #b2b0ad;
  font: 400 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

/* Firefox 18- */
:-moz-placeholder {
  color: #807e7c;
  font: 400 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

/* Firefox 19+ */
::-moz-placeholder {
  color: #807e7c;
  font: 400 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

:-ms-input-placeholder {
  color: #b2b0ad;
  font: 400 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300; }

.toggleLogs {
  float: none; }

.label,
label {
  color: #504740;
  font-size: 16px;
  font-weight: 600;
  display: inline-block !important;
  margin: 5px 5px 5px 0;
  padding: 5px !important;
  text-align: left !important; }
  .label[for^="JCheckBox"],
  label[for^="JCheckBox"] {
    float: left; }

#login {
  background: url(../images/hero/login-bg.jpg) center center fixed no-repeat;
  background-size: cover;
  height: 100%; }
  #login body {
    background: none;
    height: 100%; }
  #login .login-box {
    background-color: rgba(255, 255, 255, 0.5);
    display: table;
    height: 100%;
    margin-left: 5%;
    padding: 1.5em;
    width: 330px; }
    #login .login-box .login-box-inner {
      display: table-cell;
      vertical-align: middle; }
  #login .login-form {
    margin-top: 2em; }
  #login .input-wrap {
    position: relative; }
    #login .input-wrap.login-choice {
      height: 55px; }
    #login .input-wrap .login-user,
    #login .input-wrap .login-password {
      padding-left: 1.9em; }

.y-divider ~ div {
  top: 125px !important;
  border: 1px solid #eae9e8;
  background: #fff !important; }
  .y-divider ~ div .tabbed-pane-wrapper {
    background: #fff !important; }
    .y-divider ~ div .tabbed-pane-wrapper .ui-tabs-nav {
      right: initial !important;
      left: 25px !important;
      background: #fff !important; }
      .y-divider ~ div .tabbed-pane-wrapper .ui-tabs-nav .ui-tabs-selected {
        background: #f9f9f6 !important; }
    .y-divider ~ div .tabbed-pane-wrapper .ui-tabs-panel {
      background: #f4f3f2 !important;
      border: 1px solid #eae9e8 !important;
      border-top: none !important; }
  .y-divider ~ div input[type="text"] {
    border: 1px solid #eae9e8 !important; }

body {
  background: #f4f3f2;
  color: #504740;
  /*  scrollbar-base-color: $border-dark;
  scrollbar-track-color: $border-light;
  scrollbar-shadow-color: none;*/
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 400;
  min-width: 1280px;
  min-height: 900px;
  overflow-x: auto;
  overflow-y: auto; }

/*::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track { background: $border-light; }

::-webkit-scrollbar-track:vertical:hover { background: darken($border-light, 1%); }

::-webkit-scrollbar-thumb { background: $border-dark; }

::-webkit-scrollbar-thumb:vertical:hover { background: darken($border-dark, 5%); }*/
h1, h2, h3, h4 {
  line-height: 1.1;
  font-weight: 600;
  margin: 0; }

h1, h2 {
  font-size: 1.1em; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  color: #504740;
  text-decoration: none; }
  a:hover {
    color: #504740; }

.lighten-text {
  color: #b2b0ad; }

.text-regular {
  font-weight: 400 !important; }

.crumb {
  color: #b2b0ad; }

.full-height {
  position: relative;
  height: 100%; }

.container-settings, .container-logs {
  background-color: #fff;
  border: 1px solid #ddd; }
  .container-settings .settings-header, .container-logs .settings-header, .container-logs .logs-header {
    padding: 1em;
    height: 55px;
    background-color: #f4f3f2; }
    .container-settings .settings-header h2, .container-logs .settings-header h2, .container-logs .logs-header h2 {
      margin-right: 2em; }
    .container-settings .settings-header h2, .container-logs .settings-header h2, .container-logs .logs-header h2, .container-settings .settings-header a, .container-logs .settings-header a, .container-logs .logs-header a {
      display: inline-block; }
    .container-settings .settings-header h2 > a, .container-logs .settings-header h2 > a, .container-logs .logs-header h2 > a {
      color: #288ac3; }
  .container-settings .settings-tab, .container-logs .settings-tab {
    height: calc(100% - 55px); }
  .container-settings .settings-tiles-container, .container-logs .settings-tiles-container {
    overflow: auto;
    padding: 1em; }
    .container-settings .settings-tiles-container .settings-tile, .container-logs .settings-tiles-container .settings-tile {
      position: relative;
      float: left;
      width: 48%;
      height: 120px;
      margin: .75em 1%;
      padding: 1em;
      background-color: #f4f3f2;
      border: 1px solid #ddd;
      *zoom: 1;
      /*      @include transition('color .6s ease-in');
      @include transition('background-color .6s ease-in');*/
      /*
      .settings-tiles-menu {
        display: none;
        margin-left: 15%;
        position: absolute;
        bottom: 1em;
        .settings-tiles-links {
          display: inline-block;
          cursor: pointer;
          padding-bottom: .2em;
          margin: .5em .6em 0 0;
          border-bottom: 2px solid transparent;
          padding-bottom: .2em;
          margin: .5em .6em 0 0;
          border-bottom: 2px solid transparent;
          &:hover {
            border-bottom: 2px solid $black;
          }
        }
        }
      }*/ }
      .container-settings .settings-tiles-container .settings-tile:before, .container-logs .settings-tiles-container .settings-tile:before, .container-settings .settings-tiles-container .settings-tile:after, .container-logs .settings-tiles-container .settings-tile:after {
        content: " ";
        display: table; }
      .container-settings .settings-tiles-container .settings-tile:after, .container-logs .settings-tiles-container .settings-tile:after {
        clear: both; }
      .container-settings .settings-tiles-container .settings-tile .settings-tiles-menu, .container-logs .settings-tiles-container .settings-tile .settings-tiles-menu {
        /*margin-left: 15%;*/
        clear: both;
        height: 50px;
        /*display: none;*/
        overflow: auto; }
        .container-settings .settings-tiles-container .settings-tile .settings-tiles-menu::-webkit-scrollbar, .container-logs .settings-tiles-container .settings-tile .settings-tiles-menu::-webkit-scrollbar {
          height: 5px; }
        .container-settings .settings-tiles-container .settings-tile .settings-tiles-menu::-webkit-scrollbar-track, .container-logs .settings-tiles-container .settings-tile .settings-tiles-menu::-webkit-scrollbar-track {
          background-color: #e8d8c5; }
        .container-settings .settings-tiles-container .settings-tile .settings-tiles-menu::-webkit-scrollbar-thumb, .container-logs .settings-tiles-container .settings-tile .settings-tiles-menu::-webkit-scrollbar-thumb {
          background-color: #add3e6; }
        .container-settings .settings-tiles-container .settings-tile .settings-tiles-menu ul, .container-logs .settings-tiles-container .settings-tile .settings-tiles-menu ul {
          white-space: nowrap; }
        .container-settings .settings-tiles-container .settings-tile .settings-tiles-menu .settings-tiles-links, .container-logs .settings-tiles-container .settings-tile .settings-tiles-menu .settings-tiles-links {
          display: inline-block;
          cursor: pointer;
          padding-bottom: .2em;
          margin: .5em .75em 0 0;
          font-size: 14px; }
          .container-settings .settings-tiles-container .settings-tile .settings-tiles-menu .settings-tiles-links a, .container-logs .settings-tiles-container .settings-tile .settings-tiles-menu .settings-tiles-links a {
            color: #504740;
            border-bottom: 1px solid #504740; }
          .container-settings .settings-tiles-container .settings-tile .settings-tiles-menu .settings-tiles-links:hover a, .container-logs .settings-tiles-container .settings-tile .settings-tiles-menu .settings-tiles-links:hover a {
            color: #ffd8a6;
            border-bottom: 1px solid #ffd8a6; }
      .container-settings .settings-tiles-container .settings-tile:hover, .container-logs .settings-tiles-container .settings-tile:hover {
        background-color: #f68c00; }
        .container-settings .settings-tiles-container .settings-tile:hover *, .container-logs .settings-tiles-container .settings-tile:hover * {
          color: #fff; }
        .container-settings .settings-tiles-container .settings-tile:hover .settings-tiles-menu, .container-logs .settings-tiles-container .settings-tile:hover .settings-tiles-menu {
          display: block; }
        .container-settings .settings-tiles-container .settings-tile:hover .settings-tiles-links a, .container-logs .settings-tiles-container .settings-tile:hover .settings-tiles-links a {
          color: #fff;
          border-bottom: 1px solid #fff; }
      .container-settings .settings-tiles-container .settings-tile .settings-tile-icon-wrap, .container-logs .settings-tiles-container .settings-tile .settings-tile-icon-wrap {
        float: left;
        width: 55px; }
      .container-settings .settings-tiles-container .settings-tile .settings-tile-info, .container-logs .settings-tiles-container .settings-tile .settings-tile-info {
        float: left;
        width: 85%; }
        .container-settings .settings-tiles-container .settings-tile .settings-tile-info h3, .container-logs .settings-tiles-container .settings-tile .settings-tile-info h3, .container-settings .settings-tiles-container .settings-tile .settings-tile-info h4, .container-logs .settings-tiles-container .settings-tile .settings-tile-info h4 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .container-settings .settings-tiles-container .settings-tile .settings-tile-info h3, .container-logs .settings-tiles-container .settings-tile .settings-tile-info h3 {
          font-weight: 600;
          font-size: 1.5em;
          line-height: 40px;
          vertical-align: middle; }
        .container-settings .settings-tiles-container .settings-tile .settings-tile-info h4, .container-logs .settings-tiles-container .settings-tile .settings-tile-info h4 {
          font-size: .85em;
          font-weight: 400; }

.container-logs .logs-header h2 {
  display: inline;
  margin-right: .75em;
  padding-right: 1em;
  background: transparent url("../images/icons/arrow.png") right center no-repeat; }

.container-logs .logs-tab {
  height: calc(100% - 55px); }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.full-size {
  height: 100%;
  width: 100%; }

.spinner {
  background-image: url("../images/spinner/spinner.gif");
  background-image: url("../images/spinner/spinner.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 13px;
  margin-right: .3em;
  vertical-align: middle;
  width: 13px; }

.spinner-orange {
  background-image: url("../images/spinner/spinner-orange.svg"); }

.overlay-loading {
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../images/spinner/spinner.gif");
  background-image: url("../images/spinner/spinner.svg");
  background-position: center center;
  background-repeat: no-repeat; }

.modal-open {
  overflow: hidden; }

.modal {
  background: url("../images/modal-overlay.png") repeat;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  outline: 0;
  overflow-y: scroll;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9990;
  zoom: 1; }

.modal-dialog {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 600px; }
  @media (max-width: 20em) {
    .modal-dialog {
      margin: 1em auto;
      width: 90%; } }
  .modal-dialog.modal-wide {
    margin-top: 1.5em;
    width: 90%;
    max-width: 60em; }
    @media (max-width: 20em) {
      .modal-dialog.modal-wide {
        margin: 1em auto;
        width: 90%; } }

.modal-content {
  background: #fff;
  background-clip: padding-box;
  -o-border-radius: 2px;
  border-radius: 2px;
  -ms-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  outline: 0;
  position: relative; }

.modal-header,
.modal-subheader,
.modal-footer {
  *zoom: 1;
  padding: 1em; }
  .modal-header:before, .modal-header:after,
  .modal-subheader:before,
  .modal-subheader:after,
  .modal-footer:before,
  .modal-footer:after {
    content: " ";
    display: table; }
  .modal-header:after,
  .modal-subheader:after,
  .modal-footer:after {
    clear: both; }

.modal-header {
  background: #655d56;
  cursor: move; }
  .modal-header h2 {
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    vertical-align: middle;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.modal-subheader {
  background: #f4f3f2;
  border-bottom: 1px solid #ddd; }

.modal-body {
  background-color: #fff;
  color: #807e7c;
  overflow: auto;
  max-height: 550px;
  *zoom: 1;
  padding: 1.25em 1em; }
  .modal-body:before, .modal-body:after {
    content: " ";
    display: table; }
  .modal-body:after {
    clear: both; }
  .modal-body .modal-body__highlight {
    padding: .5em;
    background-color: #f4f3f2; }

.modal-footer {
  background: #f4f3f2;
  border-top: 1px solid #ddd;
  text-align: center; }
  .modal-footer button {
    min-width: 100px; }
    .modal-footer button.secondary {
      margin-left: .5em; }
    @media (max-width: 20em) {
      .modal-footer button {
        display: block;
        width: 100%; }
        .modal-footer button.secondary {
          margin-top: 1em;
          margin-left: 0; } }

.modal-close-wrap {
  display: block;
  float: right;
  line-height: 1;
  padding: .1em .2em; }

.modal-inputs .modal-input-item {
  margin-top: 1em;
  *zoom: 1; }
  .modal-inputs .modal-input-item:before, .modal-inputs .modal-input-item:after {
    content: " ";
    display: table; }
  .modal-inputs .modal-input-item:after {
    clear: both; }
  .modal-inputs .modal-input-item:first-child {
    margin-top: 0; }
  @media (max-width: 20em) {
    .modal-inputs .modal-input-item {
      margin-top: 1em; } }
  .modal-inputs .modal-input-item label {
    color: #504740;
    display: inline-block;
    font-weight: 600; }
    .modal-inputs .modal-input-item label.label-link {
      color: #288ac3;
      cursor: pointer; }
    .modal-inputs .modal-input-item label.toggle-folder-options {
      cursor: pointer; }
      .modal-inputs .modal-input-item label.toggle-folder-options .folder-options-label {
        vertical-align: middle; }
  .modal-inputs .modal-input-item input[type="checkbox"] {
    margin-right: .4em; }
  .modal-inputs .modal-input-item input {
    margin-bottom: 0; }
  .modal-inputs .modal-input-item .column-label,
  .modal-inputs .modal-input-item .column-input,
  .modal-inputs .modal-input-item .column-input-toggle-pw {
    float: left; }
  .modal-inputs .modal-input-item .column-label {
    padding-right: 1%;
    width: 27%; }
    .modal-inputs .modal-input-item .column-label label {
      margin-top: 0.5em; }
  .modal-inputs .modal-input-item .column-input {
    margin-bottom: 0;
    width: 72%; }
    .modal-inputs .modal-input-item .column-input .half-input {
      position: relative;
      float: left;
      width: 49%; }
    .modal-inputs .modal-input-item .column-input .half-input + .half-input {
      margin-left: 2%; }
  .modal-inputs .modal-input-item .not-input {
    margin-top: .4em; }
  .modal-inputs .modal-input-item .column-input-add {
    margin-top: 1em;
    *zoom: 1; }
    .modal-inputs .modal-input-item .column-input-add:before, .modal-inputs .modal-input-item .column-input-add:after {
      content: " ";
      display: table; }
    .modal-inputs .modal-input-item .column-input-add:after {
      clear: both; }
    .modal-inputs .modal-input-item .column-input-add input {
      display: inline-block;
      width: 60%;
      margin-right: .5em;
      vertical-align: middle; }
  .modal-inputs .modal-input-item .column-input-toggle-pw {
    padding-left: 28%; }
    @media (max-width: 20em) {
      .modal-inputs .modal-input-item .column-input-toggle-pw {
        padding-left: 0; } }
  @media (max-width: 20em) {
    .modal-inputs .modal-input-item .column-label,
    .modal-inputs .modal-input-item .column-input {
      float: none;
      width: 100%; }
    .modal-inputs .modal-input-item label {
      display: block;
      margin-bottom: .4em;
      padding: 0; } }

.modal-inputs .column-input-spacer li + li {
  margin-top: .75em; }

.modal-inputs .radio-input {
  display: inline-block;
  float: left;
  margin-top: .25em;
  margin-right: .5em; }

.modal-inputs .radio-desc {
  display: inline-block;
  float: left;
  width: 90%; }