<div ng-controller="ForgotPasswordModalCtrl as forgotCtrl">
  <div class="modal-header">
    <span class="icon modal-password"></span>
    <h2>{{'Forgot Password' | translate}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close">
      <span class="icon modal-close" ng-click="forgotCtrl.onCancel()"></span>
    </a>
  </div>

  <div alert="forgotCtrl.alert"></div>

  <div class="modal-subheader">
    <p>{{'Enter your email and we will send you information to reset your password.' | translate}}</p>
  </div>

  <form validation-options="forgotCtrl.validationOptions"
        on-submit="forgotCtrl.onSubmit()"
        on-invalid-submit="forgotCtrl.onInvalid()"
        autofocused>
    <div class="modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="email">{{'Email' | translate}}</label>
          </div>

          <div class="column-input">
            <input type="email" id="email" name="emailInput" ng-model="forgotCtrl.email">
          </div>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large" value="submit">{{'Send' | translate}}</button>
      <button class="secondary large" data-id="close" data-qa="close" ng-click="forgotCtrl.onCancel()">{{'Cancel' | translate}}</button>
    </div>
  </form>
</div>
