<div ng-controller="FileActivityPopoverCtrl as fileActivityPopoverCtrl">
  <div class="popover-more-info attachments-popover" data-id="file-more-info" data-qa="popover-more-info">
    <h3 class="popover-heading">Last updated by</h3>
    <p>{{fileActivityPopoverCtrl.lastUpdatedBy() | displayName}}{{fileActivityPopoverCtrl.dtLastUpdated()}}</p>
    <p class="attachments-popover-info">
      Downloaded by {{fileActivityPopoverCtrl.numDownloadedBy()}} of {{fileActivityPopoverCtrl.numCollaborators()}} {{fileActivityPopoverCtrl.collaboratorsWord()}}
    </p>
    <a class="popover-details" data-id="view-details" ng-click="fileActivityPopoverCtrl.viewDetailsClick()">View Details</a>
  </div>
</div>
