<div ng-controller="FileActivityCtrl as fileActivityCtrl">
  <div class="modal-header" data-qa="modal-header">
    <span class="icon modal-activity"></span>
    <h2 data-qa="activity-modal-title">{{"Activity on" | translate}} {{fileActivityCtrl.fileActivity.fileName}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close" ng-click="fileActivityCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div class="modal-body">
    <p class="file-activity-info">
      <span class="icon file-{{fileActivityCtrl.fileActivity.fileExtension | extensionToIcon}}-lrg pull-left"></span>
      <span data-qa="activity-file-name">{{fileActivityCtrl.fileActivity.fileName}}</span>
      <br>
      <span data-qa="activity-file-size">{{fileActivityCtrl.fileActivity.fileSize | bytesToFileSize}}</span>
    </p>

    <div class="file-activity">
      <table class="file-activity-table" data-qa="file-activity-table">
        <thead>
        <tr>
          <th class="td-icon"></th>
          <th>{{"Activity" | translate}}</th>
          <th>{{"User" | translate}}</th>
          <th>{{"Date" | translate}}</th>
        </tr>
        </thead>
        <tbody data-qa="file-activity-table-body">
        <tr ng-repeat="activity in fileActivityCtrl.activities | orderBy:'date':true">
          <td class="td-icon">
            <span class="icon {{activity.icon}}" title="{{activity.text}}"></span>
          </td>
          <td data-qa="activity-type">{{activity.text}}</td>
          <td data-qa="activity-email">{{activity.email}}</td>
          <td data-qa="activity-timestamp">{{activity.date | asMediumTimestamp}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="modal-footer">
    <button
      class="primary large"
      ng-click="fileActivityCtrl.onClose()"
      data-qa="activity-modal-close-btn"
      data-id="close"
      data-qa="close">
      {{"Close" | translate}}
    </button>
  </div>
</div>
