<div class="autocomplete-input">
  <span ng-show="multiSelect && newOptionsCount > 0" class="autocomplete-new-options-count-message">
    {{ onDisplayNewOptionsCount(newOptionsCount) }}
  </span>

  <div class="multiple-input" ng-class="{'autocomplete-disabled': disabled}">
    <ul class="autocomplete-chosen-options" ng-show="multiSelect" ng-mousedown="onMouseDown($event)">
      <li ng-repeat="option in chosenOptions" class="multi-input-option" ng-class="{ 'multi-input-new-option' : option.isNew, 'multi-input-invalid-option': !onValidateChoice(option) }" data-qa-chosen="onDisplayChosenOption(option)">
        <span class="multi-input-value" title="{{ onDisplayChosenOption(option) }}{{ !onValidateChoice(option) && onDisplayInvalidChoiceReason(option) ? ' - ' + onDisplayInvalidChoiceReason(option) : '' }}">{{ onDisplayChosenOption(option) }}</span>
        <span class="input-remove" ng-click="unselect(option)">×</span>
      </li>
    </ul>
    <input type="text"
           id="{{filterInputName}}"
           data-qa="{{filterInputName}}-input"
           name="{{filterInputName}}"
           autocomplete="off"
           placeholder="{{ 'Enter email or name' | translate }}"
           ng-model="filterText"
           ng-keydown="onKeyDown($event)"
           ng-focus="showChoices()"
           ng-blur="onBlur($event)"
           ng-disabled="disabled">
  </div>

  <div class="autocomplete-choices" ng-show="showAutocompleteChoices" data-qa="auto-complete-choices">
    <ul>
      <li class="autocomplete-choice"
          ng-repeat="choice in choices | filter: onValidateChoice | filter:filterText | orderBy:onDisplayChoice as filteredItems"
          ng-mousedown="onChoiceMouseDown($event, choice)" data-qa="auto-complete-choice">
        {{ onDisplayChoice(choice) }}
      </li>
      <li ng-show="filteredItems.length === 0" class="no-results-message" ng-click="hideChoices()" data-qa="auto-complete-choice">
        <span ng-if="!filterText" translate>No results</span>
        <span ng-if="filterText" translate>No results match "{{filterText}}"</span>
      </li>
    </ul>
  </div>
  <span for="{{filterInputName}}" class="invalid"></span>
</div>
