<div class="popover-more-info collaborators-popover" data-id="collaborators-more-info">
  <p ng-show="collaborator.blocked"> {{ collaborator | displayName }}'s access is currently blocked.</p>
  <p ng-show="!collaborator.blocked && collaborator.isRegistrationSent()"> {{ collaborator | displayName }} has not registered yet.</p>
  <p ng-show="!collaborator.blocked && collaborator.isRegistrationExpired()"> {{ collaborator | displayName }}'s invitation has expired. <br> They will not be able to login to view this {{ messageOrFolder }}.</p>
  <a class="popover-details"
     authorize="ADD_COLLABORATORS"
     permissions="permissions"
     is-forbidden="isResendForbidden"
     ng-hide="collaborator.blocked || isResendForbidden"
     ng-click="resendRegistration()">{{ 'Resend Invite' | translate }}</a>
</div>