<div class="menu" data-qa="share-table-action-menu">
  <ul class="menu-list">
    <li ng-show="shareTblCtrl.selectionCount === 1 && shareTblCtrl.isSelectionFilesOnly">
      <a class="menu-item"
         ng-click="shareTblCtrl.onAdditionalInfo($event)"
         data-qa="additional-info-menu-item">
        <span class="icon menu-activity"></span>
        <span class="menu-label">{{'Activity' | translate}}</span>
      </a>
    </li>

    <li ng-show="shareTblCtrl.isSelectionFoldersOnly || shareTblCtrl.isSelectionFilesOnly"
        title="{{shareTblCtrl.isRenameShareObjectForbidden ? 'No permissions to rename folders or files' : '' | translate}}">
      <a class="menu-item"
         ng-disabled="shareTblCtrl.selectionCount !== 1 || shareTblCtrl.isRenameShareObjectForbidden"
         ng-click="shareTblCtrl.onRenameShareObject($event)"
         data-id="renameShareObjectRightClick"
         data-qa="rename-menu-item"
         authorize="UPLOAD_NEW"
         permissions="shareTblCtrl.sharePermissions()"
         is-forbidden="shareTblCtrl.isRenameShareObjectForbidden">
        <span class="icon menu-rename"></span>
        <span class="menu-label">{{'Rename' | translate}}</span>
      </a>
    </li>

    <li ng-show="shareTblCtrl.isSelectionFilesOnly"
        title="{{shareTblCtrl.isMoveFileForbidden ? 'No permissions to move files' : '' | translate}}">
      <a class="menu-item"
         data-type="move"
         data-qa="move-menu-item"
         ng-disabled="shareTblCtrl.isMoveFileForbidden"
         ng-click="shareTblCtrl.onMoveToClick($event)"
         authorize="DELETE_SHARE_OBJECTS&DOWNLOAD"
         needs-all-permissions="true"
         permissions="shareTblCtrl.sharePermissions()"
         is-forbidden="shareTblCtrl.isMoveFileForbidden">
        <span class="icon menu-move-to"></span>
        <span class="menu-label">{{'Move to' | translate}}</span>
      </a>
    </li>

    <li ng-show="shareTblCtrl.isSelectionFilesOnly"
        title="{{shareTblCtrl.isCopyFileForbidden ? 'No permissions to copy files' : '' | translate}}">
      <a class="menu-item"
         data-type="copy"
         data-qa="copy-menu-item"
         ng-disabled="shareTblCtrl.isCopyFileForbidden"
         ng-click="shareTblCtrl.onCopyToClick($event)"
         authorize="DOWNLOAD"
         permissions="shareTblCtrl.sharePermissions()"
         is-forbidden="shareTblCtrl.isCopyFileForbidden">
        <span class="icon menu-copy-to"></span>
        <span class="menu-label">{{'Copy to' | translate}}</span>
      </a>
    </li>

    <li ng-show="shareTblCtrl.selectionCount === 1 && shareTblCtrl.isSelectionFoldersOnly">
      <a class="menu-item" data-type="folder" data-qa="open-menu-item"
          ng-click="shareTblCtrl.onSubfolderOpen($event)">
        <span class="icon menu-open"></span>
        <span class="menu-label">{{'Open' | translate}}</span>
      </a>
    </li>

    <li title="{{shareTblCtrl.isDeleteForbidden ? 'No permissions to delete folder contents' : '' | translate}}">
      <a class="menu-item"
         data-id="delete-entry"
         data-qa="delete-menu-item"
         authorize="DELETE_SHARE_OBJECTS"
         permissions="shareTblCtrl.sharePermissions()"
         is-forbidden="shareTblCtrl.isDeleteForbidden"
         ng-disabled="shareTblCtrl.selectionCount <= 0 || shareTblCtrl.isDeleteForbidden"
         ng-click="shareTblCtrl.onDelete($event)">
        <span class="icon menu-delete"></span>
        <span class="menu-label">{{'Delete' | translate}}</span>
      </a>
    </li>
  </ul>
</div>