<ul class="settings" ng-controller="ShareInfoCtrl as shareInfoCtrl">
  <li class="settings-space">
    <div class="small-progress" data-id="progressDiv">
      <div class="small-progress-bar"
           role="progressbar"
           ng-style="{width: shareInfoCtrl.getPercentUsed() + '%'}"
           ng-class="{'warning-background': shareInfoCtrl.getPercentUsed() > 80}"></div>
    </div>
    <span class="settings-space-text"
          ng-class="{'warning-text': shareInfoCtrl.getPercentUsed() > 80}"
          ng-click="shareInfoCtrl.onSpaceClick()"
          data-id="freeSpace">
      {{shareInfoCtrl.getUsedSpace()}}
    </span>
  </li>

  <li class="settings-expiration" data-id="settingsExpiration" ng-class="{'is-expiring': shareInfoCtrl.isExpiring}">
    <span class="icon clock"></span>
    <span class="settings-expiration-text"
          ng-click="shareInfoCtrl.onExpirationClick()">{{shareInfoCtrl.getExpirationString().string}}</span>
  </li>
</ul>
