<div ng-controller="ShareTableCtrl as shareTblCtrl"
     data-qa="share-table"
     class="full-height"
     drag-and-drop
     drag-and-drop-type="'UPLOAD_FILES_SHARE_TABLE'"
     drag-and-drop-can-do-drop="shareTblCtrl.canUploadAttachment()">
  <div alert="unifyCtrl.alert"></div>

  <div class="drag-item">
    <span class="icon icon-drag-drop"></span>
    <span class="drag-item-name"></span>
  </div>

  <div class="table-container empty-message" ng-show="unifyCtrl.emptySharesFilter()">
    <h1 ng-show="!unifyCtrl.filteringMyShares() && !unifyCtrl.filteringYourShares()">{{ 'You don\'t have any folders' | translate}}</h1>
    <h1 ng-show="unifyCtrl.filteringMyShares()">{{'You do not own any folders' | translate}}</h1>
    <h1 ng-show="unifyCtrl.filteringYourShares()">{{'No one is sharing their folders with you' | translate}}</h1>
    <p>{{'Create a folder by clicking on the new folder button' | translate}}</p>
  </div>

  <div class="table-container"
       ng-show="!unifyCtrl.emptySharesFilter()"
       data-id="file-table-container">
    <div ng-show="isDraggingFiles && shareTblCtrl.unifyState.shares.length > 0 && !shareTblCtrl.isUploadForbidden"
         class="overlay upload-overlay overlay-trans-bg"
         data-id="upload-overlay">
      <div data-id="upload-overlay-drop-area">
        <div class="upload-container upload-container-dragging" data-id="upload-area-container">
          <div class="upload-actions-intro">
            <span class="icon upload-files-orange" data-id="browse"></span>

            <p>{{'Drop your files anywhere to upload into' | translate}} </p>

            <span class="icon folder-open"></span>

            <span class="drop-folder-target" data-id="drop-receiver-name">
              {{shareTblCtrl.unifyState.selectedShare.name}}
            </span>
          </div>
        </div>

        <div class="column-input"></div>
      </div>
    </div>

    <header class="file-table-header">
      <ul class="breadcrumbs" data-id="breadcrumbs" data-qa="breadcrumbs">
        <li class="breadcrumbs-item" title="{{shareTblCtrl.currentParentName()}}">
          <span class="icon folder-open"></span>

          <a ng-show="shareTblCtrl.isShowingChildFolder()"
             ui-sref="app.unify.files({shareId: shareTblCtrl.selectedShareId(), folderId: shareTblCtrl.parentFolderId()})"
             ng-switch
             on="shareTblCtrl.isShowingRootOrNextLevelFolder() &&
                 shareTblCtrl.ftpEnabled() &&
                 unifyCtrl.showFtpAlias() &&
                 !!shareTblCtrl.selectedShare().ftpSettings.alias">
            <em ng-switch-when="true">
              {{ shareTblCtrl.selectedShare().ftpSettings.alias }}
            </em>
            <span ng-switch-when="false">
              {{ shareTblCtrl.currentParentName() }}
            </span>
          </a>

          <span ng-show="!shareTblCtrl.isShowingChildFolder()"
                ng-switch
                on="shareTblCtrl.ftpEnabled() && unifyCtrl.showFtpAlias() && !!shareTblCtrl.selectedShare().ftpSettings.alias">
            <em ng-switch-when="true">
              {{ shareTblCtrl.selectedShare().ftpSettings.alias }}
            </em>
            <span ng-switch-when="false">
              {{ shareTblCtrl.currentParentName() }}
            </span>
          </span>
        </li>

        <li ng-show="shareTblCtrl.isShowingChildFolder()" class="breadcrumbs-item breadcrumbs-separator">
          <span class="icon divider"></span>
        </li>

        <li class="breadcrumbs-item" title="{{shareTblCtrl.currentLocationName()}}">
          {{shareTblCtrl.currentLocationName()}}
        </li>
      </ul>

      <ul class="actions" data-id="actions-container">
        <li class="actions-item" ng-show="shareTblCtrl.selectionCount === 0">
          <button class="medium"
            data-id="upload"
            data-qa="upload"
            authorize="UPLOAD_EXISTING|UPLOAD_NEW"
            permissions="shareTblCtrl.sharePermissions()"
            is-forbidden="shareTblCtrl.isUploadForbidden"
            ng-disabled="shareTblCtrl.isUploadForbidden"
            title="{{shareTblCtrl.isUploadForbidden ? 'No permissions to upload files' : 'Upload Files' | translate }}"
            ng-click="shareTblCtrl.onUploadClick($event)">
            <span class="icon upload"></span>
          </button>
        </li>

        <li class="actions-item" ng-show="shareTblCtrl.selectionCount === 0">
          <button class="medium"
              title="{{shareTblCtrl.isAddFolderForbidden ? 'No permissions to create Subfolder' : 'New Subfolder' | translate}}"
              data-id="subfolder"
              ng-click="shareTblCtrl.onAddSubfolder($event);"
              ng-disabled="shareTblCtrl.isAddFolderForbidden"
              authorize="UPLOAD_NEW"
              permissions="shareTblCtrl.sharePermissions()"
              is-forbidden="shareTblCtrl.isAddFolderForbidden">
            <span class="icon add-folder-table"></span>
          </button>
        </li>

        <li class="actions-item" ng-show="shareTblCtrl.selectionCount === 0">
          <button class="medium"
              title="{{shareTblCtrl.isShareFolderForbidden ? 'No permissions to share Folder' : 'Share Folder' | translate}}"
              data-qa="share-folder-button"
              ng-click="shareTblCtrl.onShareFolderClick($event);"
              ng-disabled="shareTblCtrl.isShareFolderForbidden"
              authorize="ADD_COLLABORATORS"
              permissions="shareTblCtrl.sharePermissions()"
              is-forbidden="shareTblCtrl.isShareFolderForbidden">
            <span class="icon share"></span>
          </button>
        </li>

        <li class="actions-item" ng-show="shareTblCtrl.selectionCount === 1 && shareTblCtrl.isSelectionFilesOnly">
          <button class="medium"
                  title="{{'Activity' | translate }}"
                  ng-click="shareTblCtrl.onAdditionalInfo($event)"
                  data-qa="actions-activity">
            <span class="icon icon-activity"></span>
          </button>
        </li>

        <li class="actions-item" ng-show="shareTblCtrl.selectionCount === 1 && shareTblCtrl.isSelectionFoldersOnly">
          <button class="medium"
                  title="{{'Open' | translate }}"
                  ng-click="shareTblCtrl.onSubfolderOpen($event)"
                  data-qa="actions-open">
            <span class="icon icon-subfolder-open"></span>
          </button>
        </li>

        <li class="actions-item" ng-show="shareTblCtrl.selectionCount === 1">
          <button class="medium"
                  title="{{shareTblCtrl.isRenameShareObjectForbidden ? 'No permissions to rename folders or files' : 'Rename' | translate }}"
                  ng-disabled="shareTblCtrl.isRenameShareObjectForbidden"
                  ng-click="shareTblCtrl.onRenameShareObject($event)"
                  authorize="UPLOAD_NEW"
                  permissions="shareTblCtrl.sharePermissions()"
                  is-forbidden="shareTblCtrl.isRenameShareObjectForbidden"
                  data-qa="actions-rename">
            <span class="icon icon-rename"></span>
          </button>
        </li>

        <li class="actions-item" ng-show="shareTblCtrl.selectionCount >= 1 && shareTblCtrl.isSelectionFilesOnly">
          <button class="medium"
                  title="{{shareTblCtrl.isMoveFileForbidden ? 'No permissions to move files' : 'Move' | translate }}"
                  ng-disabled="shareTblCtrl.isMoveFileForbidden"
                  ng-click="shareTblCtrl.onMoveToClick($event)"
                  authorize="DELETE_SHARE_OBJECTS&DOWNLOAD"
                  needs-all-permissions="true"
                  permissions="shareTblCtrl.sharePermissions()"
                  is-forbidden="shareTblCtrl.isMoveFileForbidden"
                  data-qa="actions-move">
            <span class="icon icon-move"></span>
          </button>
        </li>

        <li class="actions-item" ng-show="shareTblCtrl.selectionCount >= 1 && shareTblCtrl.isSelectionFilesOnly">
          <button class="medium"
                  title="{{shareTblCtrl.isCopyFileForbidden ? 'No permissions to copy files' : 'Copy' | translate }}"
                  ng-disabled="shareTblCtrl.isCopyFileForbidden"
                  ng-click="shareTblCtrl.onCopyToClick($event)"
                  authorize="DOWNLOAD"
                  permissions="shareTblCtrl.sharePermissions()"
                  is-forbidden="shareTblCtrl.isCopyFileForbidden"
                  data-qa="actions-copy">
            <span class="icon icon-copy"></span>
          </button>
        </li>

        <li class="actions-item" ng-show="shareTblCtrl.selectionCount >= 1">
          <button class="medium"
                  title="{{shareTblCtrl.isDeleteForbidden ? 'No permissions to delete folder contents' : 'Delete' | translate }}"
                  ng-disabled="shareTblCtrl.isDeleteForbidden"
                  ng-click="shareTblCtrl.onDelete($event)"
                  authorize="DELETE_SHARE_OBJECTS"
                  permissions="shareTblCtrl.sharePermissions()"
                  is-forbidden="shareTblCtrl.isDeleteForbidden"
                  data-qa="actions-delete">
            <span class="icon icon-delete"></span>
          </button>
        </li>
      </ul>
    </header>

    <table id="file-table">
      <thead>
        <tr>
          <th class="file-table-data-check">
            <input type="checkbox"
                   ng-model="shareTblCtrl.isAllSelected"
                   ng-change="shareTblCtrl.onSelectAllChange()"
                   ng-click="shareTblCtrl.onSelectAllClick($event)"
                   ng-disabled="shareTblCtrl.unifyState.subShares.length === 0" />
          </th>
          <th class="file-table-data-name" ng-click="shareTblCtrl.sortColumnBy('name')">
            <div>
              {{'Name' | translate}}
            </div>
          </th>
          <th class="file-table-data-mod" ng-click="shareTblCtrl.sortColumnBy('lastModifiedDate')">
            <div>
              {{'Modified' | translate}}
            </div>
          </th>
          <th class="file-table-data-size" ng-click="shareTblCtrl.sortColumnBy('byteSize')">
            <div>
              {{'Size' | translate}}
            </div>
          </th>
        </tr>
      </thead>
    </table>

    <div class="file-table-overflow" data-id="file-table-table" data-qa="file-table-table" prevent-context-menu>
      <table>
        <tr class="file-table-row"
            ng-repeat="shareObject in shareTblCtrl.unifyState.subShares"
            ng-click="shareTblCtrl.onRowClick($event, shareObject)"
            ng-class="{'ui-state-highlight': shareObject.isSelected}"
            on-right-click="shareTblCtrl.onRowRightClick($event, shareObject)"
            data-qa-row-id="{{shareObject.id}}"
            drag-and-drop
            drag-and-drop-type="'MOVE_OR_COPY_FILES_WITHIN_FOLDER'"
            drag-and-drop-destination="shareObject"
            drag-and-drop-can-do-drop="shareObject.shareObjectType === 'SHAREFOLDER' && shareTblCtrl.canMoveFilesWithinFolder()"
            drag-and-drop-can-do-alt-drop="shareObject.shareObjectType === 'SHAREFOLDER' && shareTblCtrl.canCopyFilesWithinFolder()">
          <td class="file-table-data-check">
            <input type="checkbox" ng-model="shareObject.isSelected" ng-click="shareTblCtrl.onRowCheckboxClick($event, shareObject)">
          </td>
          <td class="file-table-data-name" data-name="{{shareObject.name}}">
            <a ng-if="shareObject.shareObjectType === 'SECURESHAREFILE'"
               class="table-link"
               ng-class="{'table-link-disabled': shareObject.shareObjectType === 'SECURESHAREFILE' && !shareTblCtrl.canDownloadFile()}"
               href="{{shareTblCtrl.getShareObjectUrl(shareObject)}}"
               ng-click="shareTblCtrl.shareLinkClick($event, shareObject)"
               on-right-click="shareTblCtrl.shareLinkRightClick($event, shareObject)"
               title="{{:: shareObject.name }}"
               draggable="true"
               drag-and-drop
               drag-and-drop-types="['MOVE_OR_COPY_FILES', 'MOVE_OR_COPY_FILES_WITHIN_FOLDER']"
               drag-and-drop-can-do-drag="shareTblCtrl.canMoveFiles()"
               drag-and-drop-can-do-alt-drag="shareTblCtrl.canCopyFiles()"
               drag-and-drop-dragged-object="shareObject"
               drag-and-drop-drag-message="'Move ' + shareObject.name"
               drag-and-drop-drag-alt-message="'Copy ' + shareObject.name">
              <span class="icon file-{{shareObject.type | extensionToIcon}}"></span>
              {{shareObject.name}}
            </a>
            <a ng-if="shareObject.shareObjectType === 'SHAREFOLDER'"
               class="table-link"
               ng-click="shareTblCtrl.shareLinkClick($event, shareObject)"
               on-right-click="shareTblCtrl.shareLinkRightClick($event, shareObject)"
               title="{{:: shareObject.name }}"
               draggable="false">
              <span class="icon file-{{shareObject.type | extensionToIcon}}"></span>
              {{shareObject.name}}
            </a>
          </td>
          <td class="file-table-data-mod">{{shareObject.modified | asMediumTimestamp}}</td>
          <td class="file-table-data-size">
            <span ng-if="shareObject.type !== 'folder'">{{shareObject.byteSize | bytesToFileSize}}</span>
          </td>
        </tr>
      </table>

      <div popover="shareTblCtrl.contextMenu"
           popover-at-mouse="true"
           class="menu-right-click">
        <ng-include src="'scripts/unify/shareTable/actionMenu.html'"></ng-include>
      </div>
      
      <div popover="shareTblCtrl.fileActivityPopover" popover-at-mouse="true">
        <file-activity-popover file="shareTblCtrl.activityFile" collaborators-word="'collaborators'"></file-activity-popover>
      </div>

    </div>

    <footer class="file-table-footer" ng-include="'scripts/unify/shareTable/shareInfo.html'" data-id="shareInfoFooter">
    </footer>
  </div>
</div>
