<div ng-controller="ShareObjectCtrl as shareObjectCtrl" data-qa="share-object-modal">
  <div class="modal-header">
    <span class="icon {{shareObjectCtrl.icon}}"></span>

    <h2 data-qa="share-object-modal-title">{{ shareObjectCtrl.title }}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close" ng-click="shareObjectCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="shareObjectCtrl.alert" data-id="alert" data-qa="share-object-modal-alert"></div>

  <form validation-options="shareObjectCtrl.validations"
        on-submit="shareObjectCtrl.onSave()"
        on-invalid-submit="shareObjectCtrl.onInvalid()"
        on-valid="shareObjectCtrl.onValid()"
        autofocused>
    <div class="modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="shareObjectName" data-qa="share-object-rename-label">
              {{ shareObjectCtrl.fileOrFolderWording + " Name" | translate }}
            </label>
          </div>

          <div class="column-input">
            <input type="text"
             ng-model="shareObjectCtrl.shareObjectName"
             id="shareObjectName"
             data-qa="share-object-name-input"
             name="shareObjectName"
             maxlength="255"
             ng-disabled="shareObjectCtrl.isSaving"
             required>
          </div>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large"
              name="saveSubfolder"
              value="submit"
              data-qa="share-object-modal-save"
              ng-disabled="shareObjectCtrl.isSaving">
        <span ng-show="shareObjectCtrl.isSaving" class="spinner spinner-orange"></span>
        {{'Save' | translate}}
      </button>

      <button class="secondary large"
              data-id="close"
              data-qa="close"
              ng-click="shareObjectCtrl.onClose()"
              ng-disabled="shareObjectCtrl.isSaving">
        {{'Cancel' | translate}}
      </button>
    </div>
  </form>
</div>
