<div ng-controller="ShareFolderCtrl as shareFolderCtrl">
  <div class="modal-header">
    <span class="icon {{shareFolderCtrl.icon}}"></span>

    <h2>{{shareFolderCtrl.title}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close" ng-click="shareFolderCtrl.onClose()" ng-disabled="shareFolderCtrl.isSaving">
      <span class="icon modal-close"></span>
    </a>
  </div>
  <div alert="shareFolderCtrl.alert" data-id="alert"></div>

  <form data-id="collaboratorsForm"
        validation-options="shareFolderCtrl.collaboratorForm.validationOptions"
        on-submit="shareFolderCtrl.onSave()"
        on-valid="shareFolderCtrl.onValid()"
        on-invalid-submit="shareFolderCtrl.onInvalid()">
    <div class="share-folder-modal-body">
      <ul class="modal-inputs">

        <li class="modal-input-item">
          <div class="column-label">
            <label for="collaboratorEmails">{{ 'Collaborators' | translate }}</label>
          </div>

          <div class="column-input">
            <cleo-autocomplete
                autocomplete="shareFolderCtrl.autocomplete"
                autocomplete-choices="shareFolderCtrl.potentialCollaborators"
                autocomplete-validate-choice="shareFolderCtrl.validateChoice"
                autocomplete-filter-input-name="collaboratorEmails"
                autocomplete-multi-select="true"
                autocomplete-selection="shareFolderCtrl.collaboratorEmails"
                autocomplete-selection-property="email"
                autocomplete-display-choice="shareFolderCtrl.displayCollaborator"
                autocomplete-display-chosen-option="shareFolderCtrl.displayCollaborator"
                autocomplete-display-invalid-choice-reason="shareFolderCtrl.displayInvalidChoiceReason"
                autocomplete-display-new-options-count="shareFolderCtrl.displayNewCollaboratorsCount"
                autocomplete-disabled="shareFolderCtrl.isSaving"
                autofocused>
            </cleo-autocomplete>
          </div>
        </li>

        <li class="modal-input-item">
          <limit-access-controls limit-access="shareFolderCtrl.collaboratorForm.limitAccess"
                                 until-date="shareFolderCtrl.collaboratorForm.untilDate"
                                 until-time="shareFolderCtrl.collaboratorForm.untilTime"
                                 disabled-when="shareFolderCtrl.isSaving || !collabCtrl.collaboratorForm.canToggleLimitAccess">
          </limit-access-controls>
        </li>

        <li class="modal-input-item">
          <permissions-for-collaborator
            permissions-schemas="shareFolderCtrl.collaboratorForm.permissionsSchemas"
            permission-schema-selected="shareFolderCtrl.collaboratorForm.permissionsSchema"
            permissions-map="shareFolderCtrl.collaboratorForm.permissionsMap"
            allowed-permissions="shareFolderCtrl.collaboratorForm.allowedPermissions">
          </permissions-for-collaborator>
        </li>

        <li class="modal-input-item">
          <div class="column-label">
            <label for="message">{{ 'Message' | translate }}</label>
          </div>

          <div class="column-input">
            <div class="share-folder-message-context"
                 translate
                 translate-comment="John Doe has invited you to collaborate on one or more files uploaded to the folder 'My Folder'!">
              <strong>{{shareFolderCtrl.getCurrentUser() | displayNameOrPartialEmail}}</strong> has invited you to collaborate on one or more files uploaded to the folder '{{shareFolderCtrl.getSelectedShareName()}}'!</div>
            <div char-counter
                 str="shareFolderCtrl.message"
                 max-length="{{::shareFolderCtrl.getMaxMessageLength()}}"
                 data-qa="shareFolder-message-counter"></div>
            <textarea id="message"
                      class="comment-message"
                      name="message"
                      placeholder="{{'Add personalized content here' | translate}}"
                      ng-model="shareFolderCtrl.message"
                      ng-model-options="{ allowInvalid: true }"
                      ng-trim="false"
                      ng-disabled="shareFolderCtrl.isSaving"
                      data-qa="shareFolder-message"></textarea>
          </div>
        </li>

      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large" value="submit"
              ng-disabled="shareFolderCtrl.isSaving">
        <span ng-show="shareFolderCtrl.isSaving" class="spinner spinner-orange"></span>
        {{'Save' | translate}}
      </button>
      <button class="secondary large" data-id="close" data-qa="close"
              ng-click="shareFolderCtrl.onClose()"
              ng-disabled="shareFolderCtrl.isSaving">
        {{'Cancel' | translate}}
      </button>
    </div>
  </form>
</div>
