body{
	overflow: auto;
}

body,html{
  padding: 0;
  margin 0 auto;
}

table.updnd{
  height:100%;
  background-color: #111111;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  
   filter: alpha(opacity=70); /* internet explorer */
    -khtml-opacity: 0.7;      /* khtml, old safari */
    -moz-opacity: 0.7;       /* mozilla, netscape */
    opacity: 0.7;           /* fx, safari, opera */

  
}

div#box{
	 border: 4px double red; /* border */
}

div.frame{
	width: 500px;
	margin-bottom: 2em;
	padding: 0.5em;
	border: 1px solid blue;

}

.lined{
 border-bottom: 1px solid black; 
 padding-bottom: 0.5em;
 margin-bottom: 1em;
 display: block;
 text-weight: bold;
}

applet{
	margin:auto;
	border: 2px solid black; /* border */
}