table.background{
	background: #111111;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

table.applet{
	background: white;
	position: relative;
	margin: 0 auto;
	padding: 0;
	top: 100px; 
	/*border-top: 1px solid #CCFFFF;*/
}

table.applet tr,td{
	
}

div.app{
	width: 640px;
	height: 300px;
	background: 111111;
	position: relative;
	top: 0px;
	left: 0px;
	
}

table.applet tr.title{
	background: #99CCFF;
	text-align: left;	
}

 table.applet tr.title td{
	border-bottom: 1px solid #6699CC;
	border-top: 1px solid #CCFFFF;
}

 table.applet tr.body td{
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #DDD;
}


td.close{
	width: 2em;
	height: 2em;
	text-align: right;
	padding-right: 0.5em;	
}

td.close a{
	text-decoration: none;
	color: #0066CC;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	font-weight: normal;
}
td.close a:hover{
	color: red;
	font-weight: bold;
}

.title span{
	padding-left: 0.5em;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
	 color: rgba(0,0,0,0.6);
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}