body {
  background-color: white;
  background-repeat: repeat-y;
  text-align: left;
  vertical-align: top;
  font-family:Tahoma;
  font-size:11px;
  color:#806C59;
}

td {
	text-align: left;
	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	color:#806C59;
}


form
{
	margin:0px;
}

a {
	font-family:Arial;
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
	color:#003366;
}

A:Hover  {
	color : #002449;
	text-decoration : underline;
}

H1 {
	color: #002449;
	font-weight: bold;
	font-size : 16px;
}

H2 {
	color: #0067ac;
}

H3 {
	color: #eeb211;
}

.reportWindow {
  position: relative; 
  width: 100%; 
  height: 100%; 
  border: 0px;
}
