<div class="login-box-inner" ng-controller="RegisterCtrl as registerCtrl">
  <span class="icon logo-blue"></span>

  <form class="login-form"
        on-submit="registerCtrl.onRegisterSubmit($event)"
        validation-options="registerCtrl.registrationValidation" >

    <div class="registration-box">
      <h1 data-id="greeting-header">
        {{registerCtrl.registeringUser.firstName ? 'Welcome' : 'Hello' | translate}}
        {{registerCtrl.registeringUser.firstName}}
      </h1>

      <p>
        {{'Please choose a password for your Cleo account.' | translate}}
      </p>
    </div>

    <div alert="registerCtrl.alert"></div>

    <div class="input-wrap">
      <input class="login-username"
             type="email"
             ng-model="registerCtrl.registeringUser.email"
             placeholder="{{'Email' | translate}}"
             disabled>

      <span class="icon login-email"></span>
    </div>

    <div class="input-wrap">
      <input class="login-password"
             type="password"
             name="createPassword"
             placeholder="{{'Create password' | translate}}"
             ng-model="registerCtrl.password"
             ng-disabled="registerCtrl.isBlocked || registerCtrl.isExpired || registerCtrl.isSaving">

      <span class="icon login-password"></span>
    </div>

    <div class="input-wrap">
      <input class="login-password"
             type="password"
             name="repeatPassword"
             placeholder="{{'Re-enter password' | translate}}"
             ng-model="registerCtrl.reenteredPassword"
             ng-disabled="registerCtrl.isBlocked || registerCtrl.isExpired || registerCtrl.isSaving">
      <span class="icon login-password"></span>
    </div>

    <button class="full-width" type="submit" ng-disabled="registerCtrl.isBlocked || registerCtrl.isExpired || registerCtrl.isSaving">
      <span ng-show="registerCtrl.isSaving" class="login-spinner" data-id="login-spinner"></span>

      <span data-id="login-label">{{registerCtrl.isRegistering ? 'Loading' : 'Continue' | translate}}</span>
    </button>
  </form>
</div>