<div ng-show="modalService.isOpen"
     data-id="modal"
     data-qa="modal"
     class="modal"
     ng-click="modal.onModalClick($event)"
     on-right-click="modal.onModalRightClick($event)">
  <div class="modal-dialog" ng-class="{'modal-wide': modalService.options.isWide}">
    <div class="modal-content">
      <div data-id="inner-view" ng-include="modalService.templateUrl">
      </div>
    </div>
  </div>
</div>