@mixin margins($vertical, $horizontal) {
    &.v-margin-top {
        padding-top: $vertical;
    }
    
    &.v-margin-bottom {
        padding-bottom: $vertical;
    }
    
    &.v-margin-left {
        padding-left: $horizontal;
    }
    
    &.v-margin-right {
        padding-right: $horizontal;
    }
}

@mixin layouts {
    .cleo-discussions.v-label {
        font-weight: bolder;
    }
    
    .cleo-label-description.v-label {
        text-align: center;
    }
    
    .cleo-layout-profile-bottom {
        width: 100%;
    }
    
    .cleo-layout-share-discussions-table-header {
        .v-filterselect-no-input > .v-filterselect-input {
            border-radius: 0;
            background-color: $pewter;
            border-color: $pewter;
            padding-left: .9em;
            padding-right: .9em;
        }
    }
    
    .cleo-name {
        font-weight: bolder;
    }
    
    .v-horizontal,
    .v-vertical {
        @include margins(0, 0);
        
        .v-spacing {
            height: 0;
        }
        
        &.cleo-layout-login {
            .v-spacing {
                height: $margin-half;
            }
        }
        
        &.cleo-menu-layout {
            background-color: $cleo-blue;
            color: white;
            
            .v-spacing {
                width: $margin-full;
            }
        }
        
        &.cleo-layout-profile {
            > .v-spacing {
                height: $margin-half;
            }
        }
        
        &.cleo-layout-toolbar,
        &.cleo-layout-share-collaborators-headers,
        &.cleo-layout-contacts-groupheader,
        &.cleo-layout-contacts-header {
            @include margins($margin-half, $margin-full);
            
            .v-spacing {
                width: $margin-full;
            }
        }
        
        &.cleo-layout-toolbar.cleo-layout-share-discussions {
            @include margins(0, 0);
            
            &.v-margin-bottom {
                padding-bottom: $margin-half;
            }
        }
        
        &.cleo-layout-wizard {
            @include margins($margin-half, $margin-full);
            
            .v-spacing {
                height: $margin-full;
            }
            
            .cleo-layout-wizard-section {
                .v-spacing {
                    height: 0;
                }
            }
        }
        
        &.cleo-table-header {
            @include margins($margin-half, $margin-full);
            
            &.v-margin-right {
                padding-right: $margin-half;
            }
            
            .v-spacing {
                width: $margin-half;
            }
        }
        
        
        &.cleo-layout-maildetails {
            @include margins($margin-half, $margin-full);
        }
        
        &.cleo-layout-share-discussions {
            @include margins($margin-half, $margin-full);
        }
        
        &.cleo-layout-discussions {
            @include margins($margin-half, $margin-full);
        }
        
        &.cleo-layout-share-discussions-table-header-discussion {
            @include margins($margin-half, $margin-half);
            
            .v-button {
                margin-top: .75ex;
            }
        }
    }
    
    .popupContent {
        .v-horizontal.v-layout,
        .v-vertical.v-layout {
            @include margins($margin-half, $margin-full);
        }
        
        .v-slot {
            > .v-horizontal.v-layout,
            > .v-vertical.v-layout {
                @include margins(0, 0);
                
                &.cleo-layout-share-collaborators-add-button {
                    @include margins($margin-half, 0);
                }
            }
        }
    }
    
    .cleo-layout-discussions {
        background-color: white;
    }
    
    .cleo-layout-mailcontent {
        .cleo-layout-maildetails {
            .v-caption {
                display: inline-block;
                width: 7em;
                text-align: right;
                padding-right: 1ch;
                color: $cleo-blue;
            }
            
            .v-label {
                display: inline;
            }
            
            .cleo-subject {
                font-size: $font-size-heading;
                font-weight: bolder;
                display: inline-block;
            }
            
            .cleo-from {
                font-weight: bolder;
                color: $pewter;
                display: inline-block;
                margin-bottom: $margin-half;
            }
            
            .v-textarea {
                margin-top: $margin-half;
            }
            
            .v-slot-cleo-discussions {
                border-top: 1px solid $pewter;
                margin-top: $margin-half;
            }
        }
    }
    
    .v-slot-cleo-layout-maildetails-document {
        line-height: 0;
    }
    
    .v-splitpanel-hsplitter,
    .v-splitpanel-vsplitter {
        background-color: transparent;
        
        > div {
            background-color: transparent;
            z-index: 1;
        }
    }
    
    .v-splitpanel-horizontal {
        .v-splitpanel-hsplitter {
            width: 1px;
            z-index: 10;
            
            > div {
                font-size: $font-size;
                width: 1em;
                margin-left: -.25em;
                
                &:before {
                    font-size: $font-size;
                    content: "";
                    display: block;
                    background-color: $pewter;
                    height: 100%;
                    width: 1px;
                    margin: 0 .75em 0 .25em;
                }
            }
        }
    }
    
    .v-splitpanel-vertical {
        .v-splitpanel-vsplitter {
            height: 1px;
            z-index: 10;
            
            > div {
                font-size: $font-size;
                height: 1px;
                margin-top: -.5ex;
                position: relative;
                padding: .5ex 0 1ex;
                
                &:before {
                    font-size: $font-size;
                    content: "";
                    display: block;
                    background-color: $pewter;
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }
    
    .v-ui > .v-vertical > .v-expand > .v-spacing {
        height: 0;
    }
    
    .v-button-cleo-icon-24,
    .v-horizontallayout-cleo-layout-toolbar {
        .v-icon {
            width: 24px !important;
            height: 24px !important;
            margin-right: 0;
        }
    }
}