@import "../reindeer/legacy-styles.css";


.v-table-cell-content-share .v-treetable-treespacer {
        visibility: hidden !important;
}

.secureshare-menu-layout {
	background: #f5f5f5 repeat-x;
	background-image: url(img/bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
}

.secureshare-menu-bar {
        /*background: #11155C repeat-x;*/
        background: #f5f5f5 repeat-x;
	background-image: url(img/bg.png); /** sprite-ref: verticals; sprite-alignment: repeat */
	font-size: 32px;
        color: #003479;
        height: 40px;
}

.secureshare-login-layout {
    background-color: #0083CA;
}

.mousehand {
        cursor: pointer;
    }
    
    .addcollab-layout {
        overflow: auto !important;
        max-height: 220px;
    }
    
    .v-popupbutton .v-popup-indicator {
        visibility: hidden !important;
        width: 0px !important;
    }
    
    .v-splitpanel-second-container-collabsplit {
        overflow: hidden !important;
    }
    
    .collab-header-layout {
        margin-left: 5px;
    }
    
    .v-widget.tokenfield .v-button-contactgroupbutton, .v-widget.tokenfield .v-button-contactgroupbutton:focus {
	background-color: #00F0B4;
    }
    
    .v-widget.tokenfield .v-button-usergroupbutton, .v-widget.tokenfield .v-button-usergroupbutton:focus {
	background-color: #FFC824;
    }
    
    .v-widget.tokenfield .v-button-contactbutton, .v-widget.tokenfield .v-button-contactbutton:focus {
	background-color: #E9A8FF;
    }
    
    .v-table-collabtable tr {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .v-table-collabtable tr .remove-button {
        visibility: hidden;
    }
    
    .v-table-collabtable tr.v-selected .remove-button {
        visibility: visible;
    }
    
    .permissions-layout {
        margin-top: 10px;
    }
    
    .contact-wizard-option-layout {
        margin: 5px;
        padding: 15px;
        cursor: pointer;
    }
    
    .contact-wizard-option-layout:hover {
        border-radius: 15px;
        background-color: #F0F0F0;
    }
    
    .contact-wizard-option-layout .header-label {
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        vertical-align: center;
    }
    
    .contact-wizard-option-layout .img-button {
        opacity: 0.4;
        width: 40% !important;
    }
    
    .contact-wizard-option-layout:hover .img-button {
        opacity: 1.0;
    }
    
    .contact-wizard-option-layout .description-label {
        cursor: pointer;
        visibility: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        vertical-align: center;
    }
    
    .contact-wizard-option-layout:hover .description-label {
        visibility: visible;
    }
    
    .no-contact-header {
        font-size: 32px;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        vertical-align: center;
    }
    
    .border-layout {
        border: solid 1px #c0c0c0;
    }
    
    /* Lay the options horizontally */
    .v-select-optiongroup-horizontal .v-select-option {
        display: inline-block;
    }

    /* Avoid wrapping if the layout is too tight */
    .v-select-optiongroup-horizontal {
        white-space: nowrap;
    }

    /* Some extra spacing is needed */
    .v-select-optiongroup-horizontal .v-select-option.v-radiobutton {
        padding-right: 10px;
    }



/**Ashwin css starts here **/

.v-horizontallayout-row .hide{
  visibility: hidden;
}

.v-horizontallayout-row:hover .hide{
  visibility: visible;
}

.home-layout {
  margin: 5px;
  padding: 15px;
  cursor: pointer;
}

.home-layout:hover {
  border-radius: 15px;
  background-color: #F0F0F0;
}

.home-layout .header-label {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  vertical-align: center;
}

.home-layout .img-button {
  opacity: 0.4;
  width: 40% !important;
}

.home-layout:hover .img-button {
  opacity: 1.0;
}

.home-layout .description-label {
  cursor: pointer;
  visibility: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  vertical-align: center;
}

.home-layout:hover .description-label {
  visibility: visible;
}

.home-header {
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  vertical-align: center;
}

.btnCaption .v-button-caption {
	text-decoration: none;
	color: #524C4C;
	text-align: center !important;
}

.btnCaption:hover{
	display: inline-block;
	text-align: center !important;
	text-decoration: none;
	/*border: 2px outset #ddd;*/
	border: 2px solid white;
	background: #eee;
	white-space: nowrap;
	margin: 0;
	color: inherit;
	font: inherit;
	font-size: 12px;
	line-height: normal;
	box-sizing: border-box;
}
.borderless{
        border: none ;
	background: transparent ;
	box-shadow: none;
}
