<div ng-controller="LicenseSettingsCtrl as licenseCtrl" class="full-height" data-qa="license-settings-tab">
  <div class="settings-tab-detail no-footer">
    <div class="settings-section col col-4-8">
      <h2>{{'License' | translate}}</h2>

      <ul>
        <li class="configuration-parameter"
            ng-show="licenseCtrl.isLicenseTemporary() && !licenseCtrl.isLoading"
            data-qa="temporary-license-item">
          <label class="configuration-parameter-label">{{'Status' | translate}}</label>
          <span>
            {{'Temporary' | translate}}
          </span>
        </li>

        <li class="configuration-parameter" data-qa="license-serial-number-item">
          <label class="configuration-parameter-label">
            {{'Number' | translate}}
          </label>
          <span data-qa="license-serial-number">
            {{licenseCtrl.info.licenseSerialNumber || licenseCtrl.loadingOrNotAvailable()}}
          </span>
        </li>

        <li class="configuration-parameter" data-qa="license-host-id-item">
          <label class="configuration-parameter-label">
            {{'Host ID' | translate}}
          </label>
          <span data-qa="license-host-id">
            {{licenseCtrl.info.hostId || licenseCtrl.loadingOrNotAvailable()}}
          </span>
        </li>

        <li class="configuration-parameter" data-qa="license-owner-item">
          <label class="configuration-parameter-label">
            {{'Owner' | translate}}
          </label>
          <span data-qa="license-owner">
            {{licenseCtrl.info.licenseOwner || licenseCtrl.loadingOrNotAvailable()}}
          </span>
        </li>

        <li class="configuration-parameter" data-qa="license-expiration-item">
          <label class="configuration-parameter-label">
            {{'Expires' | translate}}
          </label>
          <span ng-show="licenseCtrl.hasLicenseExpiration() && !licenseCtrl.isLoading"
                data-qa="license-expiration">
            {{licenseCtrl.info.licenseExpireDate | asMediumDate}}
          </span>
          <span ng-show="!licenseCtrl.hasLicenseExpiration() && !licenseCtrl.isLoading">
            {{'Not available' | translate}}
          </span>
        </li>
      </ul>
    </div>

    <div class="settings-section col col-4-8">
      <h2>{{'Support' | translate}}</h2>

      <ul>
        <li class="configuration-parameter" data-qa="license-support-item">
          <label class="configuration-parameter-label">
            {{'Status' | translate}}
          </label>
          <span ng-show="(licenseCtrl.hasSupportExpiration() && licenseCtrl.isSupportActive()) && !licenseCtrl.isLoading"
                data-qa="connection-string">
            {{'Active' | translate}}
          </span>
          <span ng-show="(!licenseCtrl.hasSupportExpiration() || !licenseCtrl.isSupportActive()) && !licenseCtrl.isLoading"
            data-qa="connection-string">
            {{'Inactive' | translate}}
          </span>
        </li>

        <li class="configuration-parameter" data-qa="license-support-expiration-item">
          <label class="configuration-parameter-label">{{'Expires' | translate}}</label>
          <span data-qa="license-support-expiration">
            {{licenseCtrl.info.supportExpireMoment | asMediumDate}}
          </span>
          <span ng-show="!licenseCtrl.hasSupportExpiration() && !licenseCtrl.isLoading">
            {{'Not available' | translate}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>