<ul ng-controller="AppNavCtrl as appNavCtrl" class="app-nav__list">
  <li class="app-nav__item">
    <a class="app-nav__link app-nav__unify"
       ng-class="{ 'app-nav__link--active' : appNavCtrl.inUnifyOrSearch()}"
       ui-sref="app.unify.files"
       title="{{'Files' | translate}}">
      <span class="icon files"></span>
      {{'Files' | translate}}
    </a>
  </li>

  <li class="app-nav__item">
    <a class="app-nav__link app-nav__trust"
       ui-sref-active="app-nav__link--active"
       ui-sref="app.trust.messages"
       title="{{'Messages' | translate}}">
      <span class="icon messages"></span>
      {{'Messages' | translate}}
    </a>
  </li>
</ul>
