<input type="text"
       name="{{inputName}}"
       data-qa="{{inputName}}-input"
       ng-model="value"
       placeholder="{{placeholder}}"
       on-enter="onFilter()"/>
<span class="icon icon-filter users-filter-btn"
      ng-class="{'icon-filter-active': isActive()}"
      ng-hide="isFiltered()"
      data-qa="{{inputName}}-apply-btn"
      title="{{'Apply Filter' | translate }}"
      ng-click="onFilter()"></span>
<span class="icon icon-filter-clear users-filter-btn"
      ng-show="isFiltered()"
      data-qa="{{inputName}}-clear-btn"
      title="{{'Clear Filter' | translate }}"
      ng-click="onClear()"></span>
