<div ng-controller="WebServerSettingsCtrl as webServerTabCtrl" class="full-height">
  <div class="settings-tab-detail no-footer">
    <div alert="webServerTabCtrl.alert" data-qa="web-server-alert"></div>

    <div class="settings-section col col-3-8">
      <h2>{{ 'HTTP' | translate }}</h2>

      <ul>
        <li class="configuration-parameter">
          <label class="configuration-parameter-label">
            {{'Status' | translate}}
          </label>
          <span data-qa="http-status">
            {{webServerTabCtrl.webServerDetail.httpActive ? 'Enabled' : 'Disabled' | translate }}
          </span>
        </li>

        <li class="configuration-parameter">
          <label class="configuration-parameter-label">
            {{ 'Port' | translate }}
          </label>
          <span data-qa="http-port">
            {{webServerTabCtrl.webServerDetail.httpPorts}}
          </span>
        </li>
      </ul>
    </div>

    <div class="settings-section col col-5-8">
      <h2>{{ 'HTTPS' | translate }}</h2>

      <ul>
        <li class="configuration-parameter">
          <label class="configuration-parameter-label">
            {{'Status' | translate}}
          </label>
          <span data-qa="https-status">
            {{webServerTabCtrl.webServerDetail.httpsActive ? 'Enabled' : 'Disabled' | translate }}
          </span>
        </li>

        <li class="configuration-parameter">
          <label class="configuration-parameter-label">
            {{ 'Port' | translate }}
          </label>
          <span data-qa="https-port">
            {{webServerTabCtrl.webServerDetail.httpsPorts}}
          </span>
        </li>

        <li>
          <label class="configuration-parameter-label">
            {{'Web Server Certificate' | translate}}
          </label>
          <ul class="configuration-cert-links">
            <li>
              <a ng-disabled="webServerTabCtrl.certificateIsNotAssigned"
                 ng-class="{'certificate-not-assigned' : webServerTabCtrl.certificateIsNotAssigned }"
                 ng-click="webServerTabCtrl.certificateIsNotAssigned || webServerTabCtrl.viewCertificate()"
                 data-qa="view-cert-link">
                {{'View Certificate' | translate}} ({{ webServerTabCtrl.certificateLinkText }})...
              </a>
            </li>

            <li>
              <a ng-click="webServerTabCtrl.replaceOrAssignCertificate()"
                 data-qa="replace-cert-btn">
                {{ webServerTabCtrl.certificateButtonText }}...
              </a>
            </li>

            <li>
              <a ng-click="webServerTabCtrl.onDownloadCert($event)"
                 title="{{ 'Generate Certificate Signing Request' | translate}}"
                 data-qa="export-cert-btn">
                {{'Generate CSR' | translate}}...
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
