<div ng-controller="EditSettingsCtrl as editSettingsCtrl" class="full-height">
  <header class="settings-header">
    <h2>
      <a class="settings-title" ui-sref="^.summary">
        <span class="icon menu-settings"></span>
        {{'Settings' | translate}}
      </a>
    </h2>
    <setting-tabs>
      <li setting-tab name="licence" title="{{ editSettingsCtrl.tiles.license.title | translate }}" state=".license" icon-class="settings-tab-icon-reg"></li>
      <li setting-tab name="dataStore" title="{{ editSettingsCtrl.tiles.dataStorage.title | translate }}" state=".dataStorage" icon-class="settings-tab-icon-store"></li>
      <li setting-tab name="user" title="{{ editSettingsCtrl.tiles.userSettings.title | translate }}" state=".eum" icon-class="settings-tab-icon-user-sett"></li>
      <li setting-tab name="email" title="{{ editSettingsCtrl.tiles.emailSettings.title | translate }}" state=".email" icon-class="settings-tab-icon-email"></li>
      <li setting-tab name="webServer" title="{{ editSettingsCtrl.tiles.webServer.title | translate }}" state=".webServer" icon-class="settings-tab-icon-cert"></li>
    </setting-tabs>
  </header>
  <div ui-view class="settings-tab full-height"></div>
</div>
