<div ng-controller="SettingsTilesCtrl as settingsTilesCtrl" class="full-height">
    <header class="settings-header">
      <h2>
        <span class="icon menu-settings"></span>
        {{'Settings' | translate}}
      </h2>
    </header>

    <div class="settings-tab settings-tiles-container" data-qa="settings-tiles">

      <settings-tile tile-model="settingsTilesCtrl.tiles.license"
                     target-state="^.edit.license"
                     icon="icon-tile-reg"
                     section-name="licence"></settings-tile>

      <settings-tile tile-model="settingsTilesCtrl.tiles.dataStorage"
                     target-state="^.edit.dataStorage"
                     icon="icon-tile-store"
                     section-name="dataStorage"></settings-tile>

      <settings-tile tile-model="settingsTilesCtrl.tiles.userSettings"
                     target-state="^.edit.eum"
                     icon="icon-tile-user-sett"
                     section-name="userSettings"></settings-tile>

      <settings-tile tile-model="settingsTilesCtrl.tiles.emailSettings"
                     target-state="^.edit.email"
                     icon="icon-tile-email"
                     section-name="email"></settings-tile>

      <settings-tile tile-model="settingsTilesCtrl.tiles.webServer"
                     target-state="^.edit.webServer"
                     icon="icon-tile-certificate"
                     section-name="webServer"></settings-tile>

    </div>
</div>
