<div ng-controller="UnsavedChangesModalCtrl as unsavedChangesModalCtrl" data-qa="unsaved-changes-modal">
  <div class="modal-header">
    <span class="icon pulse"></span>

    <h2 data-qa="unsaved-changes-modal-title">Discard Changes?</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="unsaved-changes-modal-close-icon" ng-click="unsavedChangesModalCtrl.onCancel()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <form>
    <div class="modal-body">
      <p>You have unsaved changes.  Do you want to save those changes or discard them before navigating away?</p>
    </div>

    <div class="modal-footer">
      <button class="primary large" value="submit" data-qa="unsaved-changes-modal-save" ng-click="unsavedChangesModalCtrl.onSave()">
        {{"Save" | translate}}
      </button>

      <button class="secondary large" data-qa="unsaved-changes-modal-cancel" ng-click="unsavedChangesModalCtrl.onDiscard()">
        {{"Discard" | translate}}
      </button>
    </div>
  </form>
</div>
