<a ng-click="onClick()" data-qa="sort-link">
  <span ng-transclude></span>
  <i class="icon"
     ng-class="{'icon-caret-up' : current.sortBy === criteria && !current.sortDesc,
                'icon-caret-down': current.sortBy === criteria && current.sortDesc}"
     ng-hide="current.sortBy !== criteria"></i>
</a>
