@import "absolutelayout/absolutelayout.scss";
@import "accordion/accordion.scss";
@import "button/button.scss";
@import "button/nativebutton.scss";
@import "button/checkbox.scss";
@import "layout/layout.scss";
@import "calendar/calendar.scss";
@import "caption/caption.scss";
@import "colorpicker/colorpicker.scss";
@import "common/common.scss";
@import "csslayout/csslayout.scss";
@import "customcomponent/customcomponent.scss";
@import "customlayout/customlayout.scss";
@import "datefield/datefield.scss";
@import "inlinedatefield/inlinedatefield.scss";
@import "dragwrapper/dragwrapper.scss";
@import "embedded/embedded.scss";
@import "formlayout/formlayout.scss";
@import "gridlayout/gridlayout.scss";
@import "label/label.scss";
@import "link/link.scss";
@import "loginform/loginform.scss";
@import "menubar/menubar.scss";
@import "notification/notification.scss";
@import "orderedlayout/orderedlayout.scss";
@import "panel/panel.scss";
@import "popupview/popupview.scss";
@import "progressindicator/progressindicator.scss";
@import "select/select.scss";
@import "shadow/shadow.scss";
@import "slider/slider.scss";
@import "splitpanel/splitpanel.scss";
@import "table/table.scss";
@import "tabsheet/tabsheet.scss";
@import "textfield/textfield.scss";
@import "tree/tree.scss";
@import "treetable/treetable.scss";
@import "upload/upload.scss";
@import "widget/widget.scss";
@import "window/window.scss";
@import "debug/debug.scss";

.v-vaadin-version:after {
	content: "7.1.5";
}

/* References the BODY tag generated by Vaadin application servlet */
.v-generated-body {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	overflow: hidden;
}
$font-size: 16px;
$line-height: normal;
@mixin base {
	// @include base-app;
	
	// everything included from base theme
	// other themes should enclose corresponding definitions in theme selectors
	
	@include base-widget;
	
	@include base-absolutelayout;
	@include base-accordion;
	@include base-button;
	@include base-nativebutton;
	@include base-checkbox;
	@include base-caption;
	@include base-colorpicker;
	@include base-calendar;
	
	// here for now to preserve old semantics
	@include base-common;
	
	@include base-layout;
	@include base-csslayout;
	@include base-customcomponent;
	@include base-customlayout;
	@include base-datefield;
	@include base-inline-datefield;
	@include base-dragwrapper;
	@include base-embedded;
	@include base-formlayout;
	@include base-gridlayout;
	@include base-label;
	@include base-link;
	@include base-loginform;
	@include base-menubar;
	@include base-notification;
	@include base-orderedlayout;
	@include base-panel;
	@include base-popupview;
	@include base-progressindicator(v-progressbar);
	/* For legacy ProgressIndicator component */
	@include base-progressindicator(v-progressindicator);
	
	@include base-select;
	@include base-shadow;
	@include base-slider;
	@include base-splitpanel;
	@include base-table;
	@include base-tabsheet;
	@include base-textfield;
	@include base-richtextarea;
	@include base-tree;
	@include base-treetable;
	@include base-upload;
	@include base-window;
}

// always include, don't wrap in .themename{}
@include debug-globals;
