.v-assistive-device-only {
	position: absolute;
	top: -2000px;
	left: -2000px;
	width: 10px;
	overflow: hidden;
}

.v-vaadin-version:after {
	content: "7.1.5";
}

.v-generated-body {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	overflow: hidden;
}

.v-debug-console {
	background: #fff;
	opacity: 0.9;
	border: 1px solid #000;
	font-family: sans-serif;
}

.v-debug-console-caption {
	background: #000;
	border-bottom: 1px solid grey;
	color: white;
	font-weight: bold;
}

.v-debug-console-content {
	font-size: x-small;
	overflow: auto;
	white-space: pre;
}

.v-debug-console-content input {
	font-size: xx-small;
}

.v-app .invalidlayout, .v-app .invalidlayout * {
	background: #f99 !important;
}

@font-face {
	font-family: "vdebugfont";
	src: url(debug/fonts/font.eot);
	src: url(debug/fonts/font.eot?#iefix) format("embedded-opentype"), url(debug/fonts/font.woff) format("woff"), url(debug/fonts/font.ttf) format("truetype"), url(debug/fonts/font.svg#fontawesome) format("svg");
	font-weight: normal;
	font-style: normal;
}

.v-debugwindow [data-icon]:before, .v-debugwindow-menu [data-icon]:before {
	font-family: "vdebugfont";
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	vertical-align: text-bottom;
}

.v-debugwindow {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	opacity: 0.8;
	color: #666;
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 13px;
}

.v-debugwindow .v-debugwindow-handle {
	position: absolute;
	bottom: 0;
	background-color: #fff;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	z-index: 1000;
}

.v-debugwindow .v-debugwindow-handle-sw {
	width: 7px;
	height: 7px;
}

.v-debugwindow .v-debugwindow-handle-se {
	right: 0;
	width: 14px;
	height: 14px;
}

.v-debugwindow:hover {
	-moz-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
}

.v-debugwindow * {
	font-size: inherit !important;
}

.v-debugwindow-size0, .v-debugwindow-menu .v-debugwindow-button-size0 {
	font-size: 10px;
}

.v-debugwindow-size1, .v-debugwindow-menu .v-debugwindow-button-size1 {
	font-size: 13px;
}

.v-debugwindow-size2, .v-debugwindow-menu .v-debugwindow-button-size2 {
	font-size: 16px;
}

.v-debugwindow-head {
	text-align: right;
	background-color: transparent;
}

.v-debugwindow-tabs {
	display: inline-block;
	background-color: #fff;
}

.v-debugwindow-tab, .v-debugwindow-controls > * {
	width: 2em;
	border: none;
	margin: 0;
	line-height: 1.5em;
	background-color: #fff;
	color: #666;
}

.v-debugwindow-tab {
	position: relative;
	top: 1px;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #666;
	border-radius: 2px 2px 0 0;
}

.v-debugwindow-tab-selected {
	color: #666;
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

.v-debugwindow-controls {
	position: relative;
	top: 1px;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #666;
	border-radius: 2px 2px 0 0;
}

.v-debugwindow-section-head {
	text-align: left;
	background-color: #fff;
	border: 1px solid #666;
	border-bottom: 1px solid #999;
	box-shadow: 0px 0px 7px 0 rgba(55, 55, 55, 0.6);
	min-height: 1.5em;
	line-height: 1.5em;
	padding-left: 5px;
}

.v-debugwindow-button {
	border: none;
	background-color: transparent;
	color: #666;
}

.v-debugwindow-button:hover {
	color: #000;
	text-decoration: underline;
}

.v-debugwindow-button-active {
	color: #666;
	box-shadow: 1px 1px 3px 0 inset;
}

.v-debugwindow-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0px 0px 7px 0 rgba(55, 55, 55, 0.6);
	background-color: #fff;
	border: 1px solid #666;
	border-top: none;
}

.v-debugwindow-menu {
	background-color: #fff;
	padding: 4px;
	border: 1px solid #999;
	border-top: none;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 0px 7px 0 rgba(55, 55, 55, 0.6);
}

.v-debugwindow-menu-content {
	min-width: 100px;
}

.v-debugwindow-menu-content .v-debugwindow-button {
	line-height: 22px;
}

.v-debugwindow-menu-content > div > .v-debugwindow-button {
	width: 33%;
}

.v-debugwindow-row {
	display: table-row;
}

.v-debugwindow-row:nth-child(odd) {
	background-color: rgba(0, 61, 255, 0.11);
}

.v-debugwindow-row > span {
	display: table-cell;
	padding: 4px;
}

.v-debugwindow-row.SEVERE {
	color: #550000;
	background-color: #FFC5C5;
}

.v-debugwindow-row.WARNING {
	background-color: #FFFF99;
}

.v-debugwindow-row.FINE {
	color: #777;
}

.v-debugwindow-row.FINER {
	color: #888;
}

.v-debugwindow-row.FINEST {
	color: #888;
}

.v-debugwindow-row > span.caption {
	color: #999;
	text-align: right;
	white-space: nowrap;
}

.v-debugwindow-row > span.value {
	width: 100%;
}

.v-debugwindow-log {
	font-family: monospace;
}

.v-debugwindow-log .v-debugwindow-reset {
	color: #fff;
	background-color: #4C92ED;
	padding: 4px;
}

.v-debugwindow-log .v-debugwindow-time {
	text-align: right;
	color: #999;
}

.v-debugwindow-log .v-debugwindow-message {
	white-space: nowrap;
	width: 100%;
}

.v-debugwindow-log .v-debugwindow-message:hover {
	white-space: normal;
	word-wrap: break-word;
}

.v-debugwindow-log .v-debugwindow-message em {
	background-color: #C4E6F8;
}

.v-debugwindow-hierarchy .v-debugwindow-info {
	padding: 1em;
}

.v-debugwindow-network .v-debugwindow-row {
	display: block !important;
}

.v-debugwindow-network .v-debugwindow-row > span {
	display: inline;
}

.v-widget {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
	white-space: normal;
	vertical-align: bottom;
	font-size: 16px;
	line-height: normal;
}

.v-absolutelayout-wrapper {
	position: absolute;
	overflow: hidden;
}

.v-absolutelayout-margin, .v-absolutelayout-canvas {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-absolutelayout.v-has-height > div, .v-absolutelayout.v-has-height > div > div {
	height: 100%;
}

.v-absolutelayout.v-has-width > div, .v-absolutelayout.v-has-width > div > div {
	width: 100%;
}

.v-accordion {
	position: relative;
	outline: none;
	overflow: visible;
	text-align: left;
	font-size: 0;
}

.v-accordion-item {
	position: relative;
	display: inline-block;
	width: 100%;
}

.v-accordion-item-caption {
	overflow: visible;
	white-space: nowrap;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

.v-accordion-item-caption .v-caption {
	cursor: pointer;
	font-size: 16px;
}

.v-accordion-item-open .v-accordion-item-caption .v-caption {
	cursor: default;
}

.v-accordion-item-content {
	position: absolute;
	width: 100%;
}

.v-button {
	display: inline-block;
	zoom: 1;
	text-align: center !important;
	text-decoration: none;
	border: 2px outset #ddd;
	background: #eee;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	padding: 0.2em 1em;
	color: inherit;
	font: inherit;
	font-size: 16px;
	line-height: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-button.v-disabled {
	cursor: default;
}

.v-button-wrap, .v-button-caption {
	vertical-align: baseline;
	white-space: nowrap;
	font: inherit;
	color: inherit;
	line-height: normal;
}

.v-button .v-icon {
	vertical-align: middle;
	margin-right: 3px;
	border: none;
}

.v-button .v-errorindicator {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	float: none;
}

.v-button-link {
	border: none;
	text-align: left !important;
	background: transparent;
	padding: 0;
	color: inherit;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ie-user-select: text;
	user-select: text;
}

.v-sa  .v-button-link:focus {
	outline-offset: -3px;
}

.v-button-link .v-button-caption {
	text-decoration: underline;
	color: inherit;
	text-align: left;
}

.v-nativebutton .v-icon {
	vertical-align: middle;
	margin-right: 3px;
	border: none;
}

.v-nativebutton .v-errorindicator {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	float: none;
}

.v-nativebutton-link {
	border: none;
	text-align: left !important;
	background: transparent;
	padding: 0;
	color: inherit;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ie-user-select: text;
	user-select: text;
}

.v-nativebutton-link .v-nativebutton-caption {
	text-decoration: underline;
	color: inherit;
	text-align: left;
}

.v-nativebutton {
	text-align: center !important;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
}

.v-nativebutton .v-nativebutton-caption {
	vertical-align: middle;
	white-space: nowrap;
	font: inherit;
	color: inherit;
}

.v-nativebutton .v-icon {
	vertical-align: middle;
	margin-right: 3px;
}

.v-nativebutton .v-errorindicator {
	display: inline-block;
	zoom: 1;
	float: none;
}

.v-ie  .v-nativebutton {
	overflow: visible;
	padding-left: 1em;
	padding-right: 1em;
}

.v-ie  .v-nativebutton-link {
	padding: 0;
}

.v-checkbox {
	display: block;
}

.v-checkbox, .v-checkbox label, .v-checkbox input, .v-checkbox .v-icon {
	vertical-align: middle;
	white-space: nowrap;
}

.v-checkbox .v-icon {
	margin: 0 2px;
}

.v-checkbox .v-errorindicator {
	float: none;
	display: inline;
	display: inline-block;
	zoom: 1;
}

.v-captionwrapper {
	text-align: left;
}

.v-caption {
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
}

.v-errorindicator {
	display: inline-block;
}

.v-caption .v-icon {
	display: inline-block;
	padding-right: 2px;
	vertical-align: middle;
}

.v-caption .v-captiontext {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}

.v-caption .v-required-field-indicator {
	display: inline-block;
}

.v-colorpicker {
	text-align: center;
}

.v-colorpicker-button-color {
	border: 1px solid silver;
	float: left;
	width: 10px;
	height: 10px;
	margin-top: 2px;
	margin-right: 5px;
}

.v-colorpicker-area {
	border: 1px solid silver;
	margin: 1px auto;
}

.v-colorpicker-history {
	margin: 5px;
}

.v-colorpicker-history td {
	border: 1px solid silver !important;
}

.v-colorpicker-history td {
	line-height: 15px;
}

.v-colorpicker-popup {
	width: 244px;
}

.v-colorpicker-popup .v-scrollable {
	background-color: #dddddd;
}

.v-colorpicker-popup .v-tabsheet-content .v-scrollable {
	background-color: #eaeaea;
}

.v-colorpicker-popup .v-tabsheet-content .v-tabsheet-tabsheetpanel {
	background: transparent;
}

.v-colorpicker-popup .resize-button {
	border: 0px solid silver;
	background: url(colorpicker/images/resizebg.png);
	margin-top: 5px;
}

.v-colorpicker-popup .resize-button-caption {
	display: none;
}

.v-colorpicker-popup .resize-button:hover {
	background: url(colorpicker/images/resizebg-selected.png);
}

.v-colorpicker-popup .resize-button:focus {
	outline: none;
}

.v-colorpicker-gradient {
	width: 220px;
	height: 220px;
	padding-left: 10px;
	margin-top: 0px;
}

.v-colorpicker-gradient .v-colorpicker-gradient-clicklayer {
	background-color: white;
	filter: alpha(opacity = 0);
	opacity: 0;
}

.v-colorpicker-popup .rgb-gradient .v-colorpicker-gradient-background {
	width: 220px;
	height: 220px;
	background: url(colorpicker/images/gradient2.png);
}

.v-colorpicker-popup .hsv-gradient .v-colorpicker-gradient-foreground {
	background: url(colorpicker/images/gradient.png);
}

.v-colorpicker-popup .v-colorpicker-gradient-lowerbox {
	border-right: 1px solid white;
	border-top: 1px solid white;
}

.v-colorpicker-popup .v-colorpicker-gradient-higherbox {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

.v-colorpicker-popup .rgb-sliders {
	width: 227px;
	padding-left: 10px;
	color: #444444;
	text-shadow: 0 1px 0 #FFFFFF;
}

.v-colorpicker-popup .rgb-sliders .red .v-slider-base {
	background-color: red;
}

.v-colorpicker-popup .rgb-sliders .green .v-slider-base {
	background-color: green;
}

.v-colorpicker-popup .rgb-sliders .blue .v-slider-base {
	background-color: blue;
}

.v-colorpicker-popup .hsv-sliders {
	padding-left: 10px;
	color: #444444;
	text-shadow: 0 1px 0 #FFFFFF;
}

.v-colorpicker-popup .hue-slider {
	height: 10px;
	border: 0px solid silver;
	background-image: url(colorpicker/images/slider_hue_bg.png);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 3px;
	margin-top: 0px;
}

.v-colorpicker-popup .hue-slider .v-slider-handle {
	margin-top: -2px;
}

.v-colorpicker-popup .hue-slider .v-slider-base {
	border: 0px none;
	height: 0px;
	background-color: transparent;
}

.v-colorpicker-popup .v-colorpicker-preview {
	margin-top: 5px;
	padding-left: 11px;
	padding-right: 10px;
	margin-bottom: 0px;
}

.v-colorpicker-popup .v-absolutelayout-wrapper {
	width: 100%;
	height: 100%;
}

.v-colorpicker-popup .v-colorpicker-preview-textfield {
	background: none;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}

.v-colorpicker-popup .v-textfield-dark {
	color: #FFFFFF;
}

.v-colorpicker-popup .v-textfield-light {
	color: #000000;
}

.v-colorpicker-popup .colorselect {
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.v-colorpicker-popup .v-tabsheet .v-colorpicker-grid {
	height: 319px;
}

.v-colorpicker-popup .colorselect td {
	line-height: 15px;
}

.v-colorpicker-popup .v-filterselect {
	padding-right: 16px;
}

.v-calendar-nresize DIV DIV {
	cursor: n-resize !important;
}

.v-calendar-sresize DIV DIV {
	cursor: s-resize !important;
}

.v-calendar {
	background-color: #fff;
}

.v-calendar-header-month, .v-calendar-header-week {
	border-bottom: 1px solid #c1c1c1;
}

.v-calendar-header-day {
	text-align: center;
	color: #666;
	font-size: 12px;
	line-height: normal;
}

.v-calendar-header-week .v-calendar-header-day:hover {
	cursor: pointer;
	color: #222;
}

.v-calendar-header-day-today {
	font-weight: bold;
	color: #444;
}

.v-calendar-header-month td:first-child {
	padding-left: 19px;
}

.v-calendar-header-week .v-calendar-back, .v-calendar-header-week .v-calendar-next {
	border: none;
	padding: 0;
	margin: 0;
	height: 12px;
	width: 12px;
	overflow: hidden;
	background: transparent url(calendar/img/arrows.png) no-repeat 50% 0;
	opacity: 0.3;
	filter: alpha(opacity = 30);
	cursor: default;
}

.v-calendar-header-week .v-calendar-back:hover, .v-calendar-header-week .v-calendar-next:hover {
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.v-calendar-header-week .v-calendar-back:active, .v-calendar-header-week .v-calendar-next:active {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.v-calendar-header-week .v-calendar-next {
	background-position: 50% -12px;
}

.v-calendar-month {
	outline: none;
}

.v-calendar-week-numbers {
	width: 20px;
	border-right: 1px solid #ccc;
}

.v-calendar-week-number {
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	cursor: pointer;
	opacity: 0.5;
	width: 20px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.v-calendar-week-number:hover {
	opacity: 1;
}

.v-calendar-month-day {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	outline: none;
}

.v-calendar-month-day-today {
	background-color: #e7f0f5;
}

.v-calendar-month-day-selected {
	background-color: #fffee7;
}

.v-calendar-month-day-dragemphasis {
	background-color: #a8a8a8;
}

.v-calendar-month-day-scrollable {
	overflow-y: scroll;
}

.v-calendar-day-number {
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	text-align: right;
	padding-right: 3px;
	white-space: nowrap;
}

.v-calendar-day-number:hover {
	cursor: pointer;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.v-calendar-month .v-calendar-spacer, .v-calendar-month .v-calendar-bottom-spacer, .v-calendar-month .v-calendar-bottom-spacer-empty {
	height: 15px;
	font-size: 11px;
}

.v-calendar-month .v-calendar-bottom-spacer:hover {
	cursor: pointer;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.v-calendar-event {
	line-height: 14px;
	font-size: 11px;
	padding: 0 0 0 4px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	outline: none;
}

.v-calendar-event-month {
	margin-bottom: 1px;
	white-space: nowrap;
}

.v-calendar-event-month:hover {
	text-decoration: underline;
}

.v-calendar-event-all-day {
	background: #999;
	display: block;
	margin-left: -2px;
}

div.v-calendar-event-all-day {
	color: #fff;
	height: 14px;
}

.v-calendar-event-continued-from {
	margin-left: 0;
}

.v-calendar-event-start {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	margin-left: 0;
}

.v-calendar-event-end {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.v-calendar-week-wrapper {
	position: relative;
}

.v-calendar-times {
	width: 51px;
}

.v-calendar-time {
	padding: 0 8px 7px 0;
	margin-top: -7px;
	text-align: right;
	font-size: 11px;
	color: #666;
	border-right: 1px solid #ccc;
}

.v-calendar-weekly-longevents {
	border-left: 1px solid #ccc;
	border-bottom: 2px solid #bbb;
	margin-left: 50px;
}

.v-calendar-weekly-longevents .v-calendar-datecell {
	border-right: 1px solid #ccc;
	padding: 1px 0 0;
}

.v-calendar-weekly-longevents .v-calendar-event {
	height: 14px;
	margin-bottom: 1px;
}

.v-calendar-weekly-longevents .v-calendar-event:hover {
	text-decoration: underline;
}

.v-calendar-day-times {
	border-right: 1px solid #ccc;
	outline: none;
}

.v-calendar-day-times .v-datecellslot, .v-calendar-day-times .v-datecellslot-even {
	border-bottom: 1px solid #ccc;
}

.v-calendar-day-times .v-datecellslot-even {
	border-bottom-color: #eee;
}

.v-calendar-day-times .v-daterange {
	background-color: #a8a8a8;
}

.v-calendar-day-times .v-reserved {
	background-color: #FF3333;
}

.v-calendar-day-times .dragemphasis {
	background-color: #a8a8a8;
}

.v-calendar-week-wrapper .v-calendar-event {
	padding: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: -1px;
}

.v-calendar-event-caption {
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 4px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal;
}

.v-calendar-event-content {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #777;
	background: #eee;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	height: 14px;
}

.v-calendar-current-time {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	overflow: hidden;
	background: #5a6c86;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index: 2;
}

.v-calendar-event-resizetop {
	position: absolute;
	cursor: n-resize;
	height: 5%;
	min-height: 3px;
	top: 0;
	width: 100%;
	z-index: 1;
}

.v-calendar-event-resizebottom {
	position: absolute;
	cursor: s-resize;
	height: 5%;
	min-height: 3px;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

.v-calendar-month-sizedheight .v-calendar-month-day {
	height: 100px;
}

.v-calendar-month-sizedwidth .v-calendar-month-day {
	width: 100px;
}

.v-calendar-header-month-Hsized .v-calendar-header-day {
	width: 101px;
}

.v-calendar-header-month-Hsized td:first-child {
	padding-left: 21px;
}

.v-calendar-header-day-Hsized {
	width: 200px;
}

.v-calendar-week-numbers-Vsized .v-calendar-week-number {
	height: 100px;
	line-height: 100px;
}

.v-calendar-week-wrapper-Vsized {
	height: 400px;
	overflow-x: hidden !important;
}

.v-calendar-times-Vsized .v-calendar-time {
	height: 38px;
}

.v-calendar-times-Hsized .v-calendar-time {
	width: 42px;
}

.v-calendar-day-times-Vsized .v-datecellslot, .v-calendar-day-times-Vsized .v-datecellslot-even {
	height: 18px;
}

.v-calendar-day-times-Hsized, .v-calendar-day-times-Hsized .v-datecellslot, .v-calendar-day-times-Hsized .v-datecellslot-even {
	width: 200px;
}

.v-app {
	height: 100%;
}

.v-app, .v-window, .v-popupview-popup, .v-label, .v-caption {
	cursor: default;
}

body .v-app .v-app-loading {
	background-image: url(common/img/loading-indicator.gif);
	background-repeat: no-repeat;
	background-position: 50%;
	width: 100%;
	height: 100%;
}

.v-ui {
	height: 100%;
	width: 100%;
	outline: none;
	position: relative;
}

.v-ui.v-ui-embedded {
	margin-top: -1px;
	border-top: 1px solid transparent;
}

.v-ui:active, .v-ui:focus {
	outline: none;
}

.v-app select, .v-window select {
	margin: 0;
}

.v-disabled {
	opacity: 0.3;
	filter: alpha(opacity=30);
	cursor: default;
}

.v-disabled * {
	cursor: default;
}

* html  .v-disabled {
	zoom: 1;
}

* + html  .v-disabled {
	zoom: 1;
}

.v-disabled .v-disabled {
	opacity: 1;
}

.v-required-field-indicator {
	padding-left: 2px;
	color: red;
}

.v-form fieldset {
	border: none;
	padding: 0;
	margin: 0;
	height: 100%;
}

.v-form-content {
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-tooltip {
	cursor: default;
	background: #fff;
}

.v-tooltip-text {
	overflow: auto;
}

.v-tooltip .v-errormessage {
	overflow: auto;
}

.v-contextmenu {
	background: #fff;
}

.v-contextmenu .gwt-MenuItem {
	cursor: pointer;
	vertical-align: middle;
	padding: 0;
	border: 0;
	margin: 0;
}

.v-contextmenu .gwt-MenuItem div {
	cursor: pointer;
	vertical-align: middle;
	white-space: nowrap;
}

.v-contextmenu .gwt-MenuItem-selected div {
	background: #aaa;
	color: #fff;
}

.v-contextmenu table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

.v-contextmenu .gwt-MenuItem img {
	margin-right: 1em;
	vertical-align: middle;
}

.v-label pre {
	margin: 0;
}

.v-label-undef-w {
	white-space: nowrap;
}

.v-label h1, .v-label h2, .v-label h3, .v-label h4, .v-label h5, .v-label h6 {
	line-height: normal;
}

.v-loading-indicator, .v-loading-indicator-delay, .v-loading-indicator-wait {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30000;
	width: 31px;
	height: 31px;
	background: transparent url(common/img/loading-indicator.gif);
	margin-right: 5px;
	margin-top: 5px;
}

.v-loading-indicator-delay {
	background-image: url(common/img/loading-indicator-delay.gif);
}

.v-loading-indicator-wait {
	background-image: url(common/img/loading-indicator-wait.gif);
}

.v-app input[type="text"], .v-app input[type="password"], .v-app input[type="reset"], .v-app select, .v-app textarea, .v-window input[type="text"], .v-window input[type="password"], .v-window input[type="reset"], .v-window select, .v-window textarea {
	padding: 2px;
}

input::-ms-clear {
	display: none;
}

.v-drag-element {
	z-index: 60000;
	position: absolute !important;
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: default;
}

.v-clip {
	overflow: hidden;
}

.v-scrollable {
	overflow: auto;
	font-size: 0;
	line-height: normal;
}

.v-ios6.v-webkit  .v-scrollable {
	-webkit-overflow-scrolling: touch;
}

.v-overlay-container {
	width: 0;
	height: 0;
}

.v-vertical.v-margin-top, .v-horizontal.v-margin-top {
	padding-top: 12px;
}

.v-vertical.v-margin-right, .v-horizontal.v-margin-right {
	padding-right: 12px;
}

.v-vertical.v-margin-bottom, .v-horizontal.v-margin-bottom {
	padding-bottom: 12px;
}

.v-vertical.v-margin-left, .v-horizontal.v-margin-left {
	padding-left: 12px;
}

.v-gridlayout.v-layout-margin-top {
	padding-top: 24px;
}

.v-gridlayout, .v-verticallayout, .v-horizontallayout {
	font-size: 0;
	line-height: normal;
}

.v-gridlayout.v-layout-margin-bottom {
	padding-bottom: 24px;
}

.v-gridlayout.v-layout-margin-left {
	padding-left: 24px;
}

.v-gridlayout.v-layout-margin-right {
	padding-right: 24px;
}

.v-gridlayout .v-layout-spacing-on {
	padding-left: 12px;
	padding-top: 12px;
}

.v-spacing {
	width: 6px;
	height: 6px;
}

.v-vertical, .v-horizontal {
	display: inline-block;
}

div.v-layout.v-horizontal.v-widget {
	white-space: nowrap;
}

.v-layout.v-vertical > .v-expand, .v-layout.v-horizontal > .v-expand {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.v-slot, .v-spacing {
	display: inline-block;
	white-space: normal;
	vertical-align: top;
}

.v-vertical > .v-slot:after {
	display: inline-block;
	clear: both;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
}

.v-vertical > .v-slot, .v-vertical > .v-expand > .v-slot {
	display: block;
	clear: both;
}

.v-horizontal > .v-slot, .v-horizontal > .v-expand > .v-slot {
	height: 100%;
}

.v-horizontal > .v-expand > .v-slot {
	position: relative;
}

.v-vertical > .v-spacing, .v-vertical > .v-expand > .v-spacing {
	width: 0;
	display: block;
	clear: both;
}

.v-horizontal > .v-spacing, .v-horizontal > .v-expand > .v-spacing {
	height: 0;
}

.v-align-middle:before, .v-align-bottom:before, .v-expand > .v-align-middle:before, .v-expand > .v-align-bottom:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
}

.v-align-middle, .v-align-bottom {
	white-space: nowrap;
}

.v-align-middle > .v-widget, .v-align-bottom > .v-widget {
	display: inline-block;
}

.v-align-middle, .v-align-middle > .v-widget {
	vertical-align: middle;
}

.v-align-bottom, .v-align-bottom > .v-widget {
	vertical-align: bottom;
}

.v-align-center {
	text-align: center;
}

.v-align-center > .v-widget {
	margin-left: auto;
	margin-right: auto;
}

.v-align-right {
	text-align: right;
}

.v-align-right > .v-widget {
	margin-left: auto;
}

.v-has-caption, .v-has-caption > .v-caption {
	display: inline-block;
}

.v-caption {
	overflow: visible;
	vertical-align: middle;
}

.v-caption-on-left, .v-caption-on-right {
	white-space: nowrap;
}

.v-caption-on-top > .v-caption, .v-caption-on-bottom > .v-caption {
	display: block;
}

.v-caption-on-left > .v-caption {
	padding-right: 0.5em;
}

.v-caption-on-right > .v-caption {
	vertical-align: top;
}

.v-caption-on-left > .v-widget, .v-caption-on-right > .v-widget {
	display: inline-block;
	vertical-align: middle;
}

.v-has-caption.v-has-width > .v-widget {
	width: 100% !important;
}

.v-has-caption.v-has-height > .v-widget {
	height: 100% !important;
}

.v-errorindicator {
	vertical-align: middle;
}

.v-csslayout {
	overflow: hidden;
}

div.v-csslayout {
	display: block;
}

.v-csslayout-margin, .v-csslayout-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-has-width > .v-csslayout-margin, .v-has-width > .v-csslayout-margin > .v-csslayout-container {
	width: 100%;
}

.v-has-height > .v-csslayout-margin, .v-has-height > .v-csslayout-margin > .v-csslayout-container {
	height: 100%;
}

.v-csslayout-margin-top {
	padding-top: 12px;
}

.v-csslayout-margin-bottom {
	padding-bottom: 12px;
}

.v-csslayout-margin-left {
	padding-left: 12px;
}

.v-csslayout-margin-right {
	padding-right: 12px;
}

.v-customcomponent {
	overflow: hidden;
}

.v-customlayout {
	overflow: hidden;
}

.v-datefield {
	white-space: nowrap;
	display: inline-block;
}

.v-datefield-textfield {
	vertical-align: top;
}

.v-ie  .v-datefield-button:after {
	content: "\200B";
}

.v-datefield-button {
	cursor: pointer;
	vertical-align: top;
}

.v-has-width > input.v-datefield-textfield {
	width: 100%;
}

.v-datefield-prompt .v-datefield-textfield {
	color: #999;
	font-style: italic;
}

.v-datefield .v-datefield-button-readonly {
	display: none;
}

.v-datefield-calendarpanel table {
	width: 100%;
}

.v-datefield-calendarpanel td {
	padding: 0;
	margin: 0;
}

.v-datefield-calendarpanel:focus {
	outline: none;
}

.v-datefield-calendarpanel-header td {
	text-align: center;
}

.v-datefield-calendarpanel-month {
	text-align: center;
	white-space: nowrap;
}

.v-datefield-calendarpanel-weeknumber {
	color: #999;
	border-right: 1px solid #ddd;
	font-size: 11.7px;
}

.v-datefield-calendarpanel-day, .v-datefield-calendarpanel-day-today {
	cursor: pointer;
}

.v-datefield-calendarpanel-day-today {
	border: 1px solid #ddd;
}

.v-disabled .v-datefield-calendarpanel-day, .v-disabled .v-datefield-calendarpanel-day-today {
	cursor: default;
}

.v-datefield-calendarpanel-day-disabled, .v-datefield-calendarpanel-day-outside-range {
	cursor: default;
	opacity: 0.5;
}

.v-datefield-calendarpanel-prevyear button.outside-range, .v-datefield-calendarpanel-nextyear button.outside-range, .v-datefield-calendarpanel-prevmonth button.outside-range, .v-datefield-calendarpanel-nextmonth button.outside-range {
	opacity: 0.5;
}

.v-datefield-calendarpanel-day-selected {
	cursor: default;
	background: #333;
	color: #fff;
}

.v-datefield-calendarpanel-day-focused {
	outline: 1px dotted black;
}

.v-datefield-calendarpanel-day-offmonth {
	color: #666;
}

.v-datefield-time {
	white-space: nowrap;
}

.v-datefield-time .v-label {
	display: inline;
}

.v-datefield-popup {
	background: #fff;
}

.v-datefield-popupcalendar input.v-datefield-textfield {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-inline-datefield {
	white-space: nowrap;
	display: inline-block;
}

.v-inline-datefield-textfield {
	vertical-align: top;
}

.v-ie  .v-inline-datefield-button:after {
	content: "\200B";
}

.v-inline-datefield-button {
	cursor: pointer;
	vertical-align: top;
}

.v-has-width > input.v-inline-datefield-textfield {
	width: 100%;
}

.v-inline-datefield-prompt .v-inline-datefield-textfield {
	color: #999;
	font-style: italic;
}

.v-inline-datefield .v-inline-datefield-button-readonly {
	display: none;
}

.v-inline-datefield-calendarpanel table {
	width: 100%;
}

.v-inline-datefield-calendarpanel td {
	padding: 0;
	margin: 0;
}

.v-inline-datefield-calendarpanel:focus {
	outline: none;
}

.v-inline-datefield-calendarpanel-header td {
	text-align: center;
}

.v-inline-datefield-calendarpanel-month {
	text-align: center;
	white-space: nowrap;
}

.v-inline-datefield-calendarpanel-weeknumber {
	color: #999;
	border-right: 1px solid #ddd;
	font-size: 11.7px;
}

.v-inline-datefield-calendarpanel-day, .v-inline-datefield-calendarpanel-day-today {
	cursor: pointer;
}

.v-inline-datefield-calendarpanel-day-today {
	border: 1px solid #ddd;
}

.v-disabled .v-inline-datefield-calendarpanel-day, .v-disabled .v-inline-datefield-calendarpanel-day-today {
	cursor: default;
}

.v-inline-datefield-calendarpanel-day-disabled, .v-inline-datefield-calendarpanel-day-outside-range {
	cursor: default;
	opacity: 0.5;
}

.v-inline-datefield-calendarpanel-prevyear button.outside-range, .v-inline-datefield-calendarpanel-nextyear button.outside-range, .v-inline-datefield-calendarpanel-prevmonth button.outside-range, .v-inline-datefield-calendarpanel-nextmonth button.outside-range {
	opacity: 0.5;
}

.v-inline-datefield-calendarpanel-day-selected {
	cursor: default;
	background: #333;
	color: #fff;
}

.v-inline-datefield-calendarpanel-day-focused {
	outline: 1px dotted black;
}

.v-inline-datefield-calendarpanel-day-offmonth {
	color: #666;
}

.v-inline-datefield-time {
	white-space: nowrap;
}

.v-inline-datefield-time .v-label {
	display: inline;
}

.v-inline-datefield-popup {
	background: #fff;
}

.v-inline-datefield-popupcalendar input.v-inline-datefield-textfield {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-ddwrapper {
	padding: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

[draggable=true] {
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.v-ie  .v-ddwrapper a.drag-start {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: cyan;
	filter: alpha(opacity=0);
}

.v-ddwrapper-over {
	border: 2px solid #1d9dff;
	background-color: #bcdcff;
	padding: 0;
}

.v-ddwrapper-over {
	background-color: rgba(169, 209, 255, 0.6);
}

.no-box-drag-hints .v-ddwrapper-over {
	border: none;
	background-color: transparent;
	padding: 2px;
}

.v-app .v-ddwrapper-over-top, .v-window .v-ddwrapper-over-top, .v-popupview-popup .v-ddwrapper-over-top {
	border: none;
	border-top: 2px solid #1d9dff;
	background-color: transparent;
	padding: 2px;
	padding-top: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.v-app .v-ddwrapper-over-bottom, .v-window .v-ddwrapper-over-bottom, .v-popupview-popup .v-ddwrapper-over-bottom {
	border: none;
	border-bottom: 2px solid #1d9dff;
	background-color: transparent;
	padding: 2px;
	padding-bottom: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.v-app .v-ddwrapper-over-left, .v-window .v-ddwrapper-over-left, .v-popupview-popup .v-ddwrapper-over-left {
	border: none;
	border-left: 2px solid #1d9dff;
	background-color: transparent;
	padding: 2px;
	padding-left: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.v-app .v-ddwrapper-over-right, .v-window .v-ddwrapper-over-right, .v-popupview-popup .v-ddwrapper-over-right {
	border: none;
	border-right: 2px solid #1d9dff;
	background-color: transparent;
	padding: 2px;
	padding-right: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.v-ddwrapper, .v-ddwrapper-over, .v-app .v-ddwrapper-over-top, .v-window .v-ddwrapper-over-top, .v-popupview-popup .v-ddwrapper-over-top, .v-app .v-ddwrapper-over-bottom, .v-window .v-ddwrapper-over-bottom, .v-popupview-popup .v-ddwrapper-over-bottom, .v-app .v-ddwrapper-over-left, .v-window .v-ddwrapper-over-left, .v-popupview-popup .v-ddwrapper-over-left, .v-app .v-ddwrapper-over-right, .v-window .v-ddwrapper-over-right, .v-popupview-popup .v-ddwrapper-over-right {
	border-color: rgba(0, 109, 232, 0.6);
}

.v-ddwrapper-over-top:before, .v-ddwrapper-over-bottom:after, .v-ddwrapper-over-left:before, .v-ddwrapper-over-right:before {
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	margin-left: -2px;
	background: transparent url(common/img/drag-slot-dot.png) no-repeat;
}

.v-ddwrapper-over-bottom:after {
	margin-top: -2px;
}

.v-ddwrapper-over-left:before, .v-ddwrapper-over-right:before {
	background-position: 0 -6px;
	margin-top: -2px;
	margin-left: -4px;
}

.v-ddwrapper-over-right:before {
	position: relative;
	margin-bottom: -4px;
	margin-right: -4px;
	margin-left: 0;
	width: auto;
	background-position: 100% -6px;
}

.no-horizontal-drag-hints .v-ddwrapper-over-left {
	padding-left: 2px;
	border-left: none;
}

.no-horizontal-drag-hints .v-ddwrapper-over-right {
	padding-right: 2px;
	border-right: none;
}

.no-vertical-drag-hints .v-ddwrapper-over-top {
	padding-top: 2px;
	border-top: none;
}

.no-vertical-drag-hints .v-ddwrapper-over-bottom {
	padding-bottom: 2px;
	border-bottom: none;
}

.no-horizontal-drag-hints .v-ddwrapper-over-left:before, .no-horizontal-drag-hints .v-ddwrapper-over-right:before, .no-vertical-drag-hints .v-ddwrapper-over-top:before, .no-vertical-drag-hints .v-ddwrapper-over-bottom:after {
	display: none;
}

.v-table .v-embedded-image {
	display: inline-block;
}

.v-formlayout.v-has-width > table {
	width: 100%;
}

.v-formlayout.v-has-height > table {
	height: 100%;
}

.v-formlayout-cell .v-errorindicator {
	display: block;
}

.v-formlayout-error-indicator {
	width: 12px;
}

.v-formlayout-captioncell {
	text-align: right;
	white-space: nowrap;
}

.v-formlayout-errorcell, .v-formlayout-captioncell {
	width: 1px;
}

.v-formlayout-captioncell .v-caption {
	overflow: visible;
}

.v-formlayout-spacing > tbody > .v-formlayout-row > .v-formlayout-captioncell, .v-formlayout-spacing > tbody > .v-formlayout-row > .v-formlayout-contentcell, .v-formlayout-spacing > tbody > .v-formlayout-row > .v-formlayout-errorcell {
	padding-top: 6px;
}

.v-formlayout-spacing > tbody > .v-formlayout-firstrow > .v-formlayout-captioncell, .v-formlayout-spacing > tbody > .v-formlayout-firstrow > .v-formlayout-contentcell, .v-formlayout-spacing > tbody > .v-formlayout-firstrow > .v-formlayout-errorcell {
	padding-top: 0;
}

.v-formlayout-margin-top > tbody > .v-formlayout-firstrow > .v-formlayout-captioncell, .v-formlayout-margin-top > tbody > .v-formlayout-firstrow > .v-formlayout-contentcell, .v-formlayout-margin-top > tbody > .v-formlayout-firstrow > .v-formlayout-errorcell {
	padding-top: 12px;
}

.v-formlayout-margin-bottom > tbody > .v-formlayout-lastrow > .v-formlayout-captioncell, .v-formlayout-margin-bottom > tbody > .v-formlayout-lastrow > .v-formlayout-contentcell, .v-formlayout-margin-bottom > tbody > .v-formlayout-lastrow > .v-formlayout-errorcell {
	padding-bottom: 12px;
}

.v-formlayout-margin-left > tbody > .v-formlayout-row > .v-formlayout-captioncell {
	padding-left: 12px;
}

.v-formlayout-margin-right > tbody > .v-formlayout-row > .v-formlayout-contentcell {
	padding-right: 12px;
}

.v-formlayout-captioncell .v-caption .v-required-field-indicator {
	float: none;
}

.v-gridlayout {
	position: relative;
}

.v-gridlayout-slot {
	position: absolute;
}

.v-gridlayout-margin-top {
	padding-top: 12px;
}

.v-gridlayout-margin-bottom {
	padding-bottom: 12px;
}

.v-gridlayout-margin-left {
	padding-left: 12px;
}

.v-gridlayout-margin-right {
	padding-right: 12px;
}

.v-gridlayout-spacing-on {
	padding-left: 6px;
	padding-top: 6px;
	overflow: hidden;
}

.v-gridlayout-spacing, .v-gridlayout-spacing-off {
	padding-left: 0;
	padding-top: 0;
}

.v-gridlayout-spacing-off {
	overflow: hidden;
}

.v-label {
	overflow: hidden;
}

.v-label.v-has-width {
	white-space: normal;
}

.v-link {
	white-space: nowrap;
}

.v-link a {
	vertical-align: middle;
	text-decoration: none;
}

.v-link span {
	text-decoration: underline;
	vertical-align: middle;
}

.v-disabled a {
	cursor: default;
}

.v-link img {
	vertical-align: middle;
	border: none;
}

.v-loginform {
	height: 140px;
	width: 200px;
}

.v-app-loginpage .v-button, .v-app-loginpage .v-button {
	float: left;
}

.v-menubar {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.v-menubar .v-menubar-menuitem {
	cursor: default;
	vertical-align: middle;
	white-space: nowrap;
	display: inline;
	display: inline-block;
	zoom: 1;
}

.v-menubar .v-menubar-menuitem-caption .v-icon {
	vertical-align: middle;
	white-space: nowrap;
}

.v-menubar-submenu {
	background: #fff;
}

.v-menubar-menuitem-selected {
	background: #333;
	color: #fff;
}

.v-menubar-submenu .v-menubar-menuitem {
	cursor: default;
	display: block;
	position: relative;
	padding-right: 1.5em;
}

.v-menubar-submenu .v-menubar-menuitem-caption {
	display: block;
}

.v-menubar-submenu .v-menubar-menuitem *, .v-menubar-submenu .v-menubar-menuitem-caption * {
	white-space: nowrap;
}

.v-menubar-submenu-indicator {
	display: none;
	font-family: arial, helvetica, sans-serif;
}

.v-menubar-submenu .v-menubar-submenu-indicator {
	display: block;
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	font-size: 11.7px;
}

.v-menubar-menuitem-disabled, .v-menubar span.v-menubar-menuitem-disabled:hover, .v-menubar span.v-menubar-menuitem-disabled:focus, .v-menubar span.v-menubar-menuitem-disabled:active {
	color: #999;
}

.v-menubar-more-menuitem {
	font-family: arial, helvetica, sans-serif;
}

.v-menubar-separator {
	overflow: hidden;
}

.v-menubar-separator span {
	display: block;
	text-indent: -9999px;
	font-size: 1px;
	line-height: 1px;
	border-top: 1px solid #ddd;
	margin: 3px 0 2px;
	overflow: hidden;
}

.v-menubar .v-icon, .v-menubar-submenu .v-icon {
	margin-right: 3px;
}

.v-menubar:focus, .v-menubar-popup:focus, .v-menubar-popup .popupContent:focus, .v-menubar-popup .popupContent .v-menubar-submenu:focus {
	outline: none;
}

.v-menubar-submenu-check-column .v-menubar-menuitem {
	padding-left: 6px;
}

.v-menubar-submenu-check-column .v-menubar-menuitem-caption {
	padding-left: 18px;
}

.v-menubar-submenu .v-menubar-menuitem-checked .v-menubar-menuitem-caption {
	background: transparent url(menubar/img/check.gif) no-repeat left;
}

.v-Notification {
	background: #999;
	color: #fff;
	cursor: pointer;
	overflow: hidden;
	padding: 1em;
	max-width: 85%;
}

.v-Notification h1, .v-Notification p, .v-Notification-error h1, .v-Notification-error p, .v-Notification-warning h1, .v-Notification-warning p {
	display: inline;
	margin: 0 0.5em 0 0;
}

.v-Notification-warning {
	background: orange;
}

.v-Notification-error {
	background: red;
}

.v-Notification-tray h1 {
	display: block;
}

.v-Notification-tray p {
	display: block;
}

.v-Notification-system {
	background-color: red;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.v-Notification-system h1 {
	display: block;
	margin: 0;
}

.v-orderedlayout, .v-horizontallayout, .v-verticallayout {
	position: relative;
}

.v-orderedlayout-margin-top, .v-horizontallayout-margin-top, .v-verticallayout-margin-top {
	padding-top: 12px;
}

.v-orderedlayout-margin-right, .v-horizontallayout-margin-right, .v-verticallayout-margin-right {
	padding-right: 12px;
}

.v-orderedlayout-margin-bottom, .v-horizontallayout-margin-bottom, .v-verticallayout-margin-bottom {
	padding-bottom: 12px;
}

.v-orderedlayout-margin-left, .v-horizontallayout-margin-left, .v-verticallayout-margin-left {
	padding-left: 12px;
}

.v-orderedlayout-spacing-on, .v-horizontallayout-spacing-on, .v-verticallayout-spacing-on {
	padding-top: 6px;
	padding-left: 6px;
}

.v-orderedlayout-spacing-off, .v-horizontallayout-spacing-off, .v-verticallayout-spacing-off {
	padding-top: 0;
	padding-left: 0;
}

.v-horizontallayout-slot, .v-verticallayout-slot {
	position: absolute;
}

.v-panel, .v-panel-caption, .v-panel-content, .v-panel-deco, .v-panel-light, .v-panel-caption-light, .v-panel-content-light, .v-panel-deco-light {
	outline: none;
	text-align: left;
}

.v-panel-caption .v-errorindicator {
	float: none;
	display: inline;
}

.v-panel-caption .v-icon {
	display: inline;
	vertical-align: middle;
}

.v-panel-caption span {
	vertical-align: middle;
}

.v-panel-caption {
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}

.v-panel-nocaption {
	overflow: hidden;
}

.v-panel-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-panel.v-has-width > .v-panel-content {
	width: 100%;
}

.v-panel.v-has-height > .v-panel-content {
	height: 100%;
}

.v-popupview {
	cursor: pointer;
	text-decoration: underline;
	white-space: nowrap;
}

.v-popupview-popup {
	overflow: auto;
}

.v-popupview-loading {
	width: 30px;
	height: 30px;
	background: transparent url(common/img/ajax-loader-medium.gif) no-repeat 50%;
}

.v-progressbar {
	width: 150px;
}

.v-progressbar-wrapper {
	height: 7px;
	border: 1px solid #ddd;
}

.v-progressbar-indicator {
	height: 7px;
	background: #ddd;
}

div.v-progressbar-indeterminate {
	height: 20px;
	width: 20px;
	background: #fff url(common/img/ajax-loader-medium.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.v-progressbar-indeterminate .v-progressbar-wrapper, .v-progressbar-indeterminate .v-progressbar-indicator, .v-progressbar-indeterminate-disabled .v-progressbar-wrapper, .v-progressbar-indeterminate-disabled .v-progressbar-indicator {
	display: none;
}

div.v-progressbar-indeterminate-disabled {
	height: 20px;
	width: 20px;
	background: transparent;
}

.v-progressindicator {
	width: 150px;
}

.v-progressindicator-wrapper {
	height: 7px;
	border: 1px solid #ddd;
}

.v-progressindicator-indicator {
	height: 7px;
	background: #ddd;
}

div.v-progressindicator-indeterminate {
	height: 20px;
	width: 20px;
	background: #fff url(common/img/ajax-loader-medium.gif) no-repeat 50%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.v-progressindicator-indeterminate .v-progressindicator-wrapper, .v-progressindicator-indeterminate .v-progressindicator-indicator, .v-progressindicator-indeterminate-disabled .v-progressindicator-wrapper, .v-progressindicator-indeterminate-disabled .v-progressindicator-indicator {
	display: none;
}

div.v-progressindicator-indeterminate-disabled {
	height: 20px;
	width: 20px;
	background: transparent;
}

.v-select {
	text-align: left;
}

.v-select-optiongroup .v-select-option {
	display: block;
	white-space: nowrap;
}

.v-select-optiongroup .v-icon {
	vertical-align: middle;
	white-space: nowrap;
	margin: 0 2px;
}

.v-ie  .v-select-optiongroup .v-select-option {
	zoom: 1;
}

.v-select-select {
	display: block;
}

.v-select-twincol {
	white-space: nowrap;
}

.v-select-twincol-options {
	float: left;
}

.v-select-twincol-caption-left {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-select-twincol-selections {
	font-weight: bold;
}

.v-select-twincol-caption-right {
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-select-twincol-buttons {
	float: left;
	text-align: center;
}

.v-select-twincol-buttons .v-select-twincol-deco {
	clear: both;
}

.v-select-twincol .v-textfield {
	display: block;
	float: left;
	clear: left;
}

.v-select-twincol .v-button {
	float: left;
}

.v-select-twincol-buttons .v-button {
	float: none;
}

.v-filterselect {
	white-space: nowrap;
	text-align: left;
	display: inline-block;
	padding-right: 1em;
}

.v-filterselect .v-icon {
	float: left;
}

.v-app .v-filterselect-input, .v-window .v-filterselect-input, .v-popupview-popup .v-filterselect-input {
	margin: 0;
	float: left;
	-webkit-border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-filterselect-prompt .v-filterselect-input {
	color: #999;
	font-style: italic;
}

.v-filterselect-button {
	display: inline-block;
	cursor: pointer;
	width: 1em;
	margin-right: -1em;
	height: 1em;
	background: transparent url(common/img/sprites.png) no-repeat -5px -8px;
}

.v-filterselect.v-readonly .v-filterselect-button {
	display: none;
}

.v-filterselect.v-readonly, .v-filterselect.v-readonly .v-filterselect-input {
	background: transparent;
}

.v-filterselect-suggestpopup {
	background: #fff;
	border: 1px solid #eee;
}

.v-filterselect-suggestmenu table {
	border-collapse: collapse;
	border: none;
	vertical-align: top;
}

.v-filterselect-suggestmenu .gwt-MenuItem {
	white-space: nowrap;
}

.v-filterselect-suggestmenu .gwt-MenuItem .v-icon {
	margin-right: 3px;
	vertical-align: middle;
}

.v-filterselect-suggestmenu .gwt-MenuItem span {
	vertical-align: middle;
}

.v-filterselect-suggestmenu .gwt-MenuItem-selected {
	background: #333;
	color: #fff;
}

.v-filterselect-nextpage, .v-filterselect-nextpage-off, .v-filterselect-prevpage-off, .v-filterselect-prevpage {
	width: 100%;
	background: #aaa;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

.v-filterselect-nextpage-off, .v-filterselect-prevpage-off {
	color: #666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: default;
}

.v-filterselect-nextpage-off span, .v-filterselect-prevpage-off span {
	cursor: default;
}

.v-filterselect-status {
	white-space: nowrap;
	text-align: center;
}

.v-filterselect-no-input .v-filterselect-input {
	cursor: default;
}

.v-shadow {
	position: absolute;
}

.v-shadow .top-left {
	position: absolute;
	overflow: hidden;
	top: -3px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: transparent url(shadow/img/top-left.png);
}

.v-shadow .top {
	position: absolute;
	overflow: hidden;
	top: -3px;
	left: 5px;
	height: 10px;
	right: 5px;
	background: transparent url(shadow/img/top.png);
}

.v-shadow .top-right {
	position: absolute;
	overflow: hidden;
	top: -3px;
	right: -5px;
	width: 10px;
	height: 10px;
	background: transparent url(shadow/img/top-right.png);
}

.v-shadow .left {
	position: absolute;
	overflow: hidden;
	top: 7px;
	left: -5px;
	width: 10px;
	bottom: 3px;
	background: transparent url(shadow/img/left.png);
}

.v-shadow .center {
	position: absolute;
	overflow: hidden;
	top: 7px;
	left: 5px;
	bottom: 3px;
	right: 5px;
	background: transparent url(shadow/img/center.png);
}

.v-shadow .right {
	position: absolute;
	overflow: hidden;
	top: 7px;
	right: -5px;
	width: 10px;
	bottom: 3px;
	background: transparent url(shadow/img/right.png);
}

.v-shadow .bottom-left {
	position: absolute;
	overflow: hidden;
	bottom: -7px;
	left: -5px;
	width: 10px;
	height: 10px;
	background: transparent url(shadow/img/bottom-left.png);
}

.v-shadow .bottom {
	position: absolute;
	overflow: hidden;
	bottom: -7px;
	left: 5px;
	right: 5px;
	height: 10px;
	background: transparent url(shadow/img/bottom.png);
}

.v-shadow .bottom-right {
	position: absolute;
	overflow: hidden;
	bottom: -7px;
	right: -5px;
	width: 10px;
	height: 10px;
	background: transparent url(shadow/img/bottom-right.png);
}

.v-slider {
	margin: 5px 0;
}

.v-slider-base {
	height: 2px;
	border-top: 1px solid #ddd;
	background: #eee;
	border-left: 1px solid #ddd;
	border-right: 1px solid #eee;
}

.v-slider-handle {
	background: #aaa;
	width: 12px;
	height: 12px;
	margin-top: -5px;
	font-size: 0;
}

.v-slider-vertical {
	width: 2px;
	height: auto;
	margin: 0 5px;
	border: none;
	border-left: 1px solid #cccfd0;
	border-right: 1px solid #cccfd0;
}

.v-slider-vertical .v-slider-base {
	width: 2px;
	border-bottom: 1px solid #eee;
	border-right: none;
}

.v-slider-vertical .v-slider-handle {
	width: 12px;
	height: 12px;
	font-size: 0;
	margin-left: -5px;
}

.v-slider-feedback {
	padding: 2px 5px;
	background: #444;
	color: #fff;
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: -2px 0 0 2px;
	text-shadow: 0 1px 0 #000;
}

.v-splitpanel-horizontal, .v-splitpanel-vertical {
	overflow: hidden;
}

.v-splitpanel-hsplitter {
	width: 6px;
}

.v-splitpanel-hsplitter div {
	width: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ddd;
	cursor: e-resize;
	cursor: col-resize;
}

.v-disabled .v-splitpanel-hsplitter div {
	cursor: default;
}

.v-splitpanel-vsplitter {
	height: 6px;
}

.v-splitpanel-vsplitter div {
	height: 6px;
	background: #ddd;
	cursor: s-resize;
	cursor: row-resize;
}

.v-disabled .v-splitpanel-vsplitter div {
	cursor: default;
}

.v-table {
	overflow: hidden;
	text-align: left;
}

.v-table-header-wrap {
	overflow: hidden;
	border: 1px solid #aaa;
	border-bottom: none;
	background: #efefef;
}

.v-table-header table, .v-table-table {
	border-spacing: 0;
	border-collapse: separate;
	margin: 0;
	padding: 0;
	border: 0;
}

.v-table-table {
	font-size: 16px;
}

.v-table-header td {
	padding: 0;
}

.v-table-header-cell, .v-table-header-cell-asc, .v-table-header-cell-desc {
	cursor: pointer;
}

.v-table.v-disabled .v-table-header-cell, .v-table.v-disabled .v-table-header-cell-asc, .v-table.v-disabled .v-table-header-cell-desc {
	cursor: default;
}

.v-table-footer-wrap {
	overflow: hidden;
	border: 1px solid #aaa;
	border-top: none;
	background: #efefef;
}

.v-table-footer table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
}

.v-table-footer td {
	padding: 0;
	border-right: 1px solid #aaa;
}

.v-table-footer-cell {
	cursor: pointer;
}

.v-table-footer-container {
	float: right;
	padding-right: 6px;
	overflow: hidden;
	white-space: nowrap;
}

.v-table-resizer {
	display: block;
	height: 1.2em;
	float: right;
	background: #aaa;
	cursor: e-resize;
	cursor: col-resize;
	width: 1px;
	overflow: hidden;
}

.v-table.v-disabled .v-table-resizer {
	cursor: default;
}

.v-table-caption-container {
	overflow: hidden;
	white-space: nowrap;
	margin-left: 6px;
}

.v-table-caption-container-align-right {
	float: right;
}

.v-table-sort-indicator {
	width: 0px;
	height: 1.2em;
	float: right;
}

.v-table-header-cell-asc .v-table-sort-indicator, .v-table-header-cell-desc .v-table-sort-indicator {
	width: 16px;
	height: 1.2em;
	float: right;
}

.v-table-header-cell-asc .v-table-sort-indicator {
	background: transparent url(common/img/sprites.png) no-repeat right 6px;
}

.v-table-header-cell-desc .v-table-sort-indicator {
	background: transparent url(common/img/sprites.png) no-repeat right -10px;
}

.v-table-caption-container-align-center {
	text-align: center;
}

.v-table-caption-container-align-right {
	text-align: right;
}

.v-table-caption-container .v-icon, .v-table-header-drag .v-icon {
	vertical-align: middle;
}

.v-table-body {
	border: 1px solid #aaa;
}

.v-table-row-spacer {
	height: 10px;
	overflow: hidden;
}

.v-table-row, .v-table-row-odd {
	background: #fff;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.v-table-generated-row {
	background: #efefef;
}

.v-table-body-noselection .v-table-row, .v-table-body-noselection .v-table-row-odd {
	cursor: default;
}

.v-table .v-selected {
	background: #999;
	color: #fff;
}

.v-table-cell-content {
	white-space: nowrap;
	overflow: hidden;
	padding: 0 6px;
	border-right: 1px solid #aaa;
}

.v-table-cell-wrapper {
	white-space: nowrap;
	overflow: hidden;
}

.v-table-cell-wrapper-align-center {
	text-align: center;
}

.v-table-cell-wrapper-align-right {
	text-align: right;
}

.v-table-column-selector {
	float: right;
	background: transparent url(common/img/sprites.png) no-repeat 4px -37px;
	margin: -1.2em 0 0 0;
	height: 1.2em;
	width: 14px;
	position: relative;
	cursor: pointer;
}

.v-table.v-disabled .v-table-column-selector {
	cursor: default;
}

.v-table-focus-slot-left {
	border-left: 2px solid #999;
	float: none;
	margin-bottom: -1.2em;
	width: auto;
	background: transparent;
	border-right: 1px solid #aaa;
}

.v-table-focus-slot-right {
	border-right: 2px solid #999;
	margin-left: -2px;
}

.v-table-header-drag {
	position: absolute;
	background: #efefef;
	border: 1px solid #eee;
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin-top: 20px;
	z-index: 30000;
}

.v-table-header-drag .v-icon {
	vertical-align: middle;
}

.v-table-scrollposition {
	width: 160px;
	background: #eee;
	border: 1px solid #aaa;
}

.v-table-scrollposition span {
	display: block;
	text-align: center;
}

.v-table-body:focus, .v-table-body-wrapper:focus {
	outline: none;
}

.v-table-body.focused {
	border-color: #388ddd;
}

.v-table-focus .v-table-cell-content {
	border-top: 1px dotted #0066bd;
	border-bottom: 1px dotted #0066bd;
}

.v-table-focus .v-table-cell-wrapper {
	margin-top: -1px;
	margin-bottom: -1px;
}

.v-off {
	color: #ddd;
}

.v-table-drag .v-table-body {
	border-color: #1d9dff;
}

.v-table-row-drag-middle .v-table-cell-content {
	background-color: #bcdcff;
}

.v-table-row-drag-top .v-table-cell-content {
	border-top: 2px solid #1d9dff;
}

.v-table-row-drag-top .v-table-cell-wrapper {
	margin-top: -2px;
}

.v-table-row-drag-bottom .v-table-cell-content {
	border-bottom: 2px solid #1d9dff;
}

.v-table-row-drag-bottom .v-table-cell-wrapper {
	margin-bottom: -2px;
}

.v-table-row-drag-top .v-table-cell-content:first-child:before, .v-table-row-drag-bottom .v-table-cell-content:first-child:after {
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	margin-left: -6px;
	background: transparent url(common/img/drag-slot-dot.png);
}

.v-ff  .v-table-row-drag-bottom .v-table-cell-content:first-child:after, .v-ie  .v-table-row-drag-bottom .v-table-cell-content:first-child:after {
	margin-top: -2px;
}

.v-tabsheet, .v-tabsheet-content, .v-tabsheet-deco {
	outline: none;
	text-align: left;
}

.v-tabsheet-tabs {
	empty-cells: hide;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	overflow: hidden;
}

.v-tabsheet-tabitemcell:focus {
	outline: none;
}

.v-tabsheet-tabitemcell, .v-tabsheet-spacertd {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

.v-tabsheet-spacertd {
	width: 100%;
}

.v-tabsheet-spacertd div {
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	height: 1em;
	padding: 0.2em 0;
}

.v-tabsheet-hidetabs > .v-tabsheet-tabcontainer {
	display: none;
}

.v-tabsheet-scroller {
	white-space: nowrap;
	text-align: right;
	margin-top: -1em;
}

.v-disabled .v-tabsheet-scroller {
	display: none;
}

.v-tabsheet-scrollerPrev, .v-tabsheet-scrollerNext, .v-tabsheet-scrollerPrev-disabled, .v-tabsheet-scrollerNext-disabled {
	border: 1px solid #aaa;
	background: #fff;
	width: 12px;
	height: 1em;
	cursor: pointer;
}

.v-tabsheet-scrollerPrev-disabled, .v-tabsheet-scrollerNext-disabled {
	opacity: 0.5;
	cursor: default;
}

.v-tabsheet-tabs .v-caption, .v-tabsheet-tabs .v-caption span {
	white-space: nowrap;
}

.v-tabsheet-caption-close {
	display: inline;
	display: inline-block;
	zoom: 1;
	width: 16px;
	height: 16px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.v-tabsheet .v-disabled .v-tabsheet-caption-close {
	cursor: default;
	visibility: hidden;
}

.v-tabsheet-tabitem:hover .v-tabsheet-caption-close {
	visibility: visible;
}

.v-tabsheet-tabitem {
	border: 1px solid #aaa;
	border-right: none;
	cursor: pointer;
	padding: 0.2em 0.5em;
}

.v-tabsheet-tabitem .v-caption {
	cursor: inherit;
}

.v-tabsheet.v-disabled .v-tabsheet-tabitem, .v-tabsheet-tabitemcell-disabled .v-tabsheet-tabitem {
	cursor: default;
}

.v-tabsheet-tabitem-selected {
	cursor: default;
	border-bottom-color: #fff;
}

.v-tabsheet-tabitem-selected .v-caption {
	cursor: default;
}

.v-tabsheet-content {
	border: 1px solid #aaa;
	border-top: none;
	border-bottom: none;
	position: relative;
}

.v-tabsheet-deco {
	height: 1px;
	background: #aaa;
	overflow: hidden;
}

.v-tabsheet-hidetabs .v-tabsheet-content {
	border: none;
}

.v-tabsheet-hidetabs .v-tabsheet-deco {
	height: 0;
}

.v-textfield {
	text-align: left;
}

.v-textarea {
	resize: none;
	white-space: pre-wrap;
}

input.v-textfield-prompt, textarea.v-textarea-prompt {
	color: #999;
	font-style: italic;
}

input.v-textfield-readonly, textarea.v-textarea-readonly {
	background: transparent;
	border: none;
	resize: none;
}

input.v-disabled, textarea.v-disabled {
	resize: none;
}

input.v-textfield-readonly:focus, textarea.v-textarea-readonly:focus {
	outline: none;
}

.v-sa  input:focus, .v-sa  textarea:focus {
	outline-width: medium;
}

.v-richtextarea {
	border: 1px solid #aaa;
	overflow: hidden;
}

.v-richtextarea .gwt-RichTextArea {
	background: #fff;
	border: none;
}

.v-richtextarea .gwt-HTML {
	height: 100%;
	font-size: 16px;
}

.v-richtextarea .gwt-RichTextToolbar {
	white-space: nowrap;
	background: #959595 url(textfield/img/richtext-toolbar-bg.png) repeat-x 0 -42px;
	border-bottom: 1px solid #7d7d7d;
	padding: 2px;
	overflow: hidden;
}

.v-richtextarea .gwt-RichTextToolbar-top {
	padding-bottom: 1px;
	overflow: hidden;
	white-space: normal;
}

.v-richtextarea .gwt-RichTextToolbar-bottom {
	clear: left;
	overflow: hidden;
	white-space: nowrap;
}

.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton, .v-richtextarea .gwt-RichTextToolbar .gwt-PushButton {
	float: left;
	display: inline;
	width: 22px;
	height: 21px;
	overflow: hidden;
	background: transparent url(textfield/img/richtext-toolbar-bg.png) repeat-x;
	cursor: pointer;
	margin-right: 2px;
	text-align: center;
}

.v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton-down, .v-richtextarea .gwt-RichTextToolbar .gwt-PushButton-down, .v-richtextarea .gwt-RichTextToolbar .gwt-ToggleButton-down-hovering, .v-richtextarea .gwt-RichTextToolbar .gwt-PushButton-down-hovering {
	background-position: 0 -21px;
}

.v-richtextarea .gwt-RichTextToolbar .gwt-ListBox {
	width: 24.5%;
	margin-right: 2px;
}

.v-richtextarea-readonly {
	border: none;
}

.v-tree {
	text-align: left;
	padding: 1px 0;
	outline: none;
}

.v-tree-node {
	background: transparent url(common/img/sprites.png) no-repeat 5px -37px;
	padding: 1px 0;
}

.v-tree-node-caption:focus {
	outline: none;
}

div.v-tree-node-leaf {
	background: transparent;
}

.v-tree-node-expanded {
	background: transparent url(common/img/sprites.png) no-repeat -5px -10px;
}

.v-tree-node-caption {
	margin-left: 1em;
}

.v-tree-node span {
	cursor: pointer;
}

.v-tree-node-caption div {
	white-space: nowrap;
}

.v-tree-node-caption span, .v-tree-node-caption .v-icon {
	vertical-align: middle;
}

.v-tree-node-selected span {
	background: #999;
	color: #fff;
}

.v-tree-node-children {
	padding-left: 1em;
}

.v-tree .v-tree-node-drag-top {
	border-top: 2px solid #1d9dff;
	margin-top: -1px;
	padding-top: 0;
}

.v-tree .v-tree-node-drag-bottom {
	border-bottom: 2px solid #1d9dff;
	margin-bottom: -1px;
	padding-bottom: 0;
}

.v-tree .v-tree-node-drag-top:before, .v-tree .v-tree-node-drag-bottom:after, .v-tree .v-tree-node-caption-drag-center:after {
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	background: transparent url(common/img/drag-slot-dot.png);
}

.v-tree .v-tree-node-drag-bottom:after {
	margin-top: -2px;
}

.v-tree .v-tree-node-caption-drag-center:after {
	margin-left: 14px;
}

.v-ff  .v-tree .v-tree-node-caption-drag-center:after, .v-ie  .v-tree .v-tree-node-caption-drag-center:after {
	margin-top: -2px;
}

.v-tree .v-tree-node-drag-top {
	background-position: 5px -38px;
}

.v-tree .v-tree-node-drag-top.v-tree-node-expanded {
	background-position: -5px -11px;
}

.v-tree .v-tree-node-caption-drag-center div {
	border: 2px solid #1d9dff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: -2px 2px -2px -2px;
	background-color: #bcdcff;
}

.v-tree .v-tree-node-caption-drag-center div {
	background-color: rgba(169, 209, 255, 0.6);
}

.v-tree .v-tree-node-caption-drag-center div, .v-tree .v-tree-node-drag-top, .v-tree .v-tree-node-drag-bottom {
	border-color: rgba(0, 109, 232, 0.6);
}

.v-tree-connectors .v-tree-node-caption {
	padding-top: 1px;
}

.v-tree-connectors .v-tree-node {
	background: transparent url(tree/img/connector-expand.png) no-repeat 2px -52px;
}

.v-tree-connectors .v-tree-node-expanded {
	background: transparent url(tree/img/connector-collapse.png) no-repeat 2px -52px;
}

.v-tree-connectors .v-tree-node-last {
	background: transparent url(tree/img/connector-expand-last.png) no-repeat 2px -52px;
}

.v-tree-connectors .v-tree-node-expanded.v-tree-node-last {
	background: transparent url(tree/img/connector-collapse-last.png) no-repeat 2px -52px;
}

.v-tree-connectors .v-tree-node-leaf {
	background: transparent url(tree/img/connector-leaf.png) repeat-y 2px 50%;
}

.v-tree-connectors .v-tree-node-leaf-last {
	background: transparent url(tree/img/connector-leaf-last.png) repeat-y 2px 50%;
}

.v-tree-connectors .v-tree-node-children {
	background: transparent url(tree/img/connector.png) repeat-y 2px 0;
}

.v-tree-connectors .v-tree-node-children-last {
	background: transparent;
}

.v-tree-connectors .v-tree-node-drag-top, .v-tree-connectors .v-tree-node-expanded.v-tree-node-drag-top {
	background-position: 2px -53px;
}

.v-tree-connectors .v-tree-node-drag-top.v-tree-node-leaf {
	background-position: 2px 50%;
}

.v-treetable-treespacer {
	display: inline-block;
	background: transparent;
	height: 10px;
	width: 18px;
	position: absolute;
	left: 0;
	top: 5px;
}

.v-treetable-node-closed {
	background: url(treetable/img/arrow-right.png) right top no-repeat;
}

.v-treetable-node-open {
	background: url(treetable/img/arrow-down.png) right top no-repeat;
}

.v-treetable .v-checkbox {
	display: inline-block;
	padding-bottom: 4px;
}

.v-treetable .v-table-row .v-table-cell-content, .v-treetable .v-table-row-odd .v-table-cell-content {
	position: relative;
	z-index: 10;
}

.v-treetable .v-table-cell-wrapper {
	position: relative;
}

.v-treetable .v-table-body .v-table-table .v-table-row-animating {
	zoom: 1;
	z-index: 1;
}

.v-treetable .v-table-body .v-table-table .v-table-row-animating, .v-treetable .v-table-body .v-table-table .v-table-row-animating .v-table-cell-content {
	background: transparent;
}

.v-treetable-animation-clone {
	border-spacing: 0;
	zoom: 1;
}

div.v-treetable-animation-clone-wrapper {
	position: absolute;
	z-index: 2;
	background-color: #fff;
}

div.v-treetable-animation-clone-wrapper table.v-treetable-animation-clone {
	background-color: #fff;
}

div table.v-treetable-animation-clone tr.v-table-row, div table.v-treetable-animation-clone tr.v-table-row-odd, div table.v-treetable-animation-clone tr.v-table-row td.v-table-cell-content, div table.v-treetable-animation-clone tr.v-table-row-odd td.v-table-cell-content {
	visibility: visible;
}

.v-upload {
	white-space: nowrap;
}

.v-upload-immediate {
	position: relative;
	margin: 0;
	overflow: hidden;
}

.v-ff  .v-upload-immediate, .v-op  .v-upload-immediate {
	display: inline-block;
}

.v-upload-immediate input {
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 2;
	position: absolute;
	right: 0;
	height: 21px;
	text-align: right;
	border: none;
	background: transparent;
}

.v-upload-immediate button {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	text-align: left;
}

.v-window {
	background: #fff;
}

.v-window-contents {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-window.v-has-width > div.popupContent, .v-window.v-has-width .v-window-wrap, .v-window.v-has-width .v-window-contents, .v-window.v-has-width .v-window-contents > div {
	width: 100%;
}

.v-window.v-has-height > div.popupContent, .v-window.v-has-height .v-window-wrap, .v-window.v-has-height .v-window-contents, .v-window.v-has-height .v-window-contents > div {
	height: 100%;
}

.v-window-outerheader {
	padding: 0.3em 1em;
	height: 1.6em;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.v-window-outerheader, .v-window-draggingCurtain {
	cursor: move;
}

.v-window-header {
	font-weight: bold;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ie-user-select: none;
	user-select: none;
}

div.v-window-header {
	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	overflow: hidden;
	padding: 0;
}

.v-window-header .v-icon {
	vertical-align: middle;
}

.v-window-contents > div {
	outline: none;
}

.v-window-footer {
	overflow: hidden;
	zoom: 1;
	height: 10px;
	position: relative;
	cursor: move;
}

.v-window-resizebox {
	width: 10px;
	height: 10px;
	background: #ddd;
	overflow: hidden;
	position: absolute;
	right: 0;
}

.v-window-resizebox, .v-window-resizingCurtain {
	cursor: se-resize;
}

.v-window div.v-window-footer-noresize {
	height: 0;
}

.v-window-resizebox-disabled, .v-window-restorebox-disabled, .v-window-maximizebox-disabled {
	cursor: default;
	display: none;
}

.v-window-closebox, .v-window-restorebox, .v-window-maximizebox {
	position: absolute;
	top: 0;
	right: 0;
	width: 1em;
	height: 1em;
	cursor: pointer;
	overflow: hidden;
}

.v-window-maximizebox, .v-window-restorebox {
	right: 1.1em;
}

.v-window-closebox {
	background: red;
}

.v-window-maximizebox {
	background: blue;
}

.v-window-restorebox {
	background: yellow;
}

.v-window-modalitycurtain {
	top: 0;
	left: 0;
	background: #999;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
}

.v-shadow-window {
	position: absolute;
}

.v-shadow-window .top-left {
	position: absolute;
	overflow: hidden;
	top: -10px;
	left: -15px;
	width: 28px;
	height: 28px;
	background: transparent url(window/img/shadow/top-left.png);
}

.v-shadow-window .top {
	position: absolute;
	overflow: hidden;
	top: -10px;
	left: 13px;
	height: 28px;
	right: 13px;
	background: transparent url(window/img/shadow/top.png);
}

.v-shadow-window .top-right {
	position: absolute;
	overflow: hidden;
	top: -10px;
	right: -15px;
	width: 28px;
	height: 28px;
	background: transparent url(window/img/shadow/top-right.png);
}

.v-shadow-window .left {
	position: absolute;
	overflow: hidden;
	top: 18px;
	left: -15px;
	width: 28px;
	bottom: 10px;
	background: transparent url(window/img/shadow/left.png);
}

.v-shadow-window .center {
	position: absolute;
	overflow: hidden;
	top: 18px;
	left: 13px;
	bottom: 10px;
	right: 13px;
	background: transparent url(window/img/shadow/center.png);
}

.v-shadow-window .right {
	position: absolute;
	overflow: hidden;
	top: 18px;
	right: -15px;
	width: 28px;
	bottom: 10px;
	background: transparent url(window/img/shadow/right.png);
}

.v-shadow-window .bottom-left {
	position: absolute;
	overflow: hidden;
	bottom: -18px;
	left: -15px;
	width: 28px;
	height: 28px;
	background: transparent url(window/img/shadow/bottom-left.png);
}

.v-shadow-window .bottom {
	position: absolute;
	overflow: hidden;
	bottom: -18px;
	left: 13px;
	right: 13px;
	height: 28px;
	background: transparent url(window/img/shadow/bottom.png);
}

.v-shadow-window .bottom-right {
	position: absolute;
	overflow: hidden;
	bottom: -18px;
	right: -15px;
	width: 28px;
	height: 28px;
	background: transparent url(window/img/shadow/bottom-right.png);
}