<div ng-controller="UsersGridCtrl as usersGridCtrl" class="full-height">

  <div alert="usersGridCtrl.alert"></div>

  <div class="settings-table-detail settings-tab-detail user-settings">
    <div class="breadcrumb" data-qa="eum-breadcrumb">
      <a ui-sref="^" data-qa="eum-breadcrumb-overview-link">{{'Users' | translate}}</a>
      <span class="divider">&gt;</span> {{'All Users' | translate}} ( <span ng-show="eumCtrl.selectedUsers.count()">{{eumCtrl.selectedUsers.count() + ' of ' + usersGridCtrl.usersCount + ' selected' | translate}}</span><span ng-hide="eumCtrl.selectedUsers.count()">{{usersGridCtrl.usersCount}}</span> )

        <div class="button-array" data-qa="eum-button-array">
            <span ng-hide="eumCtrl.selectedUsers.count()" class="none-selected">( Select users to block, unblock, or delete )</span>
            <button class="icon button-unblock"
                    title="{{eumCtrl.selectedUsers.count() > 1 ? ('Unblock Users' | translate) : ('Unblock User' | translate)}}"
                    ng-show="eumCtrl.anySelectedAndBlocked"
                    ng-click="eumCtrl.setBlockedForSelected(false)"
                    data-qa="eum-button-unblock"></button>
            <button class="icon button-block"
                    title="{{eumCtrl.selectedUsers.count() > 1 ? ('Block Users' | translate) : ('Block User' | translate)}}"
                    ng-show="eumCtrl.anySelectedAndUnblocked"
                    ng-click="eumCtrl.setBlockedForSelected(true)"
                    data-qa="eum-button-block"></button>
            <button class="icon button-delete"
                    title="{{eumCtrl.selectedUsers.count() > 1 ? ('Delete Users' | translate) : ('Delete User' | translate)}}"
                    ng-show="eumCtrl.selectedUsers.count()"
                    ng-click="usersGridCtrl.onDeleteClick()"
                    data-qa="eum-button-delete"></button>
        </div>
    </div>

    <table class="settings-users-table-header" data-qa="users-grid-header">
      <thead>
        <tr sort
            sort-state="usersGridCtrl.userFilter"
            on-sort="usersGridCtrl.onSort()">
          <td class="col-xsm"></td>
          <th class="col-sm" data-qa="status-header">{{'Status' | translate}}</th>
          <th class="col-lg" sortable="EMAIL" data-qa="user-header">{{'User' | translate}}</th>
          <th class="col-lg" sortable="IP" data-qa="ip-header">{{'IP' | translate}}</th>
          <th class="col-md" sortable="TYPE" data-qa="type-header">{{'Type' | translate}}</th>
          <th class="col-sm" sortable="INVITEE" data-qa="invitee-header">{{'Invitees' | translate}}</th>
          <th class="col-md" sortable="INVITED_BY" data-qa="invited-by-header">{{'Invited by' | translate}}</th>
          <th class="col-lg" sortable="LAST_LOGIN" data-qa="last-login-header">{{'Last login' | translate}}</th>
        </tr>
        <tr ng-click="eumCtrl.ignoreDocClick()" class="settings-users-header-filters">
          <th class="col-xsm"></th>
          <th class="col-sm">
            <select2 class="statuses"
                     id="user-status-filter"
                     selected="usersGridCtrl.userFilter.status"
                     options="usersGridCtrl.userStatuses"
                     on-change="usersGridCtrl.onStatusFilterChange($event, val)">
            </select2>
          </th>
          <th class="col-lg users-can-filter">
            <filter-input
              filter-name="email-filter"
              filter-value="usersGridCtrl.userFilter.email"
              filter-placeholder="{{ 'Enter email to filter' | translate}}"
              on-filter="usersGridCtrl.onEmailFilter()">
            </filter-input>
          </th>
          <th class="col-lg users-can-filter">
            <filter-input
              filter-name="ip-filter"
              filter-value="usersGridCtrl.userFilter.ipAddress"
              filter-placeholder="{{ 'Enter IP to filter' | translate}}"
              on-filter="usersGridCtrl.onIpAddressFilter()">
            </filter-input>
          </th>
          <th class="col-md">
            <select2 class="statuses"
                     data-qa="user-type-filter"
                     name="user-type-filter"
                     selected="usersGridCtrl.userFilter.type"
                     options="usersGridCtrl.userTypes"
                     on-change="usersGridCtrl.onTypeFilterChange($event, val)">
            </select2>
          </th>
          <th class="col-sm"></th>
          <th class="col-md"></th>
          <th class="col-lg"></th>
        </tr>
      </thead>
    </table>
    <div ng-show="usersGridCtrl.loadingNextPage" class="overlay loading-overlay"
         data-qa="user-grid-loading-spinner"></div>
    <div ng-show="usersGridCtrl.loadingPreviousPage" class="overlay loading-overlay"></div>
    <div class="settings-users-table"
         endless-scroll
         endless-scroll-items="usersGridCtrl.users"
         endless-scroll-load-page="usersGridCtrl.loadPage"
         endless-scroll-start-row="usersGridCtrl.startRow"
         endless-scroll-page-size="usersGridCtrl.pageSize"
         endless-scroll-max-pages="usersGridCtrl.maxPages"
         endless-scroll-loading-next="usersGridCtrl.loadingNextPage"
         endless-scroll-loading-previous="usersGridCtrl.loadingPreviousPage"
         endless-scroll-paging-controls="usersGridCtrl.pagingControls"
         data-qa="users-table-scroll-container">
      <table data-qa="users-grid">
        <tbody>
        <tr ng-repeat="user in usersGridCtrl.users"
            ng-click="eumCtrl.onUserRowClick(user, $event)"
            ng-class="{'is-selected': user.isSelected}"
            data-qa="user-row"
            data-qa-user-email="{{user.email}}">
          <td class="col-xsm">
            <input type="checkbox" ng-model="user.isSelected"/>
          </td>
          <td class="col-sm" data-qa="user-status-cell">
            <span class="icon user-status-{{user.getStatus() | lowercase}}" title="{{user.getStatus()}}"></span>
            {{ user.getStatus() }}
          </td>
          <td class="col-lg" data-qa="users-email-cell"><a ui-sref="^.userDetail({email: user.email})">{{::user.email}}</a></td>
          <td class="col-lg" data-qa="latest-ip-cell">{{:: user.latestIp}}</td>
          <td class="col-md" data-qa="user-type-cell">{{:: user.userType}}</td>
          <td class="col-sm" data-qa="invitee-count-cell" ng-switch="user.inviteeCount > 0">
            <a ng-switch-when="true" ui-sref="^.userInvitees({email: user.email})">{{:: user.inviteeCount}}</a>
            <span ng-switch-when="false">{{:: user.inviteeCount}}</span>
          </td>
          <td class="col-md" data-qa="invited-by-cell" ng-switch="!!user.inviterEmail">
            <a ng-switch-when="true" ui-sref="^.userDetail({email: user.invitedBy})">{{:: user.invitedBy}}</a>
            <span ng-switch-when="false">{{:: user.invitedBy}}</span>
          </td>
          <td class="col-lg" data-qa="last-login-cell">{{:: user.lastLogin | asMediumTimestamp | orNever }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
