<div ng-controller="MessagesListCtrl as messagesCtrl" class="full-height">
  <header class="col-header">
    <span class="icon messages blue"></span>

    <h1 class="col-header-title" data-id="col-header-title">
      {{'Messages' | translate}}
    </h1>

    <div class="messages-count-container" data-id="unread-count">
      <span class="messages-count"
            ng-show="messagesCtrl.trustState.unreadMessagesCount > 0">
        {{messagesCtrl.trustState.unreadMessagesCount}}
      </span>
    </div>

    <ul class="actions" data-id="">
      <li class="actions-item">
        <button class="small"
          title="{{messagesCtrl.isUserExternal() ? 'No permission to compose messages' : 'Compose Message' | translate}}"
          ng-disabled="messagesCtrl.isUserExternal()"
          ng-click="messagesCtrl.onComposeClick()"
          data-id="compose-message"
          data-qa="compose-message-btn">
          <span class="icon add-message"></span>
        </button>
      </li>
    </ul>
  </header>

  <div class="col-body messages-container"
       data-id="messages-container"
       scroll-to="trustCtrl.scrollToMessage">
    <ul class="messages" data-qa="messages-container">
      <li ng-repeat="message in messagesCtrl.messages()
            | filter:messagesCtrl.messagesFilterPredicate as filteredMessages
            track by message.id"
          class="messages-item"
          ng-class="{
            'message-read': message.isRead(),
            'is-selected': messagesCtrl.trustState.selectedMessage.id === message.id}"
          ng-click="messagesCtrl.onMessageClick(message)"
          scroll-to-id="{{message.id}}"
          on-rendered="messagesCtrl.onMessageRendered($last)"
          data-id="message"
          data-qa="message-item"
          data-qa-message-id="{{message.id}}"
          data-qa-message-selected="{{ messagesCtrl.trustState.selectedMessage.id === message.id }}">
        <span ng-class="{
            'message-avatar': messagesCtrl.loginState.user.email !== message.owner.email,
            'message-avatar-me': messagesCtrl.loginState.user.email === message.owner.email}">
        </span>

        <h4 class="messages-name" title="{{:: message.owner | displayName}}" data-qa="message-owner">
          <span ng-if="messagesCtrl.filterTerm()" ng-bind-html="message.owner | displayName | highlightText:messagesCtrl.filterTerm()"></span>
          <span ng-if="!messagesCtrl.filterTerm()">{{:: message.owner | displayName }}</span>
        </h4>

        <div class="messages-timestamp">
          {{message.lastUpdatedDate | asShortTimestamp}}
        </div>

        <div class="messages-delete"
             data-id="message-thread-delete"
             data-qa="message-delete-icon"
             ng-click="messagesCtrl.onMessageDeleteClick($event, message)">
          &#x2715;
        </div>

        <p class="messages-preview" title="{{message.name}}" data-qa="message-subject">
          <span ng-show="message.hasAttachments" class="icon attachment-small"></span>
          <span ng-if="messagesCtrl.filterTerm()" ng-bind-html="message.name | highlightText:messagesCtrl.filterTerm()"></span>
          <span ng-if="!messagesCtrl.filterTerm()">{{:: message.name}}</span>
        </p>

        <span class="message-indicator">•</span>
      </li>
    </ul>
  </div>

  <footer class="col-footer">
    <a class="trash-wrap hide">
      <span class="icon trash"></span>

      <span class="trash-label">{{'Trash' | translate}}</span>
    </a>
  </footer>
</div>