$close-button: url(../chameleon/img/close-btn.png);
$share-blue: url(img/share-small.svg);
$share-group-blue: url(img/share-group-small.svg);
$share-white: url(img/share-small-white.svg);
$share-group-white: url(img/share-group-small-white.svg);