@import "../base/base.scss";

@import "layouts/_layouts.scss";
@import "widgets/_widgets.scss";


/* Color constants */
$asphalt: rgb(70, 69, 71);
$asphalt-light-3: rgb(209, 211, 212);
$cleo-blue: rgb(0, 131, 202);
$cleo-blue-light-1: rgb(52, 155, 212);
$cleo-blue-light-2: rgb(102, 181, 224);
$cleo-blue-light-3: rgb(155, 204, 233);
$cleo-green: rgb(170, 208, 80);
$cleo-orange: rgb(240, 118, 54);
$cleo-red: rgb(237, 28, 36);
$cleo-yellow: rgb(255, 219, 57);
$pewter: rgb(129, 129, 124);
$pewter-light-3: rgb(205, 204, 203);
$red: rgb(237, 28, 36);


$font-size: 14px;
$margin-half: 7px;
$margin-full: 14px;
$margin-double: 28px;

$font-size-heading: 27px;
$font-size-subheading: 15px;
$font-size-caption: 10px;
$line-height: 1.3;
$primary-typeface: "Akzidenz-Grotesk Pro", Helvetica, Arial, sans-serif;

$font-color: $asphalt;
$caption-color: $pewter;
$selection-color: $cleo-blue-light-2;
$highlight-color: $cleo-blue-light-3;
$table-stripe: rgb(242, 241, 241);

@mixin cleo {
    @include base;

    @include layouts;
    @include widgets;

    font-family: $primary-typeface;
    color: $font-color;

    .v-captionwrapper > .v-caption {
        padding: 1ex 1em 0;
        font-weight: bolder;
        color: $caption-color;
    }

    .v-ddwrapper {
        padding: 0;
    }

    .v-formlayout-error-indicator {
        width: $font-size;

        .v-errorindicator {
            width: $font-size;
            background: transparent url(../chameleon/img/error-indicator.png) no-repeat right 50%;
        }
    }

    .v-scrollable {
        line-height: 0;
    }

    .cleo-label-error {
        color: $cleo-red;
    }

    /* Lay the options horizontally */
    .v-select-optiongroup-horizontal .v-select-option {
        display: inline-block;
    }

    /* Avoid wrapping if the layout is too tight */
    .v-select-optiongroup-horizontal {
        white-space: nowrap;
    }

    /* Some extra spacing is needed */
    .v-select-optiongroup-horizontal .v-select-option.v-radiobutton {
        padding-right: 10px;
    }

    .wizard-button {
        width: 60% !important;
    }

    .wizard-layout-option {
        margin-top: 20%;
        text-align: center;
    }

    .contact-wizard-option-layout {
        margin: 5px;
        margin-top: 20%;
        padding: 15px;
        cursor: pointer;
        text-align: center;
        vertical-align: center;
    }

    .contact-wizard-option-layout .header-label {
        cursor: pointer;
        font-size: 24px;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        vertical-align: center;
    }

    .contact-wizard-option-layout .img-button {
        opacity: 0.6;
        width: 50% !important;

        .v-button-wrap {
            position: relative;
            padding: 0;
            font-size: 22px;//$font-size-heading;

            .v-icon {
                width: 100%;
                height: auto;
                padding: 10px 0px 10px 0px
            }
        }
    }

    .contact-wizard-option-layout:hover .img-button {
        opacity: 1.0;
    }

    .contact-wizard-option-layout .description-label {
        cursor: pointer;
        font-size: 16px;
        line-height: normal;
        text-align: center;
        vertical-align: center;
    }

    .no-stripes  {
        background: white;
    }

    .user-info-background {
        background: $asphalt-light-3;
        padding-left: 4px;
        padding-right: 4px;
    }

    .wizard-header-label {
        font-size: 24px;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        vertical-align: center;
    }

    .v-filterselect-prevpage, .v-filterselect-prevpage-off {
        background: rgb(255, 255, 255);
        color: $cleo-blue;
        border-bottom-width: 1px;
        border-bottom-color: $asphalt;
        border-bottom-style: solid;
    }

    .v-filterselect-nextpage, .v-filterselect-nextpage-off {
        background: rgb(255, 255, 255);
        color: $cleo-blue;
        border-top-width: 1px;
        border-top-color: $asphalt;
        border-top-style: solid;
    }

    .v-filterselect-input {
        border-radius: 8px !important;
        padding-left: 8px !important;
    }

    .cleo-combobox-no-arrow {
        .v-filterselect-button {
            visibility: hidden;
        }
        .v-filterselect-input[type="text"] {
    		padding-right: 0.5em;
        }
    }

    .v-textfield, .vtextfield-prompt {
        border-radius: 8px;
        padding-left: 8px !important;
    }

    .v-filterselect-suggestpopup .gwt-MenuItem-selected {
        background-color: $cleo-blue-light-3 !important;
    }

    .v-filterselect-suggestmenu {
        .gwt-MenuItem {
            > div {
                padding: .5ex 1em;
            }

            &.gwt-MenuItem-selected > div {
                background-color: $highlight-color;
                color: $font-color;
            }
        }
    }

    .activity-popupbutton {
        .v-icon{
            height: 24px;
            width: 24px;
        }

        .v-button-caption {
            position: absolute;
            top: -1ex;
            right: 0ex;
            font-size: $font-size-caption;
            width: 2em;
            line-height: 2;
            background-color: $cleo-yellow;
            color: $asphalt;
            border-radius: 50%;
        }
    }

    .v-menubar-menuitem-cleo-menu-bar-share-header-more {
        height: 24px;
        width: 24px;
    }
    
    .cleo-last-breadcrumb {
        line-height: 1.725;
    }
    
    #cleo-share-tree-more,
    #cleo-share-view-breadcrumb-hamburger {
        .v-popup-indicator {
            visibility: hidden;
        }
    }
    
    #cleo-share-view-discussion-add-button {
        .v-popup-indicator {
            visibility: hidden;
        }
        
        .v-icon {
            width: 24px;
            height: 24px;
        }
    }
    
    #cleo-layout-contacts-group-toolbar {
        .v-spacing {
            width: 0px;
        }
    }
    
    .v-table-cell-content-first-row {
        .v-treetable-treespacer {
            visibility: hidden;
        }
    }
    .mouse-pointer   {
        cursor: pointer;
    }
    
    .v-table-multiple-upload-state-table {
        .v-table-row {
            height: 64px;
        }
    }
    
    .cleo-file-version-uploadevent-panel {
        max-height: 100px;
        overflow-y: auto !important;
    }
    
    .cleo-large-text{
        font-size: x-large;
    }
    .cleo-mailbox-selected{
        background-color: $cleo-blue-light-3;
        
    }
    .cleo-mailbox-not-selected{
        background-color: white;
    }
    
    .cleo-mailbox-button{
        outline-style: none;
    }
}
