<div ng-controller="EmailSettingsCtrl as emailCtrl" data-qa="smtp-settings-tab" class="full-height">
  <div alert="emailCtrl.alert"></div>

  <form data-qa="smtp-settings-form"
    class="full-height"
    name="emailCtrl.emailForm"
    validation-options="emailCtrl.validationOptions"
    on-valid="emailCtrl.onValid()"
    on-invalid-submit="emailCtrl.onInvalidSubmit()"
    on-submit="emailCtrl.onSave()">

    <div class="settings-tab-detail settings-section">
      <h2>{{'SMTP Proxy' | translate}}</h2>

      <ul class="email-config-items">
        <li class="configuration-parameter configuration-email-smtp-enabled">
          <label class="configuration-parameter-label" for="smtpEnabled">{{'Enable' | translate}}</label>
          <input type="checkbox" id="smtpEnabled" ng-model="emailCtrl.detail.enabled" data-qa="smtp-enabled-checkbox"/>
        </li>

        <li class="email-config-server configuration-parameter">
          <label class="configuration-parameter-label" for="email-server">{{'Server' | translate}}</label>
          <input class="email-config-server-host-input"
                 data-qa="smtp-server-address"
                 id="email-server"
                 type="text"
                 ng-model="emailCtrl.detail.serverAddress"
                 name="smtpServerAddress"/>

          <label class="configuration-parameter-label" for="email-port">{{'Port' | translate}}</label>
          <input class="email-config-server-port-input"
                 data-qa="smtp-server-port"
                 id="email-port"
                 type="number"
                 ng-model="emailCtrl.detail.port"
                 name="smtpServerPort">
        </li>

        <li class="configuration-parameter">
          <label class="configuration-parameter-label" for="auth-mode">{{'Authentication' | translate}}</label>
          <select2
            data-qa="smtp-auth-type-select"
            id="auth-mode"
            options="emailCtrl.authenticationModes"
            selected="emailCtrl.selectedAuthModeId"
            on-change="emailCtrl.authModeChanged()">
          </select2>

          <ul class="configuration-email-auth">
            <li>
              <label class="configuration-parameter-label" for="auth-user">{{'Username' | translate}}</label>
              <input type="text"
                     data-qa="smtpp-user-name"
                     id="auth-user"
                     ng-model="emailCtrl.detail.userName"
                     ng-disabled="emailCtrl.selectedAuthModeId === 'None'"
                     name="smtpUsername"/>
            </li>

            <li>
              <label class="configuration-parameter-label" for="auth-pw">{{'Password' | translate}}</label>
              <input type="password"
                     data-qa="smtp-password"
                     id="auth-pw"
                     ng-model="emailCtrl.smtpPassword"
                     ng-disabled="emailCtrl.selectedAuthModeId === 'None'"
                     name="smtpPassword">
            </li>
          </ul>
        </li>

        <li class="configuration-parameter email-config-items">
          <label class="configuration-parameter-label" for="testEmail">
            {{'Send Test Email' | translate}}
          </label>

          <input type="text"
                 class="email-config-server-host-input"
                 id="testEmail"
                 data-qa="test-email-address"
                 name="testRecipientAddress"
                 on-rendered="emailCtrl.initTestEmailAddress(args)"
                 ng-keyup="emailCtrl.testAddressKeyup($event)"
                 placeholder="{{'Send test email to...' | translate}}"/>

          <button class="primary"
                  ng-click="emailCtrl.onTest($event)"
                  data-qa="test-email-settings-btn"
                  ng-disabled="emailCtrl.isTesting">
            <i ng-show="emailCtrl.isTesting" class="spinner spinner-orange"></i>
            <i ng-show="!emailCtrl.isTesting">{{ 'Send' | translate}}</i>
            <em ng-show="emailCtrl.isTesting">{{ 'Sending' | translate}}</em>
          </button>
        </li>
      </ul>
    </div>

    <footer class="settings-footer">
      <button
        class="primary large"
        data-qa="smtp-settings-save-button"
        title="{{!emailCtrl.emailForm.$dirty ? 'No changes made to settings' : '' | translate}}"
        ng-disabled="!emailCtrl.emailForm.$dirty || emailCtrl.isFetching || emailCtrl.isSaving">
        <span ng-show="emailCtrl.isSaving" class="spinner spinner-orange"></span>
        {{ 'Save' | translate }}
      </button>

      <button
        class="secondary large"
        data-qa="smtp-settings-cancel-button"
        title="{{!emailCtrl.emailForm.$dirty ? 'No changes made to settings' : '' | translate}}"
        ng-disabled="!emailCtrl.emailForm.$dirty || emailCtrl.isFetching || emailCtrl.isSaving"
        ng-click="emailCtrl.onEmailCancel()">
        {{ 'Cancel' | translate }}
      </button>
    </footer>
  </form>
</div>
