<div class="move-modal"
     ng-controller="FileCommandModalCtrl as fileCommandCtrl"
     data-qa="file-command-modal">
  <div class="modal-header">
    <span class="icon modal-{{ fileCommandCtrl.isMoveCommand ? 'move' : 'copy' }}-to"></span>

    <h2>{{fileCommandCtrl.isMoveCommand ? 'Move to' : 'Copy to' | translate}}...</h2>

    <a class="modal-close-wrap"
       data-id="close"
       data-qa="close"
       ng-click="fileCommandCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <section class="modal-subheader move-files-list">
    <strong>{{fileCommandCtrl.isMoveCommand ? 'Move selected items' : 'Copy selected items' | translate}}</strong>
    <span class="lighten-text" condensed-list="fileCommandCtrl.fileNames" data-qa="files-to-transfer"></span>
  </section>

  <div class="modal-body">
    <p>{{'Select destination' | translate }}</p>

    <section class="folder-tree" ng-disabled="fileCommandCtrl.isMoving">
      <div ng-show="!fileCommandCtrl.sharesFetched" class="overlay loading-overlay"></div>
      <ul>
        <share-tree
          ng-repeat="share in fileCommandCtrl.shares() | orderBy:'name'"
          folder="share"
          on-node-selected="fileCommandCtrl.onNodeSelected($event, node)">
        </share-tree>
      </ul>
    </section>
  </div>

  <div class="modal-footer">
    <button class="primary large"
      data-qa="submit-command"
      ng-disabled="!fileCommandCtrl.isFolderSelected() || fileCommandCtrl.isMoving"
      ng-click="fileCommandCtrl.onMoveSubmit()">
      <span ng-show="fileCommandCtrl.isMoving" class="spinner spinner-orange"></span>
      {{fileCommandCtrl.isMoveCommand ? 'Move' : 'Copy' | translate}}
    </button>

    <button class="secondary large"
      data-qa="cancel-command"
      ng-disabled="fileCommandCtrl.isMoving"
      ng-click="fileCommandCtrl.onClose()">
      {{'Cancel' | translate}}
    </button>
  </div>
</div>
