<div class="move-modal"
     ng-controller="OverwriteFileModalCtrl as overwriteCtrl"
     data-qa="file-overwrite-modal">
  <div class="modal-header">
    <span class="icon modal-{{ overwriteCtrl.isMoveCommand ? 'move' : 'copy' }}-to"></span>

    <h2>{{overwriteCtrl.isMoveCommand ? 'Move to' : 'Copy to' | translate}}...</h2>

    <a class="modal-close-wrap"
       data-id="close"
       data-qa="close"
       ng-click="overwriteCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="overwriteCtrl.alert" data-qa="overwrite-alert"></div>

  <div class="modal-body">
    <section class="move-duplicate">
      <p ng-show="overwriteCtrl.numSuccessful > 0" data-qa="successful-files-count">
        {{overwriteCtrl.numSuccessful}} {{overwriteCtrl.isMoveCommand ? 'file(s) moved successfully' : 'file(s) copied successfully' | translate}}
      </p>
      <p>
        {{"The following files already exist in the destination folder" | translate}}
      </p>
      <ul data-qa="conflicting-files-list">
        <li ng-repeat="file in overwriteCtrl.conflictingFiles"
            data-qa-conflicting-file-name="{{file.name}}"
            data-qa-conflicting-file-id="{{file.id}}">
          <span class="icon file-{{(file.type || file.extension) | extensionToIcon}}"></span>
          {{file.name}}
        </li>
      </ul>
    </section>
  </div>

  <div class="modal-footer">
    <button class="primary large"
      data-qa="overwrite-submit-button"
      ng-disabled="overwriteCtrl.isOverwriting"
      ng-click="overwriteCtrl.onOverwriteSubmit()">
      <span ng-show="overwriteCtrl.isOverwriting" class="spinner spinner-orange"></span>
      {{overwriteCtrl.isOverwriting ? 'Overwriting' : 'Overwrite' | translate}}
    </button>

    <button class="secondary large"
      data-qa="overwrite-cancel-button"
      ng-disabled="overwriteCtrl.isOverwriting"
      ng-click="overwriteCtrl.onClose()">
      {{'Cancel' | translate}}
    </button>
  </div>
</div>
