<div ng-controller="DataStorageSettingsCtrl as dataCtrl" class="full-height" data-qa="data-storage-tab">
  <div alert="dataCtrl.alert"></div>

  <div class="settings-tab-detail settings-tab-detail-store">
    <div class="settings-section col col-4-8">
      <h2>{{'Database' | translate}}</h2>

      <ul>
        <li class="configuration-parameter">
          <label class="configuration-parameter-label">{{'Connection' | translate}}</label>
          <span class="configuration-connection-string" data-qa="connection-string" title="{{dataCtrl.detail.connectionString}}">
            {{dataCtrl.detail.connectionString || dataCtrl.loadingOrNotAvailable()}}
          </span>
        </li>

        <li class="configuration-parameter">
          <label class="configuration-parameter-label">{{'Driver' | translate}}</label>
          <span data-qa="driver-name" title="{{dataCtrl.detail.driverName}}">
            {{dataCtrl.detail.driverName || dataCtrl.loadingOrNotAvailable()}}
          </span>
        </li>

        <li class="configuration-parameter">
          <label class="configuration-parameter-label">{{'Type' | translate}}</label>
          <span data-qa="connection-type" title="{{dataCtrl.detail.connectionType}}">
            {{dataCtrl.detail.connectionType || dataCtrl.loadingOrNotAvailable()}}
          </span>
        </li>

        <li class="configuration-parameter">
          <label class="configuration-parameter-label">{{'User' | translate}}</label>
          <span data-qa="user-name" title="{{dataCtrl.detail.userName}}">
            {{dataCtrl.detail.userName || dataCtrl.loadingOrNotAvailable()}}
          </span>
        </li>
      </ul>
    </div>

    <div class="settings-section col col-4-8">
      <h2>{{'Files Repository' | translate}}</h2>

      <ul>
        <li class="configuration-parameter">
          <label class="configuration-parameter-label">{{'Location' | translate}}</label>
          <span data-qa="repo-location" title="{{dataCtrl.detail.repositoryLocation}}">
            {{dataCtrl.detail.repositoryLocation || dataCtrl.loadingOrNotAvailable()}}
          </span>
        </li>

        <li class="configuration-parameter">
          <label class="configuration-parameter-label">{{'Size' | translate}}</label>
          <span
            data-qa="repo-size"
            ng-class="{'warning-text': dataCtrl.isNearFull()}"
            title="{{dataCtrl.detail.repositorySize}} {{dataCtrl.detail.repositorySize ? 'GB' : '' | translate}}">
            {{dataCtrl.detail.repositorySizeUsed + "/" + dataCtrl.detail.repositorySize || dataCtrl.loadingOrNotAvailable()}}
            {{dataCtrl.detail.repositorySize ? 'GB' : '' | translate}}
            <br>
            <progress ng-class="{'near-full': dataCtrl.isNearFull()}"
                      ng-if="dataCtrl.detail.repositorySizeUsed"
                      ng-value="dataCtrl.detail.repositorySizeUsed"
                      max="{{ dataCtrl.detail.repositorySize }}">
            </progress>
          </span>
        </li>

        <li class="configuration-parameter">
          <label class="configuration-parameter-label">{{'Encryption at Rest' | translate}}</label>

          <input type="checkbox"
                 data-qa="file-encryption-toggle"
                 title="{{dataCtrl.isEncryptedTooltipText()}}"
                 ng-show="!dataCtrl.isLoading && dataCtrl.detail"
                 ng-model="dataCtrl.isEncrypted">

          <span ng-show="!dataCtrl.isLoading && !dataCtrl.detail">
            {{'Not available' | translate}}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <footer class="settings-footer">
    <button class="primary large"
      data-qa="data-storage-save-btn"
      ng-disabled="!dataCtrl.isDirty() || dataCtrl.isSaving"
      ng-click="dataCtrl.onSave()">
      <span ng-show="dataCtrl.isSaving" class="spinner spinner-orange"></span>
      {{ 'Save' | translate }}
    </button>

    <button class="secondary large"
      data-qa="data-storage-cancel-btn"
      ng-disabled="!dataCtrl.isDirty() || dataCtrl.isSaving"
      ng-click="dataCtrl.onCancel()">
      {{ 'Cancel' | translate }}
    </button>
  </footer>
</div>