<div ng-controller="DeleteShareModalCtrl as deleteShareCtrl" data-qa="delete-share-modal">
  <div class="modal-header">
    <span class="icon modal-delete"></span>

    <h2>{{'Delete' | translate}}</h2>
    <a class="modal-close-wrap"
       data-id="close"
       data-qa="close"
       ng-click="deleteShareCtrl.onClose()"
       ng-disabled="deleteShareCtrl.isDeleting">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="deleteShareCtrl.alert" data-id="alert"></div>

  <div ng-show="deleteShareCtrl.canDeleteAndLeave()" class="modal-subheader" data-id="modalSubheader">
    <p data-id="modalTitle">{{'Delete Selected Folder' | translate}} &nbsp; <span class="lighten-text">{{deleteShareCtrl.share.name}}</span></p>
  </div>

  <form ng-submit="deleteShareCtrl.onDeleteConfirmed()">
    <div ng-show="deleteShareCtrl.canDeleteAndLeave()" class="modal-body" data-id="deleteOptions">
      <ul class="form-options">
        <li class="modal-input-item">
          <label>
            <input type="radio"
                   ng-model="deleteShareCtrl.deleteMode"
                   class="input-radio"
                   name="delete-type"
                   value="leave-folder"
                   data-qa="delete-for-me"
                   checked>
            {{'Delete folder just for me' | translate}}
          </label>
        </li>
        <li class="modal-input-item">
          <label>
            <input type="radio"
                   ng-model="deleteShareCtrl.deleteMode"
                   class="input-radio"
                   name="delete-type"
                   value="delete-folder"
                   data-qa="delete-for-all">
            {{'Delete folder for me and ALL Collaborators' | translate}}
          </label>
        </li>
      </ul>
    </div>
    <div ng-show="!deleteShareCtrl.canDeleteAndLeave()" class="modal-body" data-id="deleteConfirmation">
      <p>
        {{'Delete Selected Folder' | translate}}: &nbsp;
        <span class="lighten-text">{{deleteShareCtrl.share.name}}</span>
        &nbsp; {{!deleteShareCtrl.canDelete ? 'just for me' : '' | translate}}
      </p>
    </div>

    <div class="modal-footer">
      <button class="tertiary large" ng-disabled="deleteShareCtrl.isDeleting" data-id="delete-submit" data-qa="delete-submit">
        <span ng-show="deleteShareCtrl.isDeleting" class="spinner orange-spinner"></span>
        {{'Delete' | translate}}
      </button>
      <button class="secondary large"
              data-id="close"
              data-qa="cancel-btn"
              ng-click="deleteShareCtrl.onClose()"
              ng-disabled="deleteShareCtrl.isDeleting">
        {{'Cancel' | translate}}
      </button>
    </div>
  </form>
</div>