<div ng-controller="ConfirmModalCtrl as confirmCtrl" data-qa="confirmation-modal">
  <div class="modal-header">
    <span class="icon {{ confirmCtrl.icon || 'menu-icon-add-info' }}"></span>

    <h2>{{ confirmCtrl.title || ('Confirm' | translate) }}</h2>

    <a class="modal-close-wrap"
       data-qa="confirm-no-icon"
       ng-click="confirmCtrl.onCancel()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div ng-if="confirmCtrl.bodyTemplateUrl"
       ng-include="confirmCtrl.bodyTemplateUrl"
       class="modal-body">
  </div>

  <div ng-if="!confirmCtrl.bodyTemplateUrl" class="modal-body">
    <p>{{confirmCtrl.bodyMessage}}</p>
  </div>

  <div class="modal-footer">
    <button class="{{confirmCtrl.confirmButtonClass || 'primary'}} large"
            data-qa="confirm-yes"
            ng-click="confirmCtrl.onConfirm()">
      <span ng-show="confirmCtrl.isConfirming" class="spinner spinner-orange"></span>
      {{confirmCtrl.confirmButtonText || ('Confirm' | translate)}}
    </button>

    <button class="secondary large"
            data-qa="confirm-no"
            ng-click="confirmCtrl.onCancel()">
      {{confirmCtrl.cancelButtonText || ('Cancel' | translate)}}
    </button>
  </div>
</div>
