<div class="container-logs full-height">
  <div ng-controller="LogsNavCtrl as logsNavCtrl" class="full-height">
    <header class="logs-header">
      <span class="icon icon-logs"></span>

      <h2>Logs</h2>

      <ul class="logs-nav__list">
        <li class="logs-nav__item">
          <span ng-if="logsNavCtrl.isLoading">
              <span class="spinner spinner-orange"></span>
              {{'Loading...' | translate}}
          </span>

          <span ng-if="!logsNavCtrl.isLoading">
            <select2 class="logs-nav__link"
                     id="logs-dropdown"
                     selected="logsNavCtrl.selectedOption"
                     options="logsNavCtrl.dropDownOptions"
                     on-change="logsNavCtrl.onDropDownMenuOptionSelected($event, val)">
            </select2>
          </span>
        </li>

        <li class="logs-nav__item" ng-if="logsNavCtrl.hasSubMenus">
          <h2><!-- > --></h2>

          <span ng-if="logsNavCtrl.subMenusLoading">
              <span class="spinner spinner-orange"></span>
              {{'Loading...' | translate}}
          </span>

          <span ng-if="logsNavCtrl.showSubMenus">
            <select2 class="logs-nav__link"
                     id="submenu-dropdown"
                     selected="logsNavCtrl.selectedSubMenu"
                     options="logsNavCtrl.subMenuOptions"
                     on-change="logsNavCtrl.onSubMenuSelected($event, val)">
            </select2>
          </span>
        </li>
      </ul>
    </header>

    <div ui-view class="logs-tab"></div>
  </div>
</div>
