@import "../reindeer/styles.css";

.v-table-collaborator .v-table-cell-content {
    text-align: left;
    vertical-align: middle;
}

.v-caption-wrappedfield {
    display: none;
}

.v-checkbox-bigfont {
    font-size: large;
}

.v-splitpanel-hsplitter-hidden {
    visibility: hidden;
}