<div ng-controller="ShareModalCtrl as shareCtrl" data-qa="share-modal">
  <div class="modal-header">
    <span class="icon {{shareCtrl.icon}}"></span>

    <h2>{{shareCtrl.title}}</h2>
    <a class="modal-close-wrap"
       data-id="close"
       data-qa="close"
       ng-disabled="shareCtrl.isSaving"
       ng-click="shareCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="shareCtrl.alert" data-id="alert"></div>

  <form validation-options="shareCtrl.validationOptions"
        on-valid="shareCtrl.onValid()"
        on-invalid-submit="shareCtrl.onInvalidSubmit()"
        on-submit="shareCtrl.onSave()"
        autofocused="!shareCtrl.autofocusField">
    <div class="modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="shareName">{{'Folder Name' | translate}}</label>
          </div>

          <div class="column-input">
            <input type="text"
               ng-model="shareCtrl.share.name"
               id="shareName"
               name="shareName"
               data-qa="share-name"
               required>
          </div>
        </li>

        <li ng-if="!shareCtrl.showNameOnly" class="modal-input-item">
          <label class="toggle-folder-options" 
                 data-id="toggle-folder-options"
                 data-qa="toggle-folder-options"
                 ng-click="shareCtrl.isShowingOptions = !shareCtrl.isShowingOptions">
            <span class="folder-options-label">{{'Options' | translate}}</span>

            <div class="circle"
              ng-class="{'rotate-90': shareCtrl.isShowingOptions}">
              <span class="icon new-folder-arrow"></span>
            </div>
          </label>

          <div ng-show="shareCtrl.isShowingOptions" class="form-options-container">
            <ul class="form-options">
              <li data-id="expiration-options">
                <label autofocused="shareCtrl.autofocusField === 'doesFolderExpire'">
                  <input type="checkbox"
                         ng-model="shareCtrl.doesFolderExpire"
                         class="toggle-options-adv"
                         name="expireToggle"
                         data-qa="expiration-checkbox">
                  {{'Expire this Folder' | translate}}
                </label>

                <div ng-show="shareCtrl.doesFolderExpire"
                     class="form-options-adv expire-folder"
                     data-id="expiration-datetime-options"
                     data-qa="expiration-options">
                  <date-picker class="form-control" date="shareCtrl.expirationDate" validation-name="expirationDate"></date-picker>

                  <time-picker
                    class="expired-time"
                    selected-time="shareCtrl.expirationTime"
                    data-qa="expiration-time">
                  </time-picker>
                  <input type="text" ng-model="shareCtrl.expirationTime" class="hide" name="expirationTime">

                  <span for="expirationDate" class="invalid"></span>
                </div>
              </li>

              <li data-id="limit-size-options" data-qa="limit-size-options">
                <label>
                  <input type="checkbox"
                         ng-model="shareCtrl.isSizeLimited"
                         data-id="toggle-limit"
                         class="toggle-options-adv hide"
                         name="sizeToggle">
                  {{'Limit Size of this Folder' | translate}}
                </label>

                <div ng-show="shareCtrl.isSizeLimited"
                     class="form-options-adv max-file-size"
                     autofocused="shareCtrl.autofocusField === 'maxSize'"
                     data-id="max-size-options"
                     data-qa="max-size-options">
                  <input type="text"
                         ng-model="shareCtrl.maxSize"
                         class="max-file-val"
                         name="maxSize"
                         data-qa="max-size">

                  <select2 options="['MB', 'GB']" selected="shareCtrl.maxSizeUnit" data-qa="size-unit-selection"></select2>

                  <span for="maxSize" class="invalid"></span>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large" value="submit" ng-disabled="shareCtrl.isSaving" data-qa="save-btn">
        <span ng-show="shareCtrl.isSaving" class="spinner spinner-orange"></span>
        {{'Save' | translate}}
      </button>
      <button class="secondary large"
              data-id="close"
              ng-click="shareCtrl.onClose()"
              ng-disabled="shareCtrl.isSaving"
              data-qa="share-modal-cancel">
        {{'Cancel' | translate}}
      </button>
    </div>
  </form>

</div>
