<div ng-controller="SharesListCtrl as sharesCtrl"
     data-qa="shares-list"
     class="full-height">
  <header class="col-header">
    <span class="icon files blue"></span>
    <h1 class="col-header-title">{{'Files' | translate}}</h1>

    <ul class="actions" data-id="actions-container">
      <li class="actions-item">
        <button class="small"
          data-id="new-folder"
          data-qa="new-folder"
          title="{{sharesCtrl.isUserExternal() ? 'No permissions to add folder' : 'New Folder' | translate}}"
          ng-disabled="sharesCtrl.isUserExternal()"
          ng-click="sharesCtrl.onAddShare()">
          <span class="icon add-folder"></span>
        </button>
      </li>
    </ul>
  </header>

  <div class="col-body file-tree-container"
       data-id="file-tree-container"
       scroll-to="unifyCtrl.shareScroller"
       prevent-context-menu>
    <ul id="file-tree" data-qa="shares-list">
      <li ng-repeat="share in sharesCtrl.shares()
            | orderBy:'name'
            | filter:sharesCtrl.sharesFilterPredicate as filteredShares
            track by share.id"
          class="file-tree-name"
          scroll-to-id="{{share.id}}"
          ng-class="{'is-selected': share.id === sharesCtrl.unifyState.selectedShare.id}"
          ng-click="sharesCtrl.onShareClick(share, $event)"
          on-right-click="sharesCtrl.onShareRightClick($event, share)"
          data-id="share"
          data-share-id="{{share.id}}"
          data-qa="share"
          data-qa-share-name="{{share.name}}"
          title="{{share.name}}{{sharesCtrl.shareTooltipAdditional(share)}}"
          data-qa-share-selected="{{ share.id === sharesCtrl.unifyState.selectedShare.id }}"
          on-rendered="sharesCtrl.onShareItemRendered($last)"
          drag-and-drop
          drag-and-drop-type="'MOVE_OR_COPY_FILES'"
          drag-and-drop-destination="share"
          drag-and-drop-can-do-drop="sharesCtrl.canDropFilesIn(share)"
          drag-and-drop-can-do-alt-drop="sharesCtrl.canDropFilesIn(share)">
        <span ng-show="sharesCtrl.ftpEnabledFor(share)" class="icon share-ftp"></span>
        <span ng-hide="sharesCtrl.ftpEnabledFor(share)" class="icon folder"></span>

        <span ng-show="!sharesCtrl.ftpEnabledFor(share) || !unifyCtrl.showFtpAlias() || !share.ftpSettings.alias" data-qa="share-name">
          {{ share.name }}
        </span>
        <span ng-show="sharesCtrl.ftpEnabledFor(share) && unifyCtrl.showFtpAlias()">
          <em>{{ share.ftpSettings.alias }}</em>
        </span>

        <span class="share-options"
              ng-show="share.id === sharesCtrl.unifyState.selectedShare.id"
              ng-click="sharesCtrl.showOptions($event)"
              title="{{'Show Options' | translate}}"
              data-qa="shares-list-menu-options">
          <span class="icon actions-small"></span>
        </span>
      </li>
    </ul>

    <!--This menu appears when right clicking-->
    <div popover="sharesCtrl.contextMenu" popover-at-mouse="true" class="menu-right-click">
      <ng-include src="'scripts/unify/sharesList/shareActionMenu.html'"></ng-include>
    </div>

    <!--This is the menu that appears when clicking the ellipsis-->
    <div popover="sharesCtrl.actionMenu" popover-at-mouse="true" class="menu-right-click">
      <ng-include src="'scripts/unify/sharesList/shareActionMenu.html'"></ng-include>
    </div>
  </div>

  <footer class="col-footer">
  </footer>
</div>
