<div class="menu" data-qa="share-list-action-menu">
  <ul class="menu-list">
    <li title="{{sharesCtrl.isEditForbidden ? 'No permissions to edit folder' : '' | translate}}">
      <a class="menu-item"
         data-id="edit-folder"
         data-qa="edit-menu-item"
         authorize="MODIFY_CONFIGURATION"
         permissions="sharesCtrl.unifyState.selectedShare.permissions"
         is-forbidden="sharesCtrl.isEditForbidden"
         ng-class="{'menu-disabled': sharesCtrl.isEditForbidden}"
         ng-disabled="sharesCtrl.isEditForbidden"
         ng-click="sharesCtrl.onEditShareClick(sharesCtrl.unifyState.selectedShare)">
        <span class="icon menu-edit"></span>
        <span class="menu-label">{{'Edit' | translate}}</span>
      </a>
    </li>

    <li title="{{sharesCtrl.isEditForbidden ? 'No permissions to rename folder' : '' | translate}}">
      <a class="menu-item"
         data-qa="rename-menu-item"
         authorize="MODIFY_CONFIGURATION"
         permissions="sharesCtrl.unifyState.selectedShare.permissions"
         is-forbidden="sharesCtrl.isEditForbidden"
         ng-class="{'menu-disabled': sharesCtrl.isEditForbidden}"
         ng-disabled="sharesCtrl.isEditForbidden"
         ng-click="sharesCtrl.onRenameShareClick(sharesCtrl.unifyState.selectedShare)">
        <span class="icon menu-rename"></span>
        <span class="menu-label">{{'Rename' | translate}}</span>
      </a>
    </li>

    <li title="{{sharesCtrl.deleteMenuToolTip()}}">
      <a class="menu-item"
         data-id="delete-folder"
         data-qa="delete-menu-item"
         ng-class="{'menu-disabled': sharesCtrl.hasLessThanTwoShares()}"
         ng-disabled="sharesCtrl.hasLessThanTwoShares()"
         ng-click="sharesCtrl.onDeleteShareClick(sharesCtrl.unifyState.selectedShare)">
        <span class="icon menu-delete"></span>
        <span class="menu-label">{{'Delete' | translate}}</span>
      </a>
    </li>

    <li ng-show="!sharesCtrl.ftpMenuDisabledFor(sharesCtrl.unifyState.selectedShare)"
        title="{{sharesCtrl.ftpMenuDisabledFor(sharesCtrl.unifyState.selectedShare) ? 'FTP is not enabled' : '' | translate}}">
      <a class="menu-item"
         data-qa="ftp-menu-item"
         ng-click="sharesCtrl.onConfigureAliasClick(sharesCtrl.unifyState.selectedShare)">
        <span class="icon menu-ftp"></span>
        <span class="menu-label">{{'Multi-Protocol' | translate}}</span>
      </a>
    </li>

    <li ng-show="sharesCtrl.shouldDisplayFtpAlias(sharesCtrl.unifyState.selectedShare)">
      <a class="menu-item"
         ng-click="unifyCtrl.setShowFtpAlias(!unifyCtrl.showFtpAlias())"
         data-qa="toggle-alias">
        <span class="icon menu-ftp"></span>
        <span ng-show="!unifyCtrl.showFtpAlias()" class="menu-label">{{'Show Alias' | translate}}</span>
        <span ng-show="unifyCtrl.showFtpAlias()" class="menu-label">{{'Hide Alias' | translate}}</span>
      </a>
    </li>
  </ul>
</div>
