<div class="date-picker">
  <input type="text"
         class="form-control"
         pattern="\d{1,2}/\d{1,2}/\d{4}"
         maxlength="10"
         name="{{validationName}}">
  <span class="icon modal-date" data-id="cal-icon" ng-click="showDatePicker()"></span>
</div>