<span ng-controller="FilterFoldersCtrl as filtFolderCtrl"
      class="app-filter--container"
      data-qa="filter-folder">

  <span class="app-filter--control">
    <span class="icon icon-filter"
          title="{{'Filter folders' | translate}}"
          ng-show="!filtFolderCtrl.isFilterOpen"
          ng-class="{ 'icon-filter-active': filtFolderCtrl.isFilterOn() }"
          ng-click="filtFolderCtrl.onFilterIconClick()"
          data-qa="filter-folder-icon">
    </span>
  </span>

  <select2 class="app-filter--select"
           id="filter-mode"
           ng-class="{ 'app-filter--select__close': !filtFolderCtrl.isFilterOpen }"
           options="filtFolderCtrl.filterOptions"
           selected="filtFolderCtrl.selectedFilter"
           select2-placeholder="{{'Show me...' | translate}}"
           on-selecting="filtFolderCtrl.onFilterSelected($event)">
  </select2>
</span>