<div class="container-settings full-height">
  <div ng-controller="AdministrationCtrl as administrationCtrl" class="full-height">
    <header class="settings-header">
      <h2>
        <span class="icon menu-settings"></span>
        <span ng-if="administrationCtrl.inTileView()">Administration</span>
        <a ui-sref="app.administration" ng-if="!administrationCtrl.inTileView()">Administration</a>
        <span ng-show="administrationCtrl.breadcrumbTitle">
          <span class="icon icon-caret"></span>
          <span class="crumb">{{ administrationCtrl.breadcrumbTitle }}</span>
        </span>
      </h2>
    </header>

    <div class="settings-tab settings-tiles-container" data-qa="settings-tiles" ng-if="administrationCtrl.inTileView()">

      <section ng-repeat="tile in administrationCtrl.tiles"
               ng-if="tile.isVisible"
               class="settings-tile settings-tile-{{tile.name}}"
               data-qa="tile-{{tile.name}}">
        <div class="settings-tile-icon-wrap">
          <span class="settings-tile-icon {{tile.name}}"></span>
        </div>
        <div class="settings-tile-info">
          <h3 title="{{tile.title}}">{{tile.title}}</h3>
        </div>
        <div class="settings-tiles-menu">
          <ul>
            <li ng-repeat="subMenu in tile.subMenus"
                ng-if="subMenu.isVisible"
                class="settings-tiles-links">
              <div ng-switch="subMenu.name">
                <div ng-switch-when="licenseSupportRequest">
                  <a ng-href="{{administrationCtrl.getSupportRequestLink()}}" target="_blank">
                    {{subMenu.title}}
                  </a>
                </div>
                <div ng-switch-default>
                  <a ui-sref="{{subMenu.destinationState}}">{{subMenu.title}}</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

    </div>

    <div ui-view class="settings-tab full-height"></div>
  </div>
</div>
