<div ng-controller="HelpModalCtrl as helpCtrl" data-qa="help-modal">
  <div class="modal-header">
    <span class="icon modal-help"></span>
    <h2>{{'Help' | translate}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close" ng-click="helpCtrl.onCloseClick()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div class="modal-body help-modal">
    <iframe src="webhelp/index_frames.html" class="help-frame"></iframe>
  </div>
</div>