<div ng-controller="ReassignCtrl as reassignCtrl" data-qa="reassign-modal">
  <div class="modal-header">
    <span class="icon modal-delete"></span>
    <h2>{{reassignCtrl.areMultipleUsersToDelete() ? ('Delete Users' | translate) : ('Delete User' | translate)}}</h2>
    <a class="modal-close-wrap"
       ng-click="reassignCtrl.onCancel()"
       data-qa="reassign-close">
      <span class="icon modal-close"></span>
    </a>
  </div>
  <div alert="reassignCtrl.alert" data-qa="reassign-alert"></div>
  <div class="modal-body">
    <p ng-if="!reassignCtrl.areMultipleUsersToDelete()">{{'The user you are trying to delete has folder(s) they own or are collaborating on.' | translate}}</p>
    <p ng-if="!reassignCtrl.areMultipleUsersToDelete()">{{'In order to delete the user, you must first assign those folders to another user.' | translate}}</p>
    <p ng-if="reassignCtrl.areMultipleUsersToDelete()">{{'One or more of the users you are trying to delete has folders they own or are collaborating on.' | translate}}</p>
    <p ng-if="reassignCtrl.areMultipleUsersToDelete()">{{'In order to delete the users, you must first assign those folders to another user.' | translate}}</p>
    <ul class="modal-inputs">
      <li class="modal-input-item">
        <div class="column-label">
          <label for="assign-to-user">{{'Assign folders to' | translate}}</label>
        </div>
        <div class="column-input">
          <cleo-autocomplete
              autocomplete="reassignCtrl.autocomplete"
              autocomplete-choices="reassignCtrl.assignableUsers"
              autocomplete-filter-input-name="assign-to-user"
              autocomplete-multi-select="false"
              autocomplete-selection="reassignCtrl.assignToUserEmail"
              autocomplete-selection-property="email"
              autocomplete-on-selection="reassignCtrl.onAssignToUserSelection"
              autocomplete-display-choice="reassignCtrl.displayAssignableUser"
              autofocused>
          </cleo-autocomplete>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="primary large"
            ng-click="reassignCtrl.onContinue()"
            data-qa="reassign-continue">
      {{'Continue' | translate}}
    </button>
    <button class="secondary large"
            ng-click="reassignCtrl.onCancel()"
            data-qa="reassign-cancel">
      {{'Cancel' | translate}}
    </button>
  </div>
</div>
