<div ng-controller="AddRecipientsModalCtrl as addRecipientsModalCtrl">
  <div class="modal-header">
    <span class="icon modal-edit"></span>
    <h2 data-id="title">{{"Add Recipients" | translate}}</h2>
    <a class="modal-close-wrap" data-id="close-icon">
      <span class="icon modal-close" ng-click="addRecipientsModalCtrl.onClose()" ng-disabled="addRecipientsModalCtrl.isAdding"></span>
    </a>
  </div>

  <div data-id="alert" alert="addRecipientsModalCtrl.alert"></div>

  <form data-id="add-recipient-form"
        validation-options="addRecipientsModalCtrl.validationOptions"
        on-submit="addRecipientsModalCtrl.onAddSubmit()"
        on-valid="addRecipientsModalCtrl.onValid()"
        on-invalid-submit="addRecipientsModalCtrl.onInvalid()">
    <div class="add-recipients-modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="compose-to">{{"To" | translate}}</label>
          </div>

          <div class="column-input">
            <cleo-autocomplete
                autocomplete="addRecipientsModalCtrl.autocomplete"
                autocomplete-choices="addRecipientsModalCtrl.potentialRecipients"
                autocomplete-validate-choice="addRecipientsModalCtrl.validateChoice"
                autocomplete-filter-input-name="compose-to"
                autocomplete-multi-select="true"
                autocomplete-selection="addRecipientsModalCtrl.recipientsEmails"
                autocomplete-selection-property="email"
                autocomplete-display-choice="addRecipientsModalCtrl.displayRecipient"
                autocomplete-display-chosen-option="addRecipientsModalCtrl.displayRecipient"
                autocomplete-display-invalid-choice-reason="addRecipientsModalCtrl.displayInvalidChoiceReason"
                autocomplete-display-new-options-count="addRecipientsModalCtrl.displayNewRecipientsCount"
                autocomplete-disabled="addRecipientsModalCtrl.isAdding"
                autofocused>
            </cleo-autocomplete>
          </div>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button
        class="primary large"
        data-id="save"
        ng-disabled="addRecipientsModalCtrl.isAdding">
        <span ng-show="addRecipientsModalCtrl.isAdding" class="spinner spinner-orange" data-id="spinner"></span>
        {{"Add" | translate}}
      </button>
      <button
        class="secondary large"
        data-id="close"
        data-qa="close"
        ng-click="addRecipientsModalCtrl.onClose()"
        ng-disabled="addRecipientsModalCtrl.isAdding">
        {{"Cancel" | translate}}
      </button>
    </div>
  </form>
</div>
