<div ng-controller="EditMessageExpirationModalCtrl as editMessageExpirationModalCtrl">
  <div class="modal-header">
    <span class="icon modal-edit"></span>
    <h2>{{"Edit" | translate}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close">
      <span
        class="icon modal-close"
        ng-click="editMessageExpirationModalCtrl.onClose()"
        ng-disabled="editMessageExpirationModalCtrl.isSaving"></span>
    </a>
  </div>
  <div alert="editMessageExpirationModalCtrl.alert" data-id="alert"></div>

  <form
    validation-options="editMessageExpirationModalCtrl.validations"
    on-submit="editMessageExpirationModalCtrl.onSaveSubmit()"
    on-invalid-submit="editMessageExpirationModalCtrl.onInvalidSubmit()">
    <div class="modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label>{{"Expires" | translate}}</label>
          </div>

          <div class="column-input">
            <ul class="form-options">
              <li>
                <select2
                  id="compose-expiration"
                  class="compose-expiration"
                  options="editMessageExpirationModalCtrl.expirationOptions"
                  selected="editMessageExpirationModalCtrl.expirationSelection"
                  name="expirationTime"
                  ng-disabled="editMessageExpirationModalCtrl.isSaving">
                </select2>

                <div
                  class="expiration-controls"
                  data-id="expirations-controls"
                  ng-show="editMessageExpirationModalCtrl.expirationSelection !== 'Never'">
                  <date-picker
                    validation-name="untilDate"
                    date="editMessageExpirationModalCtrl.untilDate"
                    ng-disabled="editMessageExpirationModalCtrl.isSaving">
                  </date-picker>

                  <time-picker
                    class="expired-time"
                    validation-name="untilTime"
                    selected-time="editMessageExpirationModalCtrl.untilTime"
                    ng-disabled="editMessageExpirationModalCtrl.isSaving">
                  </time-picker>
                </div>

                <span for="untilDate" class="invalid"></span>
              </li>
            </ul>
          </div>
      </ul>

    </div>

    <div class="modal-footer">
      <button
        class="primary large"
        data-id="save"
        ng-disabled="editMessageExpirationModalCtrl.isSaving">
        <span ng-show="editMessageExpirationModalCtrl.isSaving" class="spinner spinner-orange" data-id="spinner"></span>
        {{"Save" | translate}}
      </button>
      <button
        class="secondary large"
        data-id="close"
        data-qa="close"
        ng-click="editMessageExpirationModalCtrl.onClose()"
        ng-disabled="editMessageExpirationModalCtrl.isSaving">
        {{"Cancel" | translate}}
      </button>
    </div>
  </form>
</div>
