<div class="full-height"
     ng-controller="MessageDetailsCtrl as messageDetailsCtrl"
     drag-and-drop
     drag-and-drop-type="'UPLOAD_ATTACHMENTS'"
     drag-and-drop-can-do-drop="trustCtrl.canUploadAttachment()">
  <div alert="trustCtrl.alert"></div>
  <div ng-show="trustCtrl.trustState.loadingMessageDetails" class="overlay loading-overlay"></div>

  <div class="message-thread-wrap" data-id="message-thread-wrap">
    <div ng-show="isDraggingFiles && trustCtrl.canUploadAttachment() &&  messageDetailsCtrl.messages().length > 0"
         class="overlay upload-overlay overlay-trans-bg"
         data-id="upload-overlay">
      <div data-id="upload-overlay-drop-area">
        <div class="upload-container upload-container-dragging" data-id="upload-area-container">
          <div class="upload-actions-intro">
            <span class="icon upload-files-orange" data-id="browse"></span>

            <p>{{'Drop your files anywhere to upload into' | translate}}</p>

            <span class="icon messages blue"></span>

            <span class="drop-folder-target" data-id="drop-receiver-name">
              {{ messageDetailsCtrl.selectedMessage().name }}
            </span>
          </div>
        </div>
        <div class="column-input" data-id="compose-attachments">
        </div>
      </div>
    </div>

    <div ng-show="trustCtrl.emptyInbox()" class="empty-message full-height" data-test-id="no-message-selected">
      <h1>{{'Your inbox is empty' | translate}}</h1>
      <p>{{'Create a new message by clicking on the compose button' | translate}}</p>
      <span class="icon placeholder-message"></span>
    </div>

    <div ng-show="trustCtrl.emptyFilter()" class="empty-message full-height" data-test-id="empty-filter-results">
      <h1 translate>There are no messages that match "{{ messageDetailsCtrl.filterTerm() }}"</h1>
      <p>{{'Create a new message by clicking on the compose button' | translate}}</p>
      <span class="icon placeholder-message"></span>
    </div>

    <div ng-hide="trustCtrl.emptyInbox() || trustCtrl.emptyFilter()" class="full-height">
      <header class="message-thread-header" data-test-id="message-selected">
        <h1 class="message-thread-title" title="{{messageDetailsCtrl.selectedMessage().name}}">
          <span class="icon messages-thread"></span>
          <span ng-if="messageDetailsCtrl.filterTerm()" ng-bind-html="messageDetailsCtrl.selectedMessage().name | highlightText:messageDetailsCtrl.filterTerm()"></span>
          <span ng-if="!messageDetailsCtrl.filterTerm()">{{messageDetailsCtrl.selectedMessage().name}}</span>
        </h1>
        <span class="message-thread-timestamp">
          <span class="last-updated">{{'Last updated' | translate}}</span>
          <span class="last-updated-date">{{messageDetailsCtrl.selectedMessage().lastUpdatedDate | asMediumTimestamp}}</span>
        </span>
      </header>

      <div class="message-thread-subject">
        <ul>
          <li data-test-id="message-from">
            <div class="subject-label">{{'From' | translate}}</div>
            <div class="subject-content">
              <span ng-if="messageDetailsCtrl.filterTerm()" ng-bind-html="messageDetailsCtrl.selectedMessage().owner | displayName | highlightText:messageDetailsCtrl.filterTerm()"></span>
              <span ng-if="!messageDetailsCtrl.filterTerm()">{{ messageDetailsCtrl.selectedMessage().owner | displayName }}</span>
            </div>
          </li>

          <li data-test-id="message-to">
            <div class="subject-label">
              {{'To' | translate}}
            </div>

            <div class="subject-content">
              <ul class="subject-recipients-list">
                <li ng-repeat="recipient in messageDetailsCtrl.recipients()
                               | orderBy:messageDetailsCtrl.orderRecipientsBy
                               | filter: messageDetailsCtrl.recipientIsShowable track by recipient.id"
                    class="recipients-item"
                    ng-class="{'is-selected': recipient.isSelected, 'user-unregistered': recipient.isUnregistered(), 'user-blocked': recipient.blocked}"
                    ng-click="messageDetailsCtrl.onRecipientClick(recipient)"
                    data-id="recipient-item">
                  {{ recipient | displayName }}
                  <span data-id="popover-more-info"
                        ng-show="recipient.blocked || recipient.isUnregistered()"
                        ng-click="messageDetailsCtrl.onRecipientMoreInfoClick(recipient, $event)">
                    <span class="icon clock-expiring" ng-show="recipient.isRegistrationExpired()"></span>
                    <span ng-hide="recipient.isRegistrationExpired()">&#x24d8;</span>
                  </span>

                  <span class="remove-recipient"
                        ng-class="{'no-delete': messageDetailsCtrl.isDeleteRecipientsForbidden}"
                        data-id="remove-recipients"
                        title="{{messageDetailsCtrl.isDeleteRecipientsForbidden
                          ? 'Only the sender can remove recipients of this message'
                          : '' | translate}}"
                        permissions="messageDetailsCtrl.messagePermissions()"
                        authorize="MODIFY_COLLABORATORS"
                        is-forbidden="messageDetailsCtrl.isDeleteRecipientsForbidden"
                        ng-click="messageDetailsCtrl.onRecipientDeleteClick($event, recipient)">
                    ×
                  </span>
                </li>

                <li>
                  <span class="icon message-edit"
                        ng-class="{'message-edit-disable': messageDetailsCtrl.isAddRecipientsForbidden}"
                        data-id="add-message-recipients"
                        title="{{messageDetailsCtrl.isAddRecipientsForbidden
                          ? 'No permissions to add recipients'
                          : 'Add additional recipients' | translate
                        }}"
                        permissions="messageDetailsCtrl.messagePermissions()"
                        authorize="ADD_COLLABORATORS"
                        is-forbidden="messageDetailsCtrl.isAddRecipientsForbidden"
                        ng-click="messageDetailsCtrl.onAddRecipientsClick()">
                  </span>
                </li>
              </ul>

              <div popover="messageDetailsCtrl.invitationDetailPopover" popover-fixed="true">
                <invitation-detail collaborator="messageDetailsCtrl.recipientSelectedToSeeInvitation"
                                   message-or-folder="'message'"
                                   permissions="messageDetailsCtrl.messagePermissions()"
                                   resend-registration="messageDetailsCtrl.resendRegistration(messageDetailsCtrl.recipientSelectedToSeeInvitation)">
                </invitation-detail>
              </div>
            </div>
          </li>

          <li>
            <div class="subject-label">
              {{'Expires' | translate}}
            </div>

            <div class="subject-content">
              {{messageDetailsCtrl.selectedMessage().shareConfiguration.dtExpires | asDateTimeFormat:'MMMM D YYYY, h:mm a'}}
              {{messageDetailsCtrl.selectedMessage().shareConfiguration.dtExpires ? '' : 'Never' | translate}}
              &nbsp;
              <span
                class="icon message-edit"
                ng-class="{'message-edit-disable': messageDetailsCtrl.isEditExpirationForbidden}"
                data-id="edit-message-expiration"
                title="{{messageDetailsCtrl.isEditExpirationForbidden
                  ? 'Only message sender can modify expiration'
                  : 'Edit Expiration' | translate}}"
                permissions="messageDetailsCtrl.messagePermissions()"
                authorize="MODIFY_CONFIGURATION"
                is-forbidden="messageDetailsCtrl.isEditExpirationForbidden"
                ng-click="messageDetailsCtrl.onEditExpirationClick()">
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="message-thread-container" data-id="message-threads" scroll-to="messageDetailsCtrl.scrollToReply">
        <ul class="message-thread">
          <li ng-repeat="reply in messageDetailsCtrl.selectedMessage().replies | orderBy:'dtCommented' track by reply.id"
              class="message-thread-item"
              on-rendered="messageDetailsCtrl.onThreadItemInit($last)"
              scroll-to-id="{{reply.id}}">
            <span ng-class="{
                'message-avatar': messageDetailsCtrl.loginState.user.email !== reply.author.email,
                'message-avatar-me': messageDetailsCtrl.loginState.user.email === reply.author.email}">
            </span>
            <div class="thread-wrap">
              <h4 class="message-thread-name">
                {{reply.author | displayName}}
                <span class="message-thread-timestamp">
                  <span class="icon clock-small"></span>
                  {{reply.dtCommented | asMediumTimestamp}}
                </span>
              </h4>
              <p class="message-comment">{{reply.comment}}</p>
            </div>
          </li>
        </ul>
      </div>

      <form>
        <footer class="message-thread-footer">
          <textarea class="reply-input"
            ng-model="messageDetailsCtrl.replyText"
            placeholder="{{'Write a reply' | translate}}"
            value=""
            name="reply-input">
          </textarea>
          <button class="primary reply-button"
              ng-click="messageDetailsCtrl.onReplyClick(messageDetailsCtrl.selectedMessage())"
              ng-disabled="messageDetailsCtrl.isReplying">
            <span ng-show="messageDetailsCtrl.isReplying" class="spinner spinner-orange"></span> {{'Reply' | translate}}
          </button>
        </footer>
      </form>
    </div>
  </div>
</div>
