<div ng-controller="RemoveRecipientsModalCtrl as removeRecipientsModalCtrl">
  <div class="modal-header">
    <span class="icon modal-delete"></span>
    <h2>{{"Remove" | translate}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close">
      <span
        class="icon modal-close"
        ng-click="removeRecipientsModalCtrl.onClose()"
        ng-disabled="removeRecipientsModalCtrl.isRemoving">
      </span>
    </a>
  </div>
  <form>
    <div class="modal-body">
      <p data-id="message">
        {{"Are you sure you want to remove the following recipients?" | translate}}
        <span condensed-list="removeRecipientsModalCtrl.names"></span>
      </p>
    </div>

    <div class="modal-footer">
      <button
        class="tertiary large"
        data-id="delete"
        ng-disabled="removeRecipientsModalCtrl.isRemoving"
        ng-click="removeRecipientsModalCtrl.onRemoveSubmit()">
        <span ng-show="removeRecipientsModalCtrl.isRemoving" class="spinner spinner-orange" data-id="spinner"></span>
        {{"Remove" | translate}}
      </button>
      <button
        class="secondary large"
        data-id="close"
        data-qa="close"
        ng-click="removeRecipientsModalCtrl.onClose()"
        ng-disabled="removeRecipientsModalCtrl.isRemoving">
        {{"Cancel" | translate}}
      </button>
    </div>
  </form>
</div>
