/* Place your custom style definitions and standard overrides here */
.table td       {border-right:1px solid #C6C3C6; border-bottom:1px solid #C6C3C6; }
.window             {background:#EEECE9; }
.tree		    {background-color:white; }
.ui-tabs-panel  {background-color: #eeece9; }
.tableHeader, .tableHeader a, .tableHeader a:link, .tableHeader a:visited, .tableHeader a:active	
                {font-weight:normal; }
a.menuButton:hover {background-color:#0083CA; }
a.menuText:hover, a.submenuText:hover {background-color:#0083CA; }
.tableSelRow	{background-color:#F4D995; }
/* .tableSelRow td	{border-color:#F4D995; } */
.tableSelRow td	{border-color:#C6C3C6!important; }
.tableSelRow textarea	{background-color:#F4D995!important; }
.tableSelRow div	{background-color:#F4D995!important; }
.treeSel	{color:black; background-color:#BAD3E6; }
#checkboxopaque	    {background-color:#EEECE9; }
.tableCell .checkbox {white-space:nowrap}; .tableCell .checkbox label {white-space:nowrap};


.text, .choice	    {background-color:white !important;}

.table td .text, .table td .choice {background: white !important;}
.ui-tabs-panel .table tr .text[disabled], .ui-tabs-panel .table tr .choice[disabled] {background: transparent !important;}

.ui-tabs-panel .table .button table td table {width: 100%;}
.ui-tabs-panel .table .button table td table * { text-align: center;}
.monospace	{font-family: monospace !important;}

/* Special license dialog classes 
--------------------------------------------- */
.license-info-header      {background: #AAAAAA !important; color:black; font-family:monospace; font-size:12px !important;}

.tableTreeElement {white-space:nowrap!important} .tableTreeElement > img, .tableTreeElement > span {float:none!important;}
