<div class="container-logs full-height">
  <div ng-controller="TransfersCtrl as xferCtrl" class="full-height">
    <header class="logs-header">
      <span class="icon icon-logs"></span>

      <h2>Transfers</h2>

      <ul class="logs-nav__list">
        <li class="logs-nav__item">
          <span ng-if="xferCtrl.isLoading">
              <span class="spinner spinner-orange"></span>
              {{'Loading...' | translate}}
          </span>

          <span ng-if="!xferCtrl.isLoading">
            <select2 class="logs-nav__link"
                     id="transfers-dropdown"
                     selected="xferCtrl.selectedOption"
                     options="xferCtrl.dropDownOptions">
            </select2>
          </span>
        </li>
      </ul>
    </header>

    <div class="logs-tab">
      <swing-frame panel="{{ xferCtrl.getTransfersPanel() }}"></swing-frame>
    </div>
  </div>
</div>
