<div class="tabbable">
  <div class="modal-subheader">
    <ul class="nav nav-tabs settings-tabs">
      <li ng-repeat="pane in panes" ng-class="{active:pane.selected}" title="{{pane.tabTitle}}">
        <a ng-click="select(pane)" data-qa="tab-{{pane.tabTitle}}">{{pane.tabTitle}}</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" ng-transclude></div>
</div>
