<div class="menu" data-qa="attachments-action-menu">
  <ul class="menu-list">
    <li ng-show="attachmentsCtrl.isOnly1Selected()">
      <a class="menu-item"
         ng-click="attachmentsCtrl.onActivityClick($event, attachmentsCtrl.latestSelectedAttachment)"
         data-qa="attachments-activity-menu-item">
        <span class="icon menu-activity"></span>
        <span class="menu-label">{{'Activity' | translate}}</span>
      </a>
    </li>

    <li title="{{!attachmentsCtrl.canCopyAttachments() ? 'No permissions to copy attachment' : '' | translate}}">
      <a class="menu-item"
         data-qa="attachments-copy-menu-item"
         ng-disabled="!attachmentsCtrl.canCopyAttachments()"
         ng-click="attachmentsCtrl.onCopyToClick($event)">
        <span class="icon menu-copy-to"></span>
        <span class="menu-label">{{'Copy to' | translate}}</span>
      </a>
    </li>

    <li title="{{!attachmentsCtrl.canDeleteAttachments() ? 'No permissions to delete attachment' : '' | translate}}">
      <a class="menu-item"
         data-qa="attachments-delete-menu-item"
         ng-disabled="!attachmentsCtrl.canDeleteAttachments()"
         ng-click="attachmentsCtrl.onDeleteAttachment($event)">
        <span class="icon menu-delete"></span>
        <span class="menu-label">{{'Delete' | translate}}</span>
      </a>
    </li>
  </ul>
</div>