<div class="full-height" 
     ng-controller="AttachmentsListCtrl as attachmentsCtrl"
     drag-and-drop
     drag-and-drop-type="'UPLOAD_ATTACHMENTS'"
     drag-and-drop-can-do-drop="trustCtrl.canUploadAttachment()">
  <div data-id="attachments-drop-container" class="full-height">
    <header class="col-header">
      <span class="icon attachment blue"></span>

      <h1 class="col-header-title">{{'Attachments' | translate}}</h1>

      <ul class="actions">
        <li class="actions-item pull-right">
          <button class="small"
                  data-id="upload-attachments"
                  data-qa="upload-attachments-btn"
                  ng-show="attachmentsCtrl.isNoneSelected()"
                  ng-click="trustCtrl.launchUploadModal()"
                  ng-disabled="!trustCtrl.canUploadAttachment()"
                  title="{{trustCtrl.canUploadAttachment() ? 'Upload Attachments' : 'No permissions to upload attachments' | translate}}">
            <span class="icon add-attachment"></span>
          </button>
        </li>

        <li class="actions-item pull-right">
          <button class="small"
                  data-qa="delete-attachments-btn"
                  ng-click="attachmentsCtrl.onDeleteAttachment($event)"
                  ng-show="!attachmentsCtrl.isNoneSelected()"
                  ng-disabled="!attachmentsCtrl.canDeleteAttachments()"
                  title="{{attachmentsCtrl.canDeleteAttachments() ? 'Delete Attachments' : 'No permissions to delete attachments' | translate}}">
            <span class="icon icon-delete-trust"></span>
          </button>
        </li>

        <li class="actions-item pull-right">
          <button class="small"
                  data-qa="copy-attachments-btn"
                  ng-click="attachmentsCtrl.onCopyToClick($event)"
                  ng-show="!attachmentsCtrl.isNoneSelected()"
                  ng-disabled="!attachmentsCtrl.canCopyAttachments()"
                  title="{{attachmentsCtrl.canCopyAttachments() ? 'Copy Attachments' : 'No permissions to copy attachments' | translate}}">
            <span class="icon icon-copy-trust"></span>
          </button>
        </li>

        <li class="actions-item pull-right">
          <button class="small"
                  data-qa="attachments-activity-btn"
                  ng-show="attachmentsCtrl.isOnly1Selected()"
                  ng-click="attachmentsCtrl.onActivityClick($event, attachmentsCtrl.latestSelectedAttachment)"
                  title="{{'Click to view file activity' | translate}}">
            <span class="icon icon-activity-trust"</span>
          </button>
        </li>
      </ul>
    </header>

    <div ng-hide="trustCtrl.emptyFilter()" class="col-body attachments-container" data-id="attachments-container">
      <ul class="attachments" prevent-context-menu>
        <li ng-repeat="attachment in attachmentsCtrl.attachments()
                           | orderBy:attachmentsCtrl.sortPredicate track by attachment.id"
            class="attachments-item"
            ng-class="{'is-selected': attachment.isSelected}"
            ng-click="attachmentsCtrl.onAttachmentClick($event, attachment)"
            on-right-click="attachmentsCtrl.onAttachmentRightClick($event, attachment)">
          <div class="attachments-name">
            <a href="{{attachmentsCtrl.getDownloadUrl(attachment)}}"
               download="{{attachment.name}}"
               title="{{attachment.name}}"
               class="attachments-name-link"
               ng-click="$event.stopPropagation()"
               draggable="false">
              <span class="icon file-{{attachment.extension | extensionToIcon}}"></span>
              {{attachment.name}}
            </a>

            <span class="attachments-filesize">
              {{attachment.byteSize | bytesToFileSize}}
            </span>

            <div class="attachments-timestamp">
              {{attachment.lastModified | asShortTimestamp}}
            </div>

          </div>
        </li>
      </ul>

      <div popover="attachmentsCtrl.actionMenu" class="menu-right-click" popover-at-mouse="true">
        <ng-include src="'scripts/trust/attachmentsList/attachmentsActionMenu.html'"></ng-include>
      </div>

      <div popover="attachmentsCtrl.fileActivityPopover" popover-at-mouse="true" popover-fixed="true">
        <file-activity-popover file="attachmentsCtrl.activityFile" collaborators-word="'recipients'"></file-activity-popover>
      </div>

    </div>

    <footer class="col-footer">
      <a class="download-all-button hide">
        <span class="icon download-all"></span>

        <span>
          {{'Download all' | translate}}
        </span>
      </a>
    </footer>
  </div>
</div>
