<ul class="profile-nav-list" ng-controller="ProfileCtrl as profileCtrl">
  <li class="nav-item profile" ng-class="{'is-selected' : profileCtrl.popover.isOpen}" data-qa="profile">

    <span class="profile-avatar-me" ng-click="profileCtrl.popover.toggle($event)"></span>
    <div class="profile-name"
          data-qa="profile-toggle"
          title="{{profileCtrl.loginState.user | displayName}}"
          ng-click="profileCtrl.popover.toggle($event)">
      {{profileCtrl.loginState.user | displayName}}
    </div>

    <div popover="profileCtrl.popover" class="profile-popover">
      <div class="profile-widget" data-qa="profile-popover">
        <div class="profile-content">
          <span class="profile-widget-avatar-me" data-qa="profile-image"></span>

          <h2 class="profile-widget-name" data-qa="profile-widget-name" title="{{profileCtrl.loginState.user | displayName}}">
            {{profileCtrl.loginState.user | displayName}}
          </h2>

          <p class="profile-email" data-qa="profile-email" title="{{profileCtrl.loginState.user.email | optionalText}}">
            {{profileCtrl.loginState.user.email | optionalText}}
          </p>

          <a class="profile-edit"
             data-qa="settings"
             ng-if="profileCtrl.canChangePassword()"
             ng-click="profileCtrl.onSettingsClick()">
            {{'Settings' | translate}}
          </a>
        </div>

        <footer class="profile-widget-footer">
          <a class="help"
             title="{{'Help' | translate}}"
             href="../web_docs/help/com/cleo/lexicom/help/dita/webhelp/index.html"
             target="_blank">
            {{'Help' | translate}}
          </a>
          <span class="pull-left"> | </span>
          <a class="help"
             title="{{'Documentation' | translate}}"
             ng-href="{{profileCtrl.getDocumentationLink()}}"
             target="_blank">
            {{'Documentation' | translate}}
          </a>
          <a class="logout" data-qa="logout" ng-click="profileCtrl.onLogoutClick()" title="{{'Logout' | translate}}">{{'Logout' | translate}}</a>
        </footer>
      </div>
    </div>
  </li>
</ul>
