<div ng-controller="SettingsModalCtrl as settingsCtrl">
  <div class="modal-header" data-qa="modal-header">
    <span class="icon modal-password"></span>

    <h2>{{'Settings' | translate}}</h2>
    <a class="modal-close-wrap"
       data-id="close"
       data-qa="close"
       ng-disabled="settingsCtrl.isSaving"
       ng-click="settingsCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="settingsCtrl.alert" data-id="alert"></div>

  <form validation-options="settingsCtrl.validationOptions"
        on-submit="settingsCtrl.onSave()"
        autofocused>
    <div class="modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="password-box">
              {{'Change Password' | translate}}
            </label>
          </div>

          <ul class="column-input column-input-spacer modal-body__highlight">
            <li>
              <label for="current-password" class="sr-only">
                {{'Current Password' | translate}}
              </label>

              <input type="password"
                     placeholder="Current Password"
                     aria-labelby="password-box current-password"
                     ng-model="settingsCtrl.currentPassword"
                     ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                     id="current-password"
                     name="currentPassword">
            </li>

            <li>
              <label for="new-password" class="sr-only">{{'New Password' | translate}}</label>

              <input type="{{settingsCtrl.showPassword ? 'text' : 'password'}}"
                     placeholder="New Password"
                     aria-labelby="password-box new-password"
                     ng-model="settingsCtrl.newPassword"
                     ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                     autocomplete="off"
                     id="new-password"
                     name="newPassword">
            </li>

            <li>
              <label for="reenter-password" class="sr-only">{{'Re-enter Password' | translate}}</label>

              <input type="{{settingsCtrl.showPassword ? 'text' : 'password'}}"
                     placeholder="Re-enter New Password"
                     aria-labelby="password-box reenter-password"
                     ng-model="settingsCtrl.reentered"
                     ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                     autocomplete="off"
                     id="reenter-password"
                     name="reenterPassword">
            </li>

            <li>
              <label class="text-regular">
                <input type="checkbox"
                       ng-model="settingsCtrl.showPassword"
                       ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess"
                       data-id="toggle-show-password">
                {{'Show characters' | translate}}
              </label>
            </li>

          </ul>

        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large" ng-disabled="settingsCtrl.isSaving || settingsCtrl.isSuccess" data-qa="settings-save">
        <span ng-show="settingsCtrl.isSaving && !settingsCtrl.isSuccess" class="spinner spinner-orange"></span>
        {{'Save' | translate}}
      </button>
      <button class="secondary large"
              ng-click="settingsCtrl.onClose()"
              ng-disabled="settingsCtrl.isSaving"
              data-id="close">
        {{settingsCtrl.isSuccess ? 'Close' : 'Cancel'| translate}}
      </button>
    </div>
  </form>
</div>
