<div ng-controller="DeleteMessageCtrl as deleteCtrl">
  <div class="modal-header">
    <span class="icon modal-delete"></span>
    <h2>{{'Delete' | translate}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close" ng-click="deleteCtrl.onCloseClick()">
      <span class="icon modal-close"></span>
    </a>
  </div>
  <form ng-submit="deleteCtrl.onConfirmedClick($event)">
    <div class="modal-body">
      <p data-id="message">
        {{'Please confirm you would like to delete the selected message' | translate}}: <strong>{{deleteCtrl.messageName}}</strong>
      </p>
      <p ng-show="deleteCtrl.optionalWarning" data-id="optional-warning">{{ 'Clicking Delete will delete the message for you and all recipients.' | translate }}</p>
    </div>

    <div class="modal-footer">
      <button class="tertiary large" data-id="delete" data-qa="delete-btn">
        {{'Delete' | translate}}
      </button>
      <button class="secondary large" data-id="close" data-qa="close" ng-click="deleteCtrl.onCloseClick($event)">{{'Cancel' | translate}}</button>
    </div>
  </form>
</div>