<div ng-controller="UsersOverviewCtrl as usersOverviewCtrl" data-qa="users-overview-tab" class="full-height">
  <div alert="usersOverviewCtrl.alert"></div>

  <form data-qa="users-settings-form"
        class="full-height"
        name="usersOverviewCtrl.usersForm"
        validation-options="usersOverviewCtrl.validationOptions"
        on-submit="usersOverviewCtrl.save()">
    <div class="settings-tab-detail">
      <section class="settings-section col col-4-8">
        <h2>
          {{'Users' | translate}}
          <span ng-show="usersOverviewCtrl.isLoadingUsers" class="spinner spinner-orange"></span>
        </h2>

        <ul>
          <li class="configuration-parameter">
            <label class="configuration-parameter-label">
              {{'Total Users' | translate}}
            </label>
              <span class="user-count">
                <a data-qa="total-users" ui-sref="^.users">
                  <i class="icon icon-user-user"></i>
                  {{ usersOverviewCtrl.totalUserCount }}
                </a>
              </span>
          </li>
        </ul>
      </section>

      <section class="settings-section col col-4-8">
        <h2>
          {{'User Registration & Session' | translate}}
          <span ng-show="usersOverviewCtrl.isLoadingRegistrationInfo || usersOverviewCtrl.isLoadingSessionInfo"
                class="spinner spinner-orange">
          </span>
        </h2>

        <ul>
          <li class="configuration-parameter">
            <label class="configuration-parameter-label-wide">
              {{'Expire Invitations' | translate}}
            </label>
              <input type="checkbox"
                     class="cb-spacer"
                     ng-disabled="usersOverviewCtrl.isLoadingRegistrationInfo"
                     ng-model="usersOverviewCtrl.doesRegistrationExpire"/>
          </li>

          <li class="configuration-parameter">
            <label class="configuration-parameter-label-wide">
              {{'Expiration Time (Hours)' | translate}}
            </label>
              <input type="number"
                     class="input-narrow"
                     min="1"
                     max="999"
                     name="registrationExpiration"
                     ng-disabled="!usersOverviewCtrl.doesRegistrationExpire || usersOverviewCtrl.isLoadingRegistrationInfo"
                     ng-model="usersOverviewCtrl.registrationExpiration"/>
          </li>

          <li class="configuration-parameter">
            <label class="configuration-parameter-label-wide">
              {{'Session Timeout (Minutes)' | translate}}
            </label>
              <input type="number"
                     class="input-narrow"
                     min="1"
                     max="999"
                     name="sessionTimeout"
                     ng-disabled="usersOverviewCtrl.isLoadingSessionInfo"
                     ng-model="usersOverviewCtrl.sessionTimeout"/>
          </li>
        </ul>
      </section>
    </div>

    <footer class="settings-footer">
      <button
        class="primary large"
        data-qa="users-overview-save-button"
        ng-disabled="!usersOverviewCtrl.isDirty() || usersOverviewCtrl.isSaving">
        <span ng-show="usersOverviewCtrl.isSaving" class="spinner spinner-orange"></span>
        {{ 'Save' | translate }}
      </button>

      <button
        class="secondary large"
        data-qa="users-overview-cancel-button"
        ng-disabled="!usersOverviewCtrl.isDirty() || usersOverviewCtrl.isSaving"
        ng-click="usersOverviewCtrl.cancel()">
        {{ 'Cancel' | translate }}
      </button>
    </footer>
  </form>
</div>