<div ng-controller="CollaboratorsListCtrl as collabsCtrl" class="full-height" data-qa="collabs-list">
  <header class="col-header">
    <span class="icon icon-collaborators"></span>
    <h1 class="col-header-title">{{'Collaborators' | translate}}</h1>

    <ul class="actions" data-id="actions-container">
      <li class="actions-item">
        <button class="small"
                data-id="add-collab"
                data-qa="add-collab-btn"
                title="{{collabsCtrl.isAddCollabForbidden ? 'No permissions to add collaborators' : 'Add Collaborator' | translate}}"
                ng-disabled="collabsCtrl.isAddCollabForbidden || unifyCtrl.emptySharesFilter()"
                authorize="ADD_COLLABORATORS"
                permissions="collabsCtrl.sharePermissions()"
                is-forbidden="collabsCtrl.isAddCollabForbidden"
                ng-click="collabsCtrl.onAddCollaborator();">
          <span class="icon add-collaborator"></span>
        </button>
      </li>
      <li class="actions-item">
        <button class="small"
                data-id="custom-message"
                data-qa="custom-message"
                title="{{'Custom Message' | translate}}"
                ng-click="collabsCtrl.onOpenCustomMessageModal();"
                ng-disabled="collabsCtrl.noOtherCollaborators() || unifyCtrl.emptySharesFilter()">
          <span class="icon icon-custom-msg"></span>
        </button>
      </li>
    </ul>
  </header>

  <div alert="collabsCtrl.alert"></div>

  <div class="col-body collaborators-container"
       data-id="collaborators-container"
       data-qa="collaborators-container"
       prevent-context-menu>
    <ul class="collaborators" ng-show="!unifyCtrl.emptySharesFilter()">
      <li ng-repeat="collab in collabsCtrl.unifyState.collaborators
                     | orderBy:collabsCtrl.collabsPredicate
                     | filter: collabsCtrl.isShowable track by collab.id"
          class="collaborators-item"
          ng-click="collabsCtrl.onCollabClick($event, collab)"
          on-right-click="collabsCtrl.onCollabRightClick($event, collab)"
          ng-class="{'is-selected': collabsCtrl.isSelectedCollab(collab), 'user-unregistered': collab.isUnregistered(), 'user-blocked': collab.blocked}"
          data-id="collaborator"
          data-qa="collaborator"
          data-qa-collaborator-id="{{collab.id}}"
          data-qa-collaborator-email="{{collab.email}}"
          data-qa-collaborator-selected="{{collabsCtrl.isSelectedCollab(collab)}}"
          title="{{collab | displayName}}{{collabsCtrl.collabTooltipAdditional(collab)}}">

        <div class="collab-name-container">
          <span class="collab-name">
            <span class="icon" ng-class="{ 'icon-collaborator-owner': collabsCtrl.isOwner(collab), 'collaborator': !collabsCtrl.isOwner(collab) }"></span>
            <span class="collab-display-name">{{collab | displayName}}</span>
            <span class="collab-owner" ng-show="collabsCtrl.isOwner(collab)">({{'owner' | translate}})</span>
          </span>

          <span class="collaborator-options"
                title="{{'Show Options' | translate}}"
                ng-show="collabsCtrl.isSelectedCollab(collab)"
                ng-click="collabsCtrl.onActionMenuClick($event)"
                data-qa="collaborators-list-menu-options">
              <span class="icon actions-small"></span>
          </span>
        </div>


        <div popover="collabsCtrl.invitationDetailPopovers[collab.id]">
          <invitation-detail collaborator="collabsCtrl.collabSelectedToSeeInvitation"
                             message-or-folder="'folder'"
                             permissions="collabsCtrl.sharePermissions()"
                             resend-registration="collabsCtrl.resendRegistration(collabsCtrl.collabSelectedToSeeInvitation)">
          </invitation-detail>
        </div>
      </li>
    </ul>

    <div popover="collabsCtrl.contextMenu" popover-at-mouse="true" class="menu-right-click">
      <ng-include src="'scripts/unify/collaboratorsList/collaboratorsActionMenu.html'"></ng-include>
    </div>

    <div popover="collabsCtrl.actionMenu" popover-at-mouse="true" class="menu-right-click">
      <ng-include src="'scripts/unify/collaboratorsList/collaboratorsActionMenu.html'"></ng-include>
    </div>
  </div>
</div>
