<div ng-controller="CollaboratorsModalCtrl as collabCtrl" data-qa="collab-modal">
  <div class="modal-header">
    <span class="icon {{collabCtrl.icon}}"></span>

    <h2>{{collabCtrl.title}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close" ng-click="collabCtrl.onClose()" ng-disabled="collabCtrl.isSaving">
      <span class="icon modal-close"></span>
    </a>
  </div>
  <div alert="collabCtrl.alert" data-id="alert"></div>

  <form data-id="collaboratorForm" 
        validation-options="collabCtrl.collaboratorForm.validationOptions"
        on-submit="collabCtrl.onSave()"
        on-valid="collabCtrl.onValid()"
        on-invalid-submit="collabCtrl.onInvalid()"
        autofocused>
    <div class="add-collaborator-modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="first-name">{{ 'Name' | translate }}</label>
          </div>

          <div class="column-input">
            <input class="half-input" type="text" id="first-name" data-qa="first-name" name="firstName" placeholder="{{ 'First' | translate }}"
                   ng-model="collabCtrl.collaborator.firstName"
                   ng-disabled="collabCtrl.isSaving">
            <input class="half-input" type="text" id="last-name" data-qa="last-name" name="lastName" placeholder="{{ 'Last' | translate }}"
                   ng-model="collabCtrl.collaborator.lastName"
                   ng-disabled="collabCtrl.isSaving">
          </div>
        </li>

        <li class="modal-input-item">
          <div class="column-label">
            <label for="email">{{ 'Email' | translate }}</label>
          </div>

          <div class="column-input">
            <cleo-autocomplete
                autocomplete="collabCtrl.autocomplete"
                autocomplete-choices="collabCtrl.potentialCollaborators"
                autocomplete-validate-choice="collabCtrl.validateChoice"
                autocomplete-filter-input-name="email"
                autocomplete-multi-select="false"
                autocomplete-selection="collabCtrl.collaborator.email"
                autocomplete-selection-property="email"
                autocomplete-on-selection="collabCtrl.collaboratorSelected"
                autocomplete-display-choice="collabCtrl.displayCollaborator"
                autocomplete-display-chosen-option="collabCtrl.displayCollaborator"
                autocomplete-display-invalid-choice-reason="collabCtrl.displayInvalidChoiceReason"
                autocomplete-disabled="collabCtrl.isEditing || collabCtrl.isSaving">
            </cleo-autocomplete>
          </div>
        </li>

        <li class="modal-input-item">
          <div class="column-label">
            <label for="company">{{ 'Company' | translate }}</label>
          </div>

          <div class="column-input">
            <input type="text" id="company" data-qa="company" name="company"
                   ng-model="collabCtrl.collaborator.company"
                   ng-disabled="collabCtrl.isSaving">
          </div>
        </li>

        <li class="modal-input-item">
          <limit-access-controls limit-access="collabCtrl.collaboratorForm.limitAccess"
                                 until-date="collabCtrl.collaboratorForm.untilDate"
                                 until-time="collabCtrl.collaboratorForm.untilTime"
                                 disabled-when="collabCtrl.isSaving || !collabCtrl.collaboratorForm.canToggleLimitAccess">
          </limit-access-controls>
        </li>

        <li class="modal-input-item">
          <permissions-for-collaborator
            permissions-schemas="collabCtrl.collaboratorForm.permissionsSchemas"
            permission-schema-selected="collabCtrl.collaboratorForm.permissionsSchema"
            permissions-map="collabCtrl.collaboratorForm.permissionsMap"
            allowed-permissions="collabCtrl.collaboratorForm.allowedPermissions">
          </permissions-for-collaborator>
        </li>

        <li class="modal-input-item" ng-if="!collabCtrl.isEditing">
          <div class="column-label">
            <label for="message">{{ 'Message' | translate }}</label>
          </div>

          <div class="column-input">
            <div class="add-collaborator-message-context"
                 translate
                 translate-comment="John Doe has invited you to collaborate on one or more files uploaded to the folder 'My Folder'!">
              <strong>{{collabCtrl.getCurrentUser() | displayNameOrPartialEmail}}</strong> has invited you to collaborate on one or more files uploaded to the folder '{{collabCtrl.getSelectedShareName()}}'!</div>
            <div char-counter
                 str="collabCtrl.message"
                 max-length="{{::collabCtrl.getMaxMessageLength()}}"
                 data-qa="addCollaborator-message-counter"></div>
            <textarea id="message"
                      class="comment-message"
                      name="message"
                      placeholder="{{'Add personalized content here' | translate}}"
                      ng-model="collabCtrl.message"
                      ng-model-options="{ allowInvalid: true }"
                      ng-trim="false"
                      ng-disabled="collabCtrl.isSaving"
                      data-qa="addCollaborator-message"></textarea>
          </div>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large"
              value="submit"
              ng-disabled="collabCtrl.isSaving"
              data-qa="collab-save-btn">
        <span ng-show="collabCtrl.isSaving" class="spinner spinner-orange"></span>
        {{'Save' | translate}}
      </button>
      <button class="secondary large"
              data-id="close"
              data-qa="close"
              ng-click="collabCtrl.onClose()"
              ng-disabled="collabCtrl.isSaving">
        {{'Cancel' | translate}}
      </button>
    </div>
  </form>
</div>
