<div class="menu" data-qa="collaborators-action-menu">
  <ul class="menu-list">
    <li ng-show="!collabsCtrl.selectedCollab.blocked"
        title="{{collabsCtrl.isDeleteForbidden ? 'No permissions to edit collaborators' : '' | translate}}">
      <a class="menu-item" data-id="edit-collab"
         authorize="MODIFY_COLLABORATORS"
         permissions="collabsCtrl.sharePermissions()"
         is-forbidden="collabsCtrl.isEditForbidden"
         ng-class="{'menu-disabled': collabsCtrl.isEditForbidden}"
         ng-disabled="collabsCtrl.isEditForbidden"
         ng-click="collabsCtrl.onEditCollaborator()">
        <span class="icon menu-edit"></span>
        <span class="menu-label">{{ 'Edit' | translate }}</span>
      </a>
    </li>

    <li title="{{collabsCtrl.isDeleteForbidden ? 'No permissions to delete collaborators' : '' | translate}}">
      <a class="menu-item"
         data-id="delete-collab"
         data-qa="delete-menu-item"
         authorize="MODIFY_COLLABORATORS"
         permissions="collabsCtrl.sharePermissions()"
         is-forbidden="collabsCtrl.isDeleteForbidden"
         ng-class="{'menu-disabled': collabsCtrl.isDeleteForbidden}"
         ng-disabled="collabsCtrl.isDeleteForbidden"
         ng-click="collabsCtrl.onDeleteCollaborator()">
        <span class="icon menu-delete"></span>
        <span class="menu-label">{{'Delete' | translate}}</span>
      </a>
    </li>

    <li ng-show="!collabsCtrl.selectedCollab.blocked && collabsCtrl.selectedCollab.isUnregistered()"
        title="{{collabsCtrl.isResendForbidden ? 'No permissions to resend invites' : '' | translate}}">
      <a class="menu-item"
         authorize="ADD_COLLABORATORS"
         permissions="collabsCtrl.sharePermissions()"
         is-forbidden="collabsCtrl.isResendForbidden"
         ng-class="{'menu-disabled': collabsCtrl.isResendForbidden}"
         ng-disabled="collabsCtrl.isResendForbidden"
         ng-click="collabsCtrl.resendRegistration(collabsCtrl.selectedCollab)">
        <span class="icon menu-share"></span>
        <span class="menu-label">{{'Resend invite' | translate}}</span>
      </a>
    </li>

    <li ng-show="collabsCtrl.selectedCollab.blocked || collabsCtrl.selectedCollab.isUnregistered()">
      <a class="menu-item"
         ng-click="collabsCtrl.onCollabMoreInfoClick(collabsCtrl.selectedCollab, $event)"
         data-qa="additional-info-menu-item">
        <span class="icon menu-icon-add-info"></span>
        <span class="menu-label">{{'Additional info' | translate}}</span>
      </a>
    </li>

  </ul>
</div>