<div ng-controller="CollaboratorsDeleteModalCtrl as collabDeleteCtrl">

  <div class="modal-header">
    <span class="icon modal-delete"></span>
    <h2>Delete collaborators</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close" ng-click="collabDeleteCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>
  <div alert="collabDeleteCtrl.alert" data-id="alert"></div>

  <form>
    <div class="modal-body">
      <p data-id="message">Please confirm you want to delete <strong>{{collabDeleteCtrl.selectedCollab | displayName}}</strong>
        as a collaborator on {{collabDeleteCtrl.shareName}}.</p>
    </div>

    <div class="modal-footer">
      <button class="tertiary large" value="submit"
              ng-click="collabDeleteCtrl.onSubmit()"
              ng-disabled="collabDeleteCtrl.isDeleting">
        <span ng-show="collabDeleteCtrl.isDeleting" class="spinner spinner-orange"></span>
        {{'Delete' | translate}}
      </button>
      <button class="secondary large"
              data-id="close"
              data-qa="close"
              ng-click="collabDeleteCtrl.onClose()"
              ng-disabled="collabDeleteCtrl.isDeleting">
        {{'Cancel' | translate}}
      </button>
    </div>
  </form>
</div>
