<div ng-controller="CustomMessageCtrl as customMessageCtrl">
  <div class="modal-header">
    <span class="icon {{customMessageCtrl.icon}}"></span>

    <h2>{{customMessageCtrl.title}}</h2>
    <a class="modal-close-wrap" data-id="close" data-qa="close" ng-click="customMessageCtrl.onClose()"
       ng-disabled="customMessageCtrl.isSaving">
      <span class="icon modal-close"></span>
    </a>
  </div>
  <div alert="customMessageCtrl.alert" data-id="alert"></div>

  <form data-id="customMessageForm"
        validation-options="customMessageCtrl.formValidationOptions"
        on-submit="customMessageCtrl.onSend()"
        on-valid="customMessageCtrl.onValid()"
        on-invalid-submit="customMessageCtrl.onInvalid()"
        autofocused>
    <div class="modal-body">
      <ul>
        <li>
          <div class="column-input">
            <input type="text"
                   id="subject"
                   name="subject"
                   placeholder="{{ 'Enter subject here' | translate }}"
                   ng-model="customMessageCtrl.subject"
                   data-qa="customMessage-message"
                   ng-disabled="customMessageCtrl.isSaving">
          </div>
        </li>
        <li>
          <div class="column-input">
            <div char-counter str="customMessageCtrl.message"
                 max-length="{{::customMessageCtrl.getMaxMessageLength()}}"
                 data-qa="customMessage-message-counter"></div>
            <textarea id="message"
                      class="comment-message"
                      name="message"
                      placeholder="{{ 'Enter message here' | translate }}"
                      ng-model="customMessageCtrl.message"
                      ng-model-options="{ allowInvalid: true }"
                      ng-trim="false"
                      ng-disabled="customMessageCtrl.isSaving"
                      data-qa="customMessage-message"></textarea>
          </div>
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large" value="submit"
              ng-disabled="customMessageCtrl.isSaving">
        <span ng-show="customMessageCtrl.isSaving" class="spinner spinner-orange"></span>
        {{'Send' | translate}}
      </button>
      <button class="secondary large"
              data-id="close"
              data-qa="close"
              ng-click="customMessageCtrl.onClose()"
              ng-disabled="customMessageCtrl.isSaving">
        {{'Cancel' | translate}}
      </button>
    </div>
  </form>

</div>