<div>
  <div class="column-label">
    <label class="remove-margin" for="folder-name">{{ 'Access' | translate }}</label>
  </div>

  <div class="column-input">
    <label class="text-regular">
      <input type="checkbox"
             data-id="toggle-limit-access"
             data-qa="toggle-limit-access"
             name="limitAccessToggle"
             ng-model="limitAccess"
             ng-disabled="disabledWhen">
      {{ 'Limit access to this folder' | translate }}
    </label>

    <div class="limit-access-options" data-id="limit-access-options"
         ng-show="limitAccess">
      <ul class="form-options">
        <li>
          <label class="secondary-label">{{ 'Until' | translate }}</label>

          <date-picker date="untilDate"
                       validation-name="untilDate"
                       ng-disabled="disabledWhen">
          </date-picker>

          <time-picker class="expired-time"
                       validation-name="untilTime"
                       selected-time="untilTime"
                       ng-disabled="disabledWhen">
          </time-picker>

          <span for="untilDate" class="invalid"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
