<div>
  <div class="column-label">
    <label for="permissions">{{ 'Permissions' | translate }}</label>
  </div>

  <div class="column-input">
    <select2 id="permissions-dropdown"
             class="permissions"
             data-id="permissions"
             data-qa="permissions"
             name="permissions"
             selected="permissionSchemaSelected"
             options="permissionsSchemas">
    </select2>

    <div class="permissions-container"
         data-id="permissions-default"
         data-qa="permissions-default"
         ng-show="permissionSchemaSelected == 'default'">
      <p>{{ 'Upload and Download' | translate }}</p>
    </div>

    <div class="permissions-container"
         data-id="permissions-all"
         data-qa="permissions-all"
         ng-show="permissionSchemaSelected == 'all'">
      <p>{{ 'Upload, Download, Add & edit collaborators, Edit settings, Delete folders & files' | translate }}</p>
    </div>

    <div class="permissions-custom-container"
         data-id="permissions-custom"
         data-qa="permissions-custom"
         ng-show="permissionSchemaSelected == 'custom'">
      <ul class="permissions-list">
        <li class="permissions-item">
          <label class="text-regular">
            <input type="checkbox"
                   name="customPermission"
                   data-qa="upload-cb"
                   ng-model="permissionsMap['UPLOAD_NEW']"
                   ng-disabled="isPermissionDisabled('UPLOAD_NEW')">
            {{ 'Upload files' | translate }}
          </label>
        </li>
        <li class="permissions-item">
          <label class="text-regular">
            <input type="checkbox"
                   name="customPermission"
                   data-qa="download-cb"
                   ng-model="permissionsMap['DOWNLOAD']"
                   ng-disabled="isPermissionDisabled('DOWNLOAD')">
            {{ 'Download files' | translate }}
          </label>
        </li>
        <li class="permissions-item">
          <label class="text-regular">
            <input type="checkbox"
                   name="customPermission"
                   data-qa="edit-folder-cb"
                   ng-model="permissionsMap['MODIFY_CONFIGURATION']"
                   ng-disabled="isPermissionDisabled('MODIFY_CONFIGURATION')">
            {{ 'Edit folder settings' | translate }}
          </label>
        </li>
        <li class="permissions-item">
          <label class="text-regular">
            <input type="checkbox"
                   name="customPermission"
                   data-qa="delete-content-cb"
                   ng-model="permissionsMap['DELETE_SHARE_OBJECTS']"
                   ng-disabled="isPermissionDisabled('DELETE_SHARE_OBJECTS')">
            {{ 'Delete folder content' | translate }}
          </label>
        </li>

      </ul>

      <ul class="permissions-list">
        <li class="permissions-item">
          <label class="text-regular">
            <input type="checkbox"
                   name="customPermission"
                   data-qa="delete-folder-cb"
                   ng-model="permissionsMap['DELETE_SHARE']"
                   ng-disabled="isPermissionDisabled('DELETE_SHARE')">
            {{ 'Delete folder' | translate }}
          </label>
        </li>
        <li class="permissions-item">
          <label class="text-regular">
            <input type="checkbox"
                   name="customPermission"
                   data-qa="add-collaborators-cb"
                   ng-model="permissionsMap['ADD_COLLABORATORS']"
                   ng-disabled="isPermissionDisabled('ADD_COLLABORATORS')">
            {{ 'Add collaborators' | translate }}
          </label>
        </li>
        <li class="permissions-item">
          <label class="text-regular">
            <input type="checkbox"
                   name="customPermission"
                   data-qa="modify-collaborators-cb"
                   ng-model="permissionsMap['MODIFY_COLLABORATORS']"
                   ng-disabled="isPermissionDisabled('MODIFY_COLLABORATORS')">
            {{ 'Modify collaborators' | translate }}
          </label>
        </li>

      </ul>
    </div>
    <span for="customPermission" class="invalid"></span>
  </div>
</div>
