@import "../_img.scss";
@import "table.scss";
@import "tabsheet.scss";

@mixin widgets {
    @include table;
    @include tabsheet;
    
    .v-widget,
    input, 
    input[type="text"], 
    input[type="password"], 
    input[type="search"], 
    input[type="reset"], 
    select, 
    textarea,
    isindex,
    tr {
        font-size: $font-size;
        line-height: $line-height;
    }
    
    .v-widget {
        &.v-layout,
        &.v-splitpanel-horizontal,
        &.v-splitpanel-vertical,
        &.v-table,
        &.v-tabsheet {
            font-size: 0;
            line-height: 0;
        }
    }
    
    input, 
    input[type="text"], 
    input[type="password"], 
    input[type="search"], 
    input[type="reset"], 
    select, 
    textarea,
    isindex {
        margin: 0;
        border: 1px solid $pewter;
        padding: .25ex .25em;
        
        .v-generated-body &:focus {
            border-color: $cleo-blue-light-1;
            outline: none;
        }
    }
    
    /* Extra room for button */
    .v-filterselect .v-filterselect-input[type="text"] {
    	padding-right: 1.3em;
    }
    
    .cleo-path {
        .cleo-arrowhead,
        .cleo-home {
            width: 2em;
            height: 2em;
        }
        
        .cleo-folder {
            line-height: 2;
        }
    }
    
    .tokentextfield  {
        position: relative; 
        
        > .v-layout {
            margin-bottom: 2em;
            max-height: 12em;
            overflow-y: auto;
            
            > .v-filterselect {
                position: absolute;
                bottom: 0;
                left: 0;
                padding-right: 0;
                background: transparent;
                
                > .v-filterselect-input {
                    background: white;
                }
            }
        }
    }
    
    .unread.v-popupbutton{
        border: none;
        background: transparent;
        box-shadow: none;
        position: relative;
        
        > .v-nativebutton-caption {
            position: absolute;
            top: -1ex;
            right: -1ex;
            font-size: $font-size-caption;
            width: 2em;
            line-height: 2;
            background-color: $cleo-yellow;
            color: $asphalt;
            border-radius: 50%;
        }
    }
    
    .v-button:not(.link) {
        padding: 2px 2ch;
    }
    
    .v-ie & .v-button-caption,
    .v-ff & .v-button-caption {
        vertical-align: bottom;
    }
    
    .v-button.link {
        display: inline-block;
        
        > .v-button-wrap {
            display: block;
            padding: .5ex;
            line-height: 0;
            
            > .v-button-caption {
                margin-left: -.5ex;
                
                &:empty {
                    display: none;
                }
            }
        }
    }
    
    .search_component.v-csslayout,
    .unread.v-button {
        font-size: $font-size;
        padding: .5ex;
    }
    
    .search_component.v-csslayout {
        .v-button {
            padding: .5ex;
            background: transparent;
            border-color: transparent;
            margin-left: .25em;
            padding-bottom: 0;
            
/*            .v-button-wrap {
                display: block;
                height: $font-size;
                width: $font-size;
                
                .v-icon {
                    display: block;
                }
            }*/
        }
    }
    
    .v-button,
    .v-nativebutton,
    .v-filterselect-no-input > .v-filterselect-input {
        cursor: pointer;
        
        
        &.cleo-button-img {
            margin-top: 1ex;
            
            .v-button-wrap {
                position: relative;
                padding: 0;
                font-size: 22px;//$font-size-heading;
                
                .v-icon {
                    width: 100%;
                    height: auto;
                    padding: 3ex 1em 1ex;
                    box-sizing: border-box;
                }
                
                .v-button-caption {
                    position: absolute;
                    top: 0;
                    left: 1em;
                    right: 1em;
                    margin: 0;
                    text-align: center;
                    text-decoration: none;
                    font-weight: bolder;
                }
            }
        } 
        
        .v-icon {
            width: 14px;
            height: 14px;
            margin-right: 0;
        }  
    }
    
    .cleo-button-profile-image.v-button,
    .unread.v-nativebutton {
        .v-icon {
            width: $font-size-heading;
            height: $font-size-heading;
        }
    }
    
    .cleo-button-profile-image.v-popupbutton {
        .v-button-caption {
            padding: 0 .25ch 0 .5ch;
            vertical-align: middle;
        }
        
        .v-popup-indicator {
            background-position: -7px -12px;
        }
    }
    
    .v-button:not(.link),
    .v-filterselect-no-input > .v-filterselect-input {
        border-radius: 2px;
        border: 1px solid $pewter;
        background-color: $pewter;
        color: white;
    }
    
    .v-button:not(.link).cleo-primary,
    .v-filterselect-no-input > .v-filterselect-input {
        border-color: $cleo-blue;
        background-color: $cleo-blue;
    } 
    
    .v-filterselect > .v-filterselect-input {
        font-size: $font-size;
        margin-right: -1.25em;
    }  
    
    .tokentextfield .v-button {
        .v-icon {
            width: $font-size;
            height: $font-size;
        }
    }
    
    .v-filterselect {
        padding: 0;
        
        &.v-filterselect-no-input {
            position: relative;
            
            > .v-filterselect-button {
                position: absolute;
                right: 0;
                /*margin: 0;*/
                margin: .75ex 0 0 -1em;
                /*margin-left: -1em;*/
            }
        }
        
        > .v-filterselect-button {
            margin-top: .75ex;
            background-position: -7px -11px;
        }
    }
    
    .cleo-table-header .v-filterselect {
        margin-right: 1em;
    }
    
    .v-popupbutton {
        @extend .cleo-primary;
    }
    
    .v-popupbutton,
    .v-filterselect-no-input > .v-filterselect-no-input {
        text-align: left;
    }
    
    .v-popupbutton {
        .v-popup-indicator {
            background-position: -7px -10px;
        }
    }
    
    .v-ie & .v-filterselect.v-filterselect-no-input > .v-filterselect-button,
    .v-ff & .v-filterselect.v-filterselect-no-input > .v-filterselect-button {
        /*background-position: -5px -9px;*/
        /*margin: 0.25ex 0 0 -1em;*/
        margin: 0.75ex 0 0 -1em;
        position: absolute;
        right: 0.5ch;
    }
    
    .v-popupbutton-popup {
        background: white;
    }
    
    .v-contextmenu {
        @extend .v-popupbutton-popup;
        border-radius: 3px;
        padding: .5ex 0;
        
        .gwt-MenuItem {
            > div {
                padding: .5ex 1em;
            }
            
            &.gwt-MenuItem-selected > div {
                background-color: $highlight-color;
                color: $font-color;
            }
        }
    }
    
    input + label {
        margin-left: .75ch;
    }
    
    .v-customcomponent {
        overflow: visible;
    }
    
    .v-window {
        background-color: transparent;
        
        .v-window-wrap {
            background-color: white;
            overflow: hidden;
            
            > .v-window-outerheader {
                background-color: $cleo-blue;
                color: white;
                height: auto;
                padding: 0;
                
                .v-window-header {
                    padding: 1ex 2em .5ex 1em;
                }
            }
            
            > .v-window-closebox,
            > .v-window-restorebox,
            > .v-window-maximizebox {
                width: 1.4em;
                height: 1.4em;
                background-color: transparent;
                background-size: 1.3em;
                background-repeat: no-repeat;
                background-position: 0 .1em;
            }
            
            > .v-window-closebox {  
                background-image: $close-button; 
                margin: .5ex;
            }
            
            > .v-window-contents > .v-scrollable {
                overflow-x: hidden;
                
                > .v-verticallayout {
                    &.v-margin-top {
                        padding-top: $margin-full;
                    }
                    
                    &.v-margin-bottom {
                        padding-bottom: $margin-half;
                    }
                    
                    > .v-spacing {
                        height: $margin-full;
                    }
                }
            }
        }
    }
    
    .v-window-wrap,
    .v-tooltip,
    .v-Notification {
        border-radius: 3px;
    }
    
    .v-tooltip,
    .v-Notification {
        color: white;
        padding: 1ex 1em;
    }
    
    .v-tooltip {
        background-color: $asphalt;
        font-size: $font-size-caption;
    }
    
    .v-Notification {
        font-size: $font-size-subheading;
        opacity: 1 !important;
        -webkit-box-shadow: 0px .5ex 1em $pewter;
        -moz-box-shadow: 0px .5ex 1em $pewter;
        box-shadow: 0px .5ex 1em $pewter;
        background-color: $cleo-blue;
        
        &.error,
        &.system {
            background-color: $cleo-red;
        }
        
        &.warning {
            background-color: $cleo-orange;
        }
        
        &.tray {
        
            font-size: $font-size;
            top: 25px !important;
            bottom: auto !important;
            
            left: 0 !important;
            right: 0 !important;
        
        	display: block;
        	max-width: none;
        	margin-left: none;
        	margin-right: none;
        	
        	text-align: center;
        	
        	
        	background: none;
           	webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
        	
        	.popupContent {
        		text-align: left;
        		background-color: $cleo-green;  
        		display: inline-block;
           		max-width: 75%;
           		webkit-box-shadow: 0px 0.5ex 1em rgb(129, 129, 124); 
				-moz-box-shadow: 0px 0.5ex 1em rgb(129, 129, 124);
				box-shadow: 0px 0.5ex 1em rgb(129, 129, 124); 
				
				padding: 20px;
				border-radius: 3px;
        	}
        
        
        }
        
        &.tray,
        &.system {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        
        h1 {
            font-size: $font-size-heading;
            display: block;
        }
        
        p {
            font-size: $font-size-subheading;
            display: block;
        }
    }
}