@import "../_img.scss";

@mixin row-icon($image) {
  content: "";
  display: inline-block;
  float: right;
  width: 2em;
  height: 2em;
  margin-right: -2em;
  margin-top: -1.1ex;
  background-position: 0;
  background-size: 2em;
  background-repeat: no-repeat;
  background-image: $image;
}

@mixin table {
  .v-table-row,
  .v-table-row-odd {
    &:hover {
      background-color: $highlight-color;
    }
    
    &.v-selected {
      background-color: $selection-color;
    }
    
    .v-label {
      cursor: pointer;
    }
    
    .v-image {
      width: 2em;
      height: 2em;
    }
  }
  
  .cleo-layout-discussions {
    .v-table-row,
    .v-table-row-odd {
      .v-label {
        cursor: auto;
      }
      
      &.v-selected {
        color: $asphalt;
      }
    }
  }

    .v-table-body {
    border: none;
  }

  .v-table-caption-container {
    margin-left: .4em;
    padding: 1ex 0;
  }
  
  .v-table-sort-indicator {
    margin-top: 1ex;
  }

  .v-table-cell-content {
    border-right: none;
    padding: 1ex .5em;
  }
  
  /* align headers to left even if content is to right */
  .v-table-caption-container-align-right {
  	text-align: left;
        float: left;
  }
  
  .cleo-layout-discussions .v-table .v-table-cell-content {
    padding: 1ex 0;
  }

  .v-table-header-wrap {
    background-color: transparent;
    color: $caption-color;
    font-weight: bolder;
    border: none;
  }
  
  .v-table-resizer {
    background: $pewter;
    height: 2em;
    border: 2px solid white;
    margin-right: -1px;
  }
 
  .v-table-row {
    background-color: $table-stripe;
  }
  
  .cleo-treetable-shareentity,
  .cleo-tree-contactsgroup,
  .cleo-layout-discussions .v-table {
    .v-table-row,
    .v-table-row-odd {
      background-color: transparent;
    }
  }

  .cleo-treetable-shareentity,
  .cleo-tree-contactsgroup {
    .v-table-row,
    .v-table-row-odd {
      background-color: transparent;

      :hover {
        background-color: $highlight-color;
      }
      
      &.v-selected {
        background-color: $selection-color;
      }
    }
  }
  
  .v-table-row,
  .v-table-row-odd {
  
  	/* aligns text without icon on the same level as icons */
/*    > .v-table-cell-content-share > .v-table-cell-wrapper {
		margin-left: 0.4em !important;
	}*/
  
    &.v-table-row-share,
    &.v-table-row-sharegroup {
      .v-table-cell-wrapper {
        overflow: visible;
        margin-left: 2em;
      
        > .v-treetable-treespacer {
          margin-top: -.4ex;

          &.v-treetable-node-closed,
          &.v-treetable-node-open {
            margin-left: -2em;
          }
        }
      }
          
      &.v-drag-element {
        .v-table-cell-wrapper {
          > .v-treetable-treespacer {
            margin: 0;
            margin-top: .5ex;
            margin-left: .5em;
          }
        }
      }
    }
    
    &.v-table-row-share {
      .v-table-cell-wrapper {
        > .v-treetable-treespacer {
          background-image: none;
          
          &:before {
            @include row-icon($share-blue);
            margin-right: 0;
          }
        }
      }
    }
    
    &.v-table-row-sharegroup {
      .v-table-cell-wrapper {
        > .v-treetable-node-closed,
        > .v-treetable-node-open {
          &:before {
            @include row-icon($share-group-blue);
          }          
        }
      }
    }    
  }
  
  .cleo-layout-discussions {
    .v-table-cell-wrapper {
      margin-right: 0 .5em;
    }
  }
  
  .cleo-layout-trash-sidebar {
    .v-button:not(.link) {
      border-radius: 0;
      background-color: white;
      border-color: white;
      color: $asphalt;
      font-size: $font-size-heading;
      position: relative;
      
      &:focus,
      &:hover {
        outline: none;
        background-color: $highlight-color;
        border-color: $highlight-color;
      }
      
      &.selected {
        background-color: $selection-color;
        border-color: $selection-color;
        color: white;
      }
      
      > .v-button-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;    
        width: 100%;
        height: 50%;
        margin: auto auto 0;
        
        > .v-button-caption {
          line-height: 0;
          vertical-align: top;
        }
      }
    }
  }
}