@mixin tabsheet {
  .v-tabsheet-content {
    border: none;
  }

  .v-tabsheet-deco {
    background: transparent;
  }

  .v-tabsheet-spacertd div {
    border: none;
  }

  .v-tabsheet-tabitem {
    border: none;
    font-weight: bolder;

    &.v-tabsheet-tabitem-selected {
      color: $font-color;
    }
  }

  .cleo-menu-bar.v-menubar {
    font-size: $font-size-heading;
    line-height: 1;

    .v-menubar-menuitem {
      font-size: $font-size-heading;
    }
  }

  .v-tabsheet-tabcontainer {
    background-color: $table-stripe;
    
    tr {
      line-height: 1;
    }
  }

  .cleo-menu-bar,
  .v-tabsheet-tabcontainer {
    font-weight: bolder;
    padding: 0 1ex;

    .v-menubar-menuitem,
    .v-tabsheet-tabitem {
      cursor: pointer;
      padding: 1ex;
      background-color: transparent;

      &.v-menubar-menuitem-cleo-menu-item-selected,
      &.v-tabsheet-tabitem-selected {
        background-color: white;
        color: $font-color;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-top: 2px;
      }

      &.v-menubar-menuitem-cleo-menu-item-selected,
      &.v-tabsheet-tabitem-selected {
        pointer: default;
      }
    }
  }
}