<!DOCTYPE html>
<html ng-controller="AppCtrl as appCtrl" id="{{appCtrl.viewId()}}">
  <head favicon favicon-src="'images/logos/favicon.ico'">
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic" rel="stylesheet">
    <link rel="shortcut icon" href="images/logos/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE">
    <title>Cleo Unify &amp; Trust</title>

    <script src="mobileRedirect.js"></script>
    <script>
      MobileHelper.tryRedirectToApp(); // if the app redirection happened, the page won't load scripts below this point
    </script>

    <!--[if lt IE 9]>
      <script src="ie.js"></script>
    <![endif]-->
    <script>
      var File = { uploadWorkerPath: 'uploadWorker.js' };
    </script>
  </head>

  <body id="main-body"
        ng-class="{'modal-open': appCtrl.modal.isOpen}"
        drag-and-drop
        drag-and-drop-can-do-drop="false"
        drag-and-drop-can-do-alt-drop="false">

  <div modal></div>

  <div id="application-ready" ui-view="header" class="ng-cloak"></div>
  <div ui-view="mainContent"
       class="container"
       ng-class="{
           'page-container': appCtrl.viewId() === 'home',
           'full-height': appCtrl.viewId() === 'login'
         }">
  </div>

  <div id="noDropIndicator" class="no-drop-indicator hide">
    <span class="icon no-drop"></span>
  </div>

  <script src="require.js"></script>
  <script src="main.js"></script>
  <script>
    require(['scripts/appMain']);
  </script>
  </body>
</html>
