<!DOCTYPE html>
<html id="login">
  <head favicon favicon-src="'images/logos/favicon.ico'">
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic" rel="stylesheet">
    <link rel="shortcut icon" href="images/logos/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE">
    <title>Cleo Unify &amp; Trust</title>

    <!--[if lt IE 9]>
      <script src="ie.js"></script>
    <![endif]-->
  </head>

  <body id="main-body"
        ng-controller="SignInCtrl as signIn"
        ng-class="{'modal-open': signIn.modal.isOpen}">

  <div modal></div>

  <div class="login-box">
    <div class="login-box-inner" >
      <img src="images/logos/logo-dark.png" class="logo-blue"/>

      <form id="login-ready" class="login-form ng-cloak" ng-submit="signIn.onLogInClick()">
        <div alert="signIn.alert" ng-init="signIn.onAlertInit()"></div>

        <div class="input-wrap">
          <input class="login-username" ng-model="signIn.email" id="username" type="text" name="username" placeholder="{{'Email' | translate}}">
          <span class="icon login-email"></span>
        </div>

        <div class="input-wrap">
          <input class="login-password" ng-model="signIn.p" id="password" type="password" name="password" placeholder="{{'Password' | translate}}">
          <span class="icon login-password"></span>
        </div>

        <button class="full-width" type="submit" value="Submit" data-qa="login-submit">
          <span ng-show="signIn.loginState.isLoggingIn" class="login-spinner" data-id="login-spinner"></span>
          <span>{{signIn.loginState.isLoggingIn ? 'Loading' : 'Login' | translate}}</span> <!--TODO THIS TERNARY EXPRESSION COULD CAUSE A PROBLEM FOR THE GETTEXT COMPILER-->
        </button>
        <a class="forgot-password" ng-click="signIn.onForgotPasswordClick()">{{'Forgot your password?' | translate}}</a>
      </form>
    </div>
  </div>

  <script src="require.js"></script>
  <script src="loginMain.js"></script>
  <script>
    require(['scripts/login/loginMain']);
  </script>
  </body>
</html>
