<div ng-controller="ConfigureAliasModalCtrl as configureAliasCtrl">
  <div class="modal-header">
    <span class="icon {{configureAliasCtrl.icon}}"></span>

    <h2>{{configureAliasCtrl.title}}</h2>
    <a class="modal-close-wrap"
       data-id="close"
       data-qa="close"
       ng-disabled="configureAliasCtrl.isSaving"
       ng-click="configureAliasCtrl.onClose()">
      <span class="icon modal-close"></span>
    </a>
  </div>

  <div alert="configureAliasCtrl.alert" data-id="alert"></div>

  <div ng-show="configureAliasCtrl.defaultAliasClashing" class="modal-subheader" data-id="modalSubheader">
    <p>
      {{ 'The folder you are making accessible via multi-protocol uses a name already in use by a different folders. To avoid errors, the below "Multi-Protocol Alias" will be used to reference this folder when accessing it via various protocols' | translate }}
    </p>
  </div>

  <form validation-options="configureAliasCtrl.validationOptions"
        on-valid="configureAliasCtrl.onValid()"
        on-invalid-submit="configureAliasCtrl.onInvalidSubmit()"
        on-submit="configureAliasCtrl.onSave()"
        autofocused>
    <div class="modal-body">
      <ul class="modal-inputs">
        <li class="modal-input-item">
          <div class="column-label">
            <label for="ftpLocallyEnabled">{{'Enable' | translate}}</label>
          </div>

          <div class="column-input">
            <input type="checkbox"
                   class="enable-ftp-checkbox"
                   ng-model="configureAliasCtrl.ftpSettings.ftpLocallyEnabled"
                   id="ftpLocallyEnabled"
                   name="ftpLocallyEnabled">
          </div>
        </li>

        <li class="modal-input-item">
          <div class="column-label">
            <label for="alias">{{'Multi-Protocol Alias' | translate}}</label>
          </div>

          <div class="column-input">
            <span ng-show="configureAliasCtrl.isLoading" class="spinner spinner-orange"></span>
            <div ng-show="!configureAliasCtrl.isLoading" >
              <div ng-hide="configureAliasCtrl.usingCustomAlias">
                <p class="not-input">{{configureAliasCtrl.ftpSettings.alias}}</p>
                <a class="ftp-alias-toggle-link"
                   ng-class="{disabled: !configureAliasCtrl.ftpSettings.ftpLocallyEnabled}"
                   ng-click="configureAliasCtrl.useCustomAlias()">
                  <span>{{ 'I wish to specify my own alias' | translate }}</span>
                </a>
              </div>
              <div ng-show="configureAliasCtrl.usingCustomAlias">
                <input type="text" id="alias" name="alias"
                       ng-disabled="!configureAliasCtrl.ftpSettings.ftpLocallyEnabled"
                       ng-model="configureAliasCtrl.ftpSettings.alias"
                       placeholder="{{configureAliasCtrl.defaultAlias}}">
                <a class="ftp-alias-toggle-link"
                   ng-class="{disabled: !configureAliasCtrl.ftpSettings.ftpLocallyEnabled}"
                   ng-click="configureAliasCtrl.useDefaultAlias()">
                  <span>{{ 'Use default alias' | translate }}</span>
                </a>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="modal-footer">
      <button class="primary large" value="submit" ng-disabled="configureAliasCtrl.isSaving">
        <span ng-show="configureAliasCtrl.isSaving" class="spinner spinner-orange"></span>
        {{'Save' | translate}}
      </button>
      <button class="secondary large" data-id="close" data-qa="close" ng-click="configureAliasCtrl.onClose()" ng-disabled="configureAliasCtrl.isSaving">{{'Cancel' | translate}}</button>
    </div>
  </form>
</div>
