<section class="settings-tile"
         ui-sref="{{targetState}}"
         data-qa="tile-{{sectionName}}">
  <div class="settings-tile-icon-wrap">
    <span class="settings-tile-icon {{icon}}"></span>
  </div>
  <div class="settings-tile-info">
    <h3 title="{{tileModel.title}}">{{tileModel.title}}</h3>
    <h4 title="{{tileModel.primaryDescription}}">{{tileModel.primaryDescription}}</h4>
    <h4 title="{{tileModel.secondaryDescription}}">{{tileModel.secondaryDescription}}</h4>
    <h4 title="{{tileModel.tertiaryDescription}}">{{tileModel.tertiaryDescription}}</h4>
    <h4 ng-show="tileModel.isLoading">
      {{'Loading' | translate }}
      <span ng-show="tileModel.isLoading" class="spinner spinner-orange"></span>
    </h4>
  </div>
</section>
