<header class="app-header" data-qa="admin-header">
  <div class="container">
    <section class="app-header__logo col col-1-12" data-id="app-header">
      <img src="images/logos/logo-light.png" class="logo"/>
    </section>
    <section class="col col-4-12">
      <span class="admin-title" data-qa="admin-title">{{'Administration' | translate}}</span>
    </section>
    <div class="col col-7-12">
      <section profile class="app-profile pull-right" data-id="profile-nav" data-qa="profile-nav">
      </section>
    </div>
  </div>
</header>
