<div ng-controller="UserDetailCtrl as userDetCtrl" class="full-height" data-qa="user-detail">

  <div alert="userDetCtrl.alert"></div>

  <div class="settings-tab-detail">
    <div class="breadcrumb" data-qa="eum-breadcrumb">
      <a ui-sref="^">{{ 'Users' | translate }}</a>
      <span class="divider">&gt;</span> <a ui-sref="^.users">{{'All Users' | translate}}</a>
      <span class="divider">&gt;</span> {{ userDetCtrl.breadcrumbTitle }}
    </div>

    <!-- User data container -->
    <div class="user-detail-container">
      <div class="user-detail-heading">
        <span class="icon admin-user-detail"></span>
        <div class="user-detail-heading__status">
          <span class="user-detail-heading__status-icon icon user-status-{{userDetCtrl.user.getStatus() | lowercase}}"></span>
          <span class="user-detail-heading__status-name">{{userDetCtrl.user.getStatus() | uppercase}}</span>
        </div>
        <div class="user-detail-heading__name col col-offset-1-8">
          <h2 data-qa="user-detail-name" class="user-detail-name">
            {{ userDetCtrl.user || userDetCtrl.loadingOrNotAvailable() | displayName }}
          </h2>
          <h4>
          <span class="user-detail-email" data-qa="user-detail-email">
              <a ng-href="mailto:{{ userDetCtrl.user.email }}">
                {{ userDetCtrl.user.email || userDetCtrl.loadingOrNotAvailable() }}
              </a>
          </span>
          </h4>
        </div>
        <div class="user-detail-heading__actions">
          <button class="icon button-unblock"
                  ng-show="userDetCtrl.user.blocked"
                  ng-disabled="userDetCtrl.isCurrentUser()"
                  ng-click="userDetCtrl.onToggleBlockClick(false)"
                  title="{{userDetCtrl.isCurrentUser() ? ('You cannot unblock yourself' | translate) : ('Unblock User' | translate)}}"
                  data-qa="user-detail-unblock"></button>
          <button class="icon button-block"
                  ng-show="!userDetCtrl.user.blocked"
                  ng-disabled="userDetCtrl.isCurrentUser()"
                  ng-click="userDetCtrl.onToggleBlockClick(true)"
                  title="{{userDetCtrl.isCurrentUser() ? ('You cannot block yourself' | translate) : ('Block User' | translate)}}"
                  data-qa="user-detail-block"></button>
          <button class="icon button-delete"
                  ng-disabled="userDetCtrl.isCurrentUser() || userDetCtrl.isLDAPUser()"
                  ng-click="userDetCtrl.onDeleteClick()"
                  title="{{userDetCtrl.isCurrentUser() ? ('You cannot delete yourself' | translate) : (userDetCtrl.isLDAPUser() ? ('LDAP users cannot be deleted' | translate) : ('Delete User' | translate))}}"
                  data-qa="user-detail-delete"></button>
        </div>
      </div>
      <div class="user-detail-titled-section col col-3-8 col-offset-1-8">
        <ul>
          <li>
            <strong>{{ 'Account type' | translate }}</strong>
            <span class="user-detail-value"
                  title="{{userDetCtrl.isCurrentUser() ? ('You cannot change your own type' | translate) : ''}}"
                  data-qa="user-detail-account-type">
              <label>
                <input type="radio"
                       ng-disabled="userDetCtrl.isLoading || userDetCtrl.isSaving || userDetCtrl.isCurrentUser()"
                       ng-model="userDetCtrl.external"
                       ng-value="false"
                       data-qa="user-detail-account-type-internal"/>
                {{'Internal' | translate}}
              </label>
              <label>
                <input type="radio"
                       ng-disabled="userDetCtrl.isLoading || userDetCtrl.isSaving || userDetCtrl.isCurrentUser()"
                       ng-model="userDetCtrl.external"
                       ng-value="true"
                       data-qa="user-detail-account-type-external"/>
                {{'External' | translate}}
              </label>

              <span
                      class="icon tooltip"
                      title="{{userDetCtrl.getInternalExternalToolTip()}}">
                  <span class="sr-only">{{userDetCtrl.getInternalExternalToolTip()}}</span>
              </span>
            </span>
          </li>
          <li>
            <strong>{{ 'Invited by' | translate }}</strong>
            <span class="user-detail-value" data-qa="user-detail-invited-by" ng-switch="!!userDetCtrl.user.inviterEmail">
              <a ng-switch-when="true" ui-sref="^.userDetail({email: userDetCtrl.user.invitedBy})">{{::
                userDetCtrl.user.invitedBy}}</a>
              <span ng-switch-when="false">{{ userDetCtrl.user.invitedBy || userDetCtrl.loadingOrNotAvailable() }}</span>
            </span>
          </li>
          <li>
            <strong>{{ 'Has invited' | translate }}</strong>
            <span class="user-detail-invitees user-detail-value" data-qa="user-detail-invitee-count"
                  ng-switch="userDetCtrl.user.inviteeCount > 0">
              <a ui-sref="^.userInvitees({email: userDetCtrl.user.email})" ng-switch-when="true">
                {{ userDetCtrl.user.inviteeCount | pluralize: 'invitee' }}
                <i class="icon icon-user-user"></i>
              </a>
              <span ng-switch-when="false">{{ userDetCtrl.user.inviteeCount | pluralize: 'invitee' }}</span>
            </span>
          </li>
        </ul>
      </div>

      <div class="user-detail-titled-section col col-3-8 col-offset-5">
        <ul>
          <li>
            <strong>{{ 'Last logged in' | translate }}</strong>
                <span class="user-detail-value" data-qa="user-detail-last-login">
                {{ userDetCtrl.user.lastLogin | asMediumTimestamp | orNever }}
                </span>
          </li>
        </ul>
      </div>

      <div class="clear"></div>
      <div class="user-detail-titled-section col col-3-8 col-offset-1-8">
        <h4>{{ 'IPs this user has accessed Unify from' | translate }}</h4>
        <div>
          <table data-qa="user-detail-ips" class="user-detail-ips">
            <tr ng-repeat="ip in userDetCtrl.user.ips">
              <td>{{ ip.ip }}</td>
              <td>{{ ip.count | pluralize: 'time' }}</td>
              <td>{{ ip.date | asMediumTimestamp }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="user-detail-titled-section col col-3-8 col-offset-5">
        <h4>{{ 'Folders this user can access' | translate }}</h4>
        <div class="user-detail-folders">
          <table data-qa="user-detail-accessible-objects" class="user-detail-folder">
            <tr ng-repeat="accessibleObject in userDetCtrl.user.accessibleObjects track by $index">
              <td>
                <span class="icon folder"></span>
                <span title="{{ accessibleObject }}">{{ accessibleObject }}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

   <footer class="settings-footer">
     <button class="primary large"
             ng-disabled="userDetCtrl.isLoading || !userDetCtrl.isDirty() || userDetCtrl.isSaving"
             ng-click="userDetCtrl.onSave()"
             data-qa="user-detail-save-btn">
       <span ng-show="userDetCtrl.isSaving" class="spinner spinner-orange"></span>
       {{ 'Save' | translate }}
     </button>

     <button class="secondary large"
             ng-disabled="userDetCtrl.isLoading || !userDetCtrl.isDirty() || userDetCtrl.isSaving"
             ng-click="userDetCtrl.onCancel()"
             data-qa="user-detail-cancel-btn">
       {{ 'Cancel' | translate }}
     </button>
   </footer>
</div>
