<div class="full-height" ng-controller="UserInviteesCtrl as userInvCtrl">
  <div class="settings-tab-detail user-settings">
    <div class="breadcrumb" data-qa="eum-breadcrumb">
      <a ui-sref="^">{{ 'Users' | translate }}</a>
      <span class="divider">&gt;</span> <a ui-sref="^.users">{{'All Users' | translate}}</a>
      <span class="divider">&gt;</span> <a ui-sref="^.userDetail({email: userInvCtrl.user.email})">{{ userInvCtrl.user | displayName}}</a>
      <span class="divider">&gt;</span> {{(userInvCtrl.user | displayName) + '\'s Invitees' | translate}} ( <span ng-show="eumCtrl.selectedUsers.count()">{{eumCtrl.selectedUsers.count() + ' of ' + userInvCtrl.user.inviteeCount + ' selected' | translate}}</span><span ng-hide="eumCtrl.selectedUsers.count()">{{userInvCtrl.user.inviteeCount}}</span> )

      <div class="button-array" data-qa="eum-button-array">
        <span ng-hide="eumCtrl.selectedUsers.count()" class="none-selected">( Select users to block, unblock, or delete )</span>
        <button class="icon button-unblock"
                title="{{eumCtrl.selectedUsers.count() > 1 ? ('Unblock Users' | translate) : ('Unblock User' | translate)}}"
                ng-show="eumCtrl.anySelectedAndBlocked"
                ng-click="eumCtrl.setBlockedForSelected(false)"
                data-qa="eum-button-unblock"></button>
        <button class="icon button-block"
                title="{{eumCtrl.selectedUsers.count() > 1 ? ('Block Users' | translate) : ('Block User' | translate)}}"
                ng-show="eumCtrl.anySelectedAndUnblocked"
                ng-click="eumCtrl.setBlockedForSelected(true)"
                data-qa="eum-button-block"></button>
        <button class="icon button-delete"
                title="{{eumCtrl.selectedUsers.count() > 1 ? ('Delete Users' | translate) : ('Delete User' | translate)}}"
                ng-show="eumCtrl.selectedUsers.count()"
                ng-click="userInvCtrl.onDeleteClick()"
                data-qa="eum-button-delete"></button>
      </div>
    </div>
    <!--Invited tables -->

    <table class="user-detail-invitees-header" data-qa="user-detail-invitees-headers">
      <thead>
      <tr>
        <td class="col-xsm"></td>
        <th class="col-sm" data-qa="status-header">{{'Status' | translate}}</th>
        <th class="col-lg" data-qa="email-header">{{'Invitee' | translate}}</th>
        <th class="col-md" data-qa="invited-at-header">{{'Invited on' | translate}}</th>
        <th class="col-lg" data-qa="latest-ip-header">{{'Last IP' | translate}}</th>
        <th class="col-lg" data-qa="last-login-header">{{'Last login' | translate}}</th>
        <th class="col-sm" data-qa="access-to-header">{{'Access to' | translate}}</th>
      </tr>
      </thead>
    </table>

    <div class="user-detail-invitees-container">
      <table data-qa="user-detail-invitees">
        <tbody>
        <tr ng-repeat="invitee in userInvCtrl.user.invitees"
            ng-click="eumCtrl.onUserRowClick(invitee, $event)"
            ng-class="{'is-selected': invitee.isSelected}"
            data-qa="user-detail-invitee-row"
            data-qa-invitee-email="{{invitee.email}}">
          <td class="col-xsm">
            <input type="checkbox" ng-model="invitee.isSelected"/>
          </td>
          <td class="col-sm" data-qa="status-cell">
            <span ng-show="!invitee.isSaving" class="icon user-status-{{invitee.getStatus() | lowercase}}" title="{{invitee.getStatus()}}"></span>
            <span ng-show="invitee.isSaving" class="icon spinner spinner-orange"></span>
            {{ invitee.getStatus() }}

          </td>
          <td class="col-lg ellipsized"
              title="{{::invitee.email}}"
              data-qa="email-cell">
            <a ui-sref="^.userDetail({email: invitee.email})">{{::invitee.email}}</a>
          </td>
          <td class="col-lg" data-qa="invited-at-cell">{{:: invitee.invitedAt | asMediumTimestamp }}</td>
          <td class="col-lg" data-qa="latest-ip-cell">{{:: invitee.latestIp }}</td>
          <td class="col-lg" data-qa="last-login-cell">{{:: invitee.lastLogin | asMediumTimestamp | orNever }}</td>
          <td class="col-sm ellipsized" data-qa="access-to-cell" title="{{::invitee.accessibleObjects}}">{{::invitee.accessibleObjects}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
