<div class="menu" data-qa="admin-action-menu">
  <ul class="menu-list">
    <li>
      <a class="menu-item" data-qa="to-user-app"
         ui-sref="app.unify.files">
        <span class="icon menu-user"></span>
        <span class="menu-label">{{ 'User' | translate }}</span>
      </a>
    </li>

    <li>
      <a class="menu-item" data-qa="to-admin-app"
         ui-sref="settings.summary">
        <span class="icon menu-settings"></span>
        <span class="menu-label">{{'Admin' | translate}}</span>
      </a>
    </li>
  </ul>
</div>