<div ng-show="adminToggle.currentUser.isAdmin" ng-controller="AdminToggleCtrl as adminToggle">
  <span ng-click="adminToggle.onActionMenuClick($event)" data-qa="admin-toggle" class="admin-toggle">
    {{adminToggle.currentState.label | translate}}
    <span class="icon chevron"></span>
  </span>

  <div popover="adminToggle.actionMenu" class="user-toggle-popover" data-qa="admin-toggle-action-menu">
    <ng-include src="'scripts/admin/adminToggle/adminToggleActionMenu.html'"></ng-include>
  </div>
</div>