<div class="alert" ng-class="{ 'alert-success': alert.isSuccess(), 'alert-info': alert.isInfo(), 'alert-warning': alert.isWarning(), 'alert-error': alert.isError() }" ng-show="alert.isOpen">
  <div class="alert-column-icon">
    <span class="icon" ng-class="{ 'alert-success': alert.isSuccess(), 'alert-info': alert.isInfo(), 'alert-warning': alert.isWarning(), 'alert-error': alert.isError() }"></span>
  </div>

  <div class="alert-column-message">
    <p class="alert-message" data-id="alert-message">{{alert.message}}</p>
  </div>

  <div class="alert-column-close">
    <a class="alert-close-wrap" ng-click="alert.close()" data-id="alert-close">
      <span class="icon alert-close"></span>
    </a>
  </div>
</div>
