/* Place your custom style definitions and standard overrides here */

#AjaxSwingScreen {	border: 0px !important;}

body	{background-color:white; margin:0px; padding:0px; overflow:hidden; font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 11px; color: #000; }

table	{font-family: Verdana,Arial,Helvetica,sans-serif; font-size:11px; border:0px; margin:0px; padding:0px; overflow:hidden;}
a				{color:black;text-decoration:none; font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 11px;}
a:link		    {color:black; text-decoration:none; font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 11px;}			
a:visited	    {color:black; text-decoration:none; font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 11px;}
a:active	    {color:black; text-decoration:none; font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 11px;}
a:hover		    {color:#000084; text-decoration:none; font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 11px;}

/* Menu */
.wcPulldownMenu a, a.menuButton	{color:#000; font-weight: normal;}
a.menuButton:hover {color:black;background-color:#cff593; font-size:11px}
.menuEnd	{background-color:#C1D1E0; background-image: url("../../images/ajaxswing/bg_menu_end.gif"); background-repeat:no-repeat; text-align:right}
.menu	{background:#C1D1E0; border-bottom: 1px solid #eee;}
.menuEnd	    {background-image: none;}
.menu td 		{/*height: 18px;*/ padding: 0px 0px 0px 0px;}
a.menuText:hover, a.submenuText:hover, .menuHover {color:black; background-color:#cff593; font-size:11px;}
.wcPulldownMenu {background-color:#C1D1E0; padding: 0px; position: absolute; text-align: left; visibility: hidden; border:1px groove #808080; z-index:100000; }
.wcPulldownMenu a.menuText:hover, .wcPulldownMenu a.submenuText:hover, .menuHover {color:black; background-color:#cff593; font-size:11px;}
.submenuText	{color:black; font-weight:normal; font-size:11px; display: block; margin: 0px; padding: 2px; padding-left: 12px; padding-right: 20px; background-image:url(../../images/ajaxswing/menu_arrow.gif); background-repeat:no-repeat; background-position: center right }

/* Table */
.table		    {font-family:Verdana,Arial,Helvetica,sans-serif; border:0px; margin:0px; padding:0px}
.tableHeader, .tableHeader a, .tableHeader a:link, .tableHeader a:visited, .tableHeader a:active	{color:black; background-color:#eee; vertical-align:top; height:18px; font-size:11px; margin-left:1px; margin-top:1px; border: 0px; font-weight: bold; white-space:nowrap;}
.tableHeader { border-top:none;	border-right:1px solid #999; border-bottom:1px solid #999;	border-left:none;}

.table .row-odd {background: white;}
.table .row-even td, .table .row-even textarea { background: #eaeff4 !important;}

.table td       { border-right:1px solid #999; border-bottom:1px solid #999; }
.tableSelRow	{background-color:#CFF593!important;}
.tableCell		{position:relative; left:0px; top:0px; width:100%; height:100%; margin:0px; padding:0px; }
tr.tableHeader th div span {border: 0px;}
.tableTreeElement {	background: white;}

.ui-tabs-panel .table .row-odd td, .ui-tabs-panel .table .row-even td {background: #eee !important;}
.ui-tabs-panel .table tr .text, .ui-tabs-panel .table tr .choice {background: white !important;}
.ui-tabs-panel .table tr .text[disabled], .ui-tabs-panel .table tr .choice[disabled] {background: transparent !important;}
.table .tableSelRow	*{background-color:#CFF593!important;}


/* List (table-based) */
.listtable		    {}


/* Controls. .button is disabled button, .submit is enabled button */
.label		    {color:black; background-color:transparent; font-size:11px; margin-left:1px; margin-top:1px; display:block;font-family:Verdana,Arial,Helvetica,sans-serif;}
.text		    {color:black; background-color:white; font-size:11px !important; border-width:1px; border-color: #999999 #999999 #999999 #999999; margin:0; padding:0; font-family:Verdana,Arial,Helvetica,sans-serif !important; line-height: 16px;}
.choice		    {color:black; background-color:white; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; border-color: #F0F0F0 #808080 #808080 #F0F0F0; margin:0; padding:0}

/* Internal frames */
.windowContent      {position:relative; width:100%; height:100%; background: #eaeff4; }

/** Tree control */
.tree		    {background-color:white; color: #000; }
.tree table     {width: 100%; }
.treeSel	{color:black; background-color:#a9c3e6; }
.treeSelPulldownIE8 .treeSel { background-image:url(../images/custom_tree/pulldown.gif); background-position: 100% 50%; background-attachment: inherit; background-repeat:no-repeat; padding-right:12px; height: 100%; width: 100%; }
.treeSelPulldown .treeSel { background-image:url(../images/custom_tree/pulldown.gif); background-position: 100% 50%; background-repeat:no-repeat; padding-right:12px; }
.treeSelOuter {	background: #a9c3e6;}
.tableTreeElement .treeReg span {color:#000;}
.tableTreeElement .treeSel span {color:#000; background-color:transparent;}

/* --- UI Tree tabs --- */
.ui-tabs-nav a, .ui-tabs-nav a span { /*background: #eaeff4;*/ }
.ui-tabs-panel  {background-color: #eee; border:1px solid #999; }
.border .ui-tabs-panel { border:1px solid #999999; }

/* Internal frames */
.window         {background:#EEE; }
.windowBar      {color:black; font-weight: bold; background: #a9c3e6 url(../images/ajaxswing/dialog_gradient_back.gif) repeat-x 0px 0px; border: 0px; }
.windowBar-selected {color:black; font-weight: bold; background: #5675AB url(../images/ajaxswing/dialog-bar-bg.gif) repeat-x 0px 0px ; border: 0px;}

/* Tabbes Pane */

*+html .ui-tabs-panel {
	clear: both;
	position: relative;
	margin-top: -1px;
}

.ui-tabs-nav a, .ui-tabs-nav a span {
	font-size: 11px;
	background: #eeeeee;
	color: #000000;
	font-weight: normal;
}

.ui-tabs-nav a {
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
}

.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav .ui-tabs-selected a span {
    color: #000000 !important;
    background: #eeeeee;
    font-weight: bold;
}

ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited {
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #999999;	
}


.ui-tabs-nav li {
	margin: 0 0 0 5px;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
	padding-left:4px;
	padding-right:4px;
}

.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, 
.ui-tabs-nav .ui-tabs-selected a:hover, .ui-tabs-nav .ui-tabs-selected a:hover span {
	color:#000000 !important; 
	background: #eeeeee;
}

.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span { background: #ebfbd2;}


/* ------ modal proxi table ------- */
.wcPulldownMenu a.menuText {border-bottom: 1px solid #999 !important;}

#checkboxopaque	    {background-color:#EEEEEE; }


/* Button styles
------------------------------------ */

.button:hover { background-color:#cff593 !important;}
.btn-non-enabled:hover  { background-color:#ecf4fe !important;}
.window .scrollPane .btn-body table tr {background: none;}

.button table td {border: 0px;}

.toolBar .btn-lt { background: url(../images/ajaxswing/btn/tlt.gif) no-repeat 0px 0px;}
.toolBar .btn-rt { background: url(../images/ajaxswing/btn/trt.gif) no-repeat 100% 0px;}
.toolBar .btn-rb { background: url(../images/ajaxswing/btn/trb.gif) no-repeat 100% 100%;}
.toolBar .btn-lb { background: url(../images/ajaxswing/btn/tlb.gif) no-repeat 0px 100%;}

.toolBar .button:hover .btn-lt { background: url(../images/ajaxswing/btn/tlt-gh.gif) no-repeat 0px 0px;}
.toolBar .button:hover .btn-rt { background: url(../images/ajaxswing/btn/trt-gh.gif) no-repeat 100% 0px;}
.toolBar .button:hover .btn-rb { background: url(../images/ajaxswing/btn/trb-gh.gif) no-repeat 100% 100%;}
.toolBar .button:hover .btn-lb { background: url(../images/ajaxswing/btn/tlb-gh.gif) no-repeat 0px 100%;}

.menu .btn-lt { background: url(../images/ajaxswing/btn/mlt.gif) no-repeat 0px 0px;}
.menu .btn-rt { background: url(../images/ajaxswing/btn/mrt.gif) no-repeat 100% 0px;}
.menu .btn-rb { background: url(../images/ajaxswing/btn/mrb.gif) no-repeat 100% 100%;}
.menu .btn-lb { background: url(../images/ajaxswing/btn/mlb.gif) no-repeat 0px 100%;}

.menu .button:hover .btn-lt { background: url(../images/ajaxswing/btn/mlt-gh.gif) no-repeat 0px 0px;}
.menu .button:hover .btn-rt { background: url(../images/ajaxswing/btn/mrt-gh.gif) no-repeat 100% 0px;}
.menu .button:hover .btn-rb { background: url(../images/ajaxswing/btn/mrb-gh.gif) no-repeat 100% 100%;}
.menu .button:hover .btn-lb { background: url(../images/ajaxswing/btn/mlb-gh.gif) no-repeat 0px 100%;}

.table .row-even .button {
	background: #ecf4fe url(../images/ajaxswing/btn/butt-bg.gif) repeat-x 0px 100%; text-align: center;
	}
.table .row-even .button:hover {
	background: #cff593 url(../images/ajaxswing/btn/butt-bg-over.gif) repeat-x 0px 100%; text-align: center;
	}
.table .row-even .btn-non-enabled:hover {
	background: #ecf4fe url(../images/ajaxswing/btn/butt-bg.gif) repeat-x 0px 100%; text-align: center;
	}

.ui-tabs-panel .table .row-even .button table td,
.ui-tabs-panel .table .row-odd .button table td,
.ui-tabs-panel .table .row-even .button:hover table td,
.ui-tabs-panel .table .row-odd .button:hover table td 
{
	background-color: transparent !important;
}

.ui-tabs-panel .table .button table td table {width: 100%;}
.ui-tabs-panel .table .button table td table * { text-align: center;}
.monospace	{font-family: monospace !important;}

/* Toolbar 
---------------------------------------------*/
.toolBar {background-color: #a9c3e6;}

/* Statusbar 
------------------------------------------------------ */
.statusBar        {background-color: #eeeeee; border: 1px solid #eeeeee;}
.statusBar .border {border: 1px solid #eeeeee;}

/* Special license dialog classes 
--------------------------------------------- */
.license-info-header      {background: #AAAAAA !important; color:white; font-family:monospace;}
.license-info input, .license-info textarea {font-family: monospace !important; font-size:11px !important;}

.btn-non-enabled:hover {cursor:default; background: #ecf4fe url(../images/ajaxswing/btn/butt-bg.gif) repeat-x 0px 100%; overflow:hidden;}
.btn-non-enabled:hover .btn-inner {cursor:default; }
.btn-non-enabled:hover .buttonFocus {cursor:default; }

.btn-non-enabled:hover .btn-bor-t { background: url(../images/ajaxswing/btn/bt.gif) repeat-x 0px 0px;}
.btn-non-enabled:hover .btn-bor-r { background: url(../images/ajaxswing/btn/br.gif) repeat-y 100% 0px;}
.btn-non-enabled:hover .btn-bor-b { background: url(../images/ajaxswing/btn/bb.gif) repeat-x 0px 100%;}
.btn-non-enabled:hover .btn-bor-l { background: url(../images/ajaxswing/btn/bl.gif) repeat-y 0px 100%;}

.btn-non-enabled:hover .btn-lt { background: url(../images/ajaxswing/btn/lt.gif) no-repeat 0px 0px;}
.btn-non-enabled:hover .btn-rt { background: url(../images/ajaxswing/btn/rt.gif) no-repeat 100% 0px;}
.btn-non-enabled:hover .btn-rb { background: url(../images/ajaxswing/btn/rb.gif) no-repeat 100% 100%;}
.btn-non-enabled:hover .btn-lb { background: url(../images/ajaxswing/btn/lb.gif) no-repeat 0px 100%;}

.tableCell .checkbox input.checkbox  {padding:0px!important;}
.tableCell .checkbox {white-space:nowrap}; .tableCell .checkbox label {white-space:nowrap};