<swing-frame panel="{{ hostsCtrl.getSwingPanel() }}" class="Hosts"></swing-frame>
<p ng-show="hostsCtrl.canToggleLogs" class="toggleLogs">
  <input type="checkbox"
         class="toggleMessages"
         ng-model="hostsCtrl.showLog"
         ng-change="hostsCtrl.onShowLogChanged()">

  <label>{{'Show Message Pane' | translate}}</label>
</p>
