<div id="login" ng-controller="LoginCtrl as loginCtrl">
  <div class="login-box">
        <div class="login-box-inner">

          <span class="icon icon-product-logo-blue"></span>

          <form class="login-form" ng-show="loginCtrl.isLoginAvailable">
            <div alert="loginCtrl.alert"></div>

            <div class="input-wrap login-choice" ng-show="!loginCtrl.loginRules.userRequired" >

              <div class="col col-4-8">
                <input type="radio" name="login-choice" ng-model="loginCtrl.editMode" ng-value="false">
                <label class="login-label">{{ 'View only' | translate }}</label>
              </div>
              <div class="col col-4-8">
                <input type="radio" name="login-choice" ng-model="loginCtrl.editMode" ng-value="true">
                <label class="login-label">{{ 'Edit' | translate }}</label>
              </div>

            </div>

            <div class="input-wrap" ng-show="loginCtrl.loginRules.userRequired" >
              <input class="login-user" type="text" placeholder="{{ 'Username' | translate }}" ng-model="loginCtrl.loginUsername">
                <span class="icon login-username"></span>
            </div>

            <div class="input-wrap">
              <input class="login-password" type="password" placeholder="{{ 'Password' | translate }}" ng-model="loginCtrl.loginPassword">
              <span class="icon login-password"></span>
            </div>

            <button class="full-width" type="submit" value="Submit" ng-click="loginCtrl.onLoginClick()" ng-disabled="loginCtrl.isLoggingIn">
              <span ng-show="loginCtrl.isLoggingIn" class="spinner spinner-orange"></span>
              <span>{{ 'Login' | translate }}</span>
            </button>

          </form>

          <form class="login-form" ng-show="!loginCtrl.isLoginAvailable">
            <div alert="loginCtrl.alert"></div>
            <button class="full-width" type="button" ui-sref="unauth.login" ui-sref-opts="{reload: true}">
              <span>{{ 'Refresh' | translate }}</span>
            </button>
          </form>

        </div>
    </div>
</div>
