<li class="folder"
    ng-controller="ShareTreeItemCtrl as shareTreeItemCtrl"
    ng-class="{
       'folder-open': shareTreeItemCtrl.isOpen && shareTreeItemCtrl.hasChildrenLoaded(),
       'folder-no-child' : shareTreeItemCtrl.noChildrenExist(),
       'folder-no-perm': shareTreeItemCtrl.cannotReceiveFiles()
    }"
    ng-click="shareTreeItemCtrl.onNodeClick($event)"
    data-qa-node-id="{{shareTreeItemCtrl.folder.id}}"
    ng-disabled="shareTreeItemCtrl.cannotReceiveFiles()">
  <div ng-class="{ 'folder-selected': shareTreeItemCtrl.isSelected}"
       title="{{shareTreeItemCtrl.cannotReceiveFiles() ? 'No permission to move files to this folder' : shareTreeItemCtrl.folder.name | translate}}">
    <span class="folder-tri"
          ng-class="{
          'folder-no-child' : shareTreeItemCtrl.noChildrenExist(),
          'folder-tri-open' : shareTreeItemCtrl.isOpen && shareTreeItemCtrl.hasChildrenLoaded()}">
    </span>

    <span class="folder-ico"
          ng-class="{'folder-ico-open': shareTreeItemCtrl.isOpen && shareTreeItemCtrl.hasChildrenLoaded()}">
    </span>

    <span authorize="UPLOAD_NEW"
          permissions="shareTreeItemCtrl.folder.permissions"
          is-forbidden="shareTreeItemCtrl.isMoveForbidden"
          data-qa-node-name="{{shareTreeItemCtrl.folder.name}}">
      {{shareTreeItemCtrl.folder.name}}
    </span>

    <span ng-show="shareTreeItemCtrl.isLoadingChildren" class="spinner spinner-orange"></span>
  </div>

  <ul ng-show="shareTreeItemCtrl.isOpen" data-qa-children>
    <ng-include
      ng-repeat="childFolder in shareTreeItemCtrl.children | orderBy:'name'"
      src="'scripts/shared/shareTree/shareTreeSubItem.html'">
    </ng-include>
  </ul>
</li>
