<div data-id="popover"
     class="popover"
     ng-class="{'popover-abs' : !popoverFixed, 'popover-fixed' : popoverFixed}"
     ng-if="popover.isOpen"
     ng-click="popover.onPopoverClick($event)"
     on-right-click="popover.onPopoverRightClick($event)"
     ng-style="position">
  <div class="popover-dialog">
    <div class="popover-content">
      <div data-id="inner-view" ng-transclude></div>
    </div>
  </div>
</div>